<div class="score-query">
    <div class="left-tree-area " *ngIf="isSysAdmin">
        <div class="hospital-search-block">
            <input style="width: 90%;" name="filterHospitalName" type="text" pInputText [(ngModel)]="filterHospitalName" placeholder="区域/医院"
            />
            <span class="icon iconfont icon-sousuo" (click)="getAreasAndHospitalsList()"></span>
        </div>
        <div class="left-tree-list">
            <p-tree [style]="{'height': '100%','width': '100%'}" [value]="areasAndHospitals" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="selectNode()"></p-tree>
        </div>
    </div>
    <div class="right-area" *ngIf="showDataTable" [ngStyle]="{'width':isSysAdmin?'76%':'100%'}">
        <kyee-score-config *ngIf="isSwitch && !isNewScoreConfig" [currentUserInfo]="currentUserInfo" [currentAreaCode]="currentAreaCode" [currentHosCode]="currentHosCode" [hosAreaCode]="hosAreaCode"></kyee-score-config>
        <kyee-score-config-new *ngIf="isSwitch && isNewScoreConfig" [currentUserInfo]="currentUserInfo" [currentAreaCode]="currentAreaCode" [currentHosCode]="currentHosCode" [hosAreaCode]="hosAreaCode"></kyee-score-config-new>
    </div>
</div>