@charset "UTF-8";

* {
  box-sizing: border-box;
}

.text-ellipsis {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-wrap {
    word-wrap: break-word;
    word-break: break-all;
}

/*margin*/
.mlr-10{
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .ml-20{
    margin-left: 20px !important;
  }
  .ml-10{
    margin-left: 10px !important;
  }
  .mr-10{
    margin-right: 10px !important;
  }
  .mr-20{
    margin-right: 20px !important;
  }
  .mr-5{
    margin-right: 5px;
  }
  .ml-30{
    margin-left: 30px !important;
  }
  .ml-50{
    margin-left: 50px !important;
  }
  .mt-5{
    margin-top: 5px !important;
  }
  .mt-8{
    margin-top: 8px !important;
  }
  .mt-10{
    margin-top: 10px !important;
  }
  .mt-20{
    margin-top: 20px !important;
  }
  .mt-22{
    margin-top: 22px !important;
  }
  .mt-24{
    margin-top: 24px !important;
  }
  .mt-25{
    margin-top: 25px !important;
  }
  .mb-10{
    margin-bottom: 10px !important;
  }
  .mb-20{
    margin-bottom: 20px !important;
  }
  .mtb-5{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .mtb-10{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .mtb-20{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .pad-lr-5 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .pad-t-5 {
    padding-top: 5px;
  }

  .pad-b-5 {
    padding-bottom: 5px;
  }
  .pad-lr-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pad-tb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .clearfix:after{
    display: table;
    content: "";
    visibility: hidden;
    clear: both;
  }

.txt-a-c {
  text-align: center;
}
.txt-a-r {
  text-align: right;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.ui-dialog.ui-confirmdialog {
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(29, 77, 123, 0.1);
  box-shadow: 0px 2px 4px 0px rgba(29, 77, 123, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

p-dialog .ui-widget.ui-dialog .ui-dialog-titlebar, .ui-dialog.ui-confirmdialog .ui-dialog-titlebar {
  height: 40px;
  background: -webkit-gradient(linear,left top,left bottom,from(#f9fafd),to(#e3e4e7));
  background: linear-gradient(180deg,#f9fafd,#e3e4e7);
  .ui-dialog-titlebar-icon, .ui-dialog-title {
      font-size: 1em; 
  }
  .ui-dialog-titlebar-icon:hover {
      margin-right: -3px;
      border: 4px solid transparent;
      border-radius: 15px;
      background: rgba(235,86,74,.2);
      color: #eb564a;
  }
}
.ui-dialog.ui-widget .ui-dialog-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  background: #f9f9fa;
  -webkit-box-shadow: 0 -2px 4px 0 rgba(29,77,123,.1);
  box-shadow: 0 -2px 4px 0 rgba(29,77,123,.1);
}

.ui-widget.ui-button {
  border-radius: 15px;
  border: 1px solid #4297fe;
  color: #fff;
  background: #4297fe;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}
.ui-calendar-button.ui-widget.ui-button {
  border-radius: 0 3px 3px 0;
}

.ui-button[ng-reflect-icon*="icon-cancel"] {
  border: 1px solid #d7ecfc;
  color: #4296fe;
  background: #d7ecfc;
}
  
.ui-datatable tbody.ui-datatable-hoverable-rows > tr.ui-widget-content:not(.ui-state-highlight):hover {
    cursor: pointer;
    background: #eaf0fa;
    color: #404447;
}

.col-button {
  width: 15%;
  text-align: center;
}

.ui-overlaypanel {
  padding: 0;
  margin: 0;
  position: absolute;
}

.ui-overlaypanel-content {
  padding: 0.5em 1em;
}

.ui-overlaypanel-close {
  position: absolute;
  top: -.5em;
  right: -.5em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.ui-multiselect-filter-container input[type="text"].ui-inputtext{
  padding-left: 20px !important;
}

// 优化 PrimeNG 单选按钮选中样式
.ui-radiobutton-box {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-radiobutton-box .ui-radiobutton-icon {
  font-size: .5em;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
