.main{
    height: 100%;
    .ops{
        margin: 3px 0;
    }
    .data{
        height:calc(100% - 36px);
    }
}
:host /deep/ .main .data table td{
    padding: 3px;
}
/deep/ .import-file-dialog {
    .ui-dialog {
        width: 40%;
    }
    .ui-widget-header {
        font-weight: 700;
    }
    .ui-widget.ui-dialog .ui-dialog-titlebar{
        padding: 5px 20px;
    }
    .impot-file-content {
        padding: 15px 15px 30px 15px;
        .import-file-area {
            display: flex;
            justify-items: center;
            align-items: flex-start;
            label {
                margin-top: 5px;
            }
            .import-file-name {
                color: #FF9800;
            }
            .remove-file-btn {
                color: #69b4d0;
                cursor: pointer;
            }
        }
    }
}
:host /deep/ .nursing-from-detail .ui-widget-content{
    width: calc(100% - 200px);
    height: calc(100vh - 10px);
}
:host /deep/ .ui-datatable-scrollable-body{
    max-height: 100%;
}
:host /deep/ .ui-button-text-icon-left .ui-button-text{
    padding: .1em 1em .1em 2.1em;
}
:host /deep/ .data .ui-button-text-only .ui-button-text{
    padding:0.1em 1em;
}
// :host ::ng-deep .ui-datatable-scrollable {
//     max-height: calc(100vh - 190px) !important;
// }

:host ::ng-deep .ui-datatable-scrollable-body {
    max-height: calc(100vh - 220px) !important;
}

.remaid{
    float: right;
    font-style: normal;
    color: red;
    font-size: 14px;
}
