<div *ngIf="selectParamType ==='体温单'">
  <div *ngIf="showOtherProperty('visible','体温单配置') || showOtherProperty('visible','新生儿体温单配置')">
    <div *ngIf="showOtherProperty('visible','体温单配置')" class="params" style="line-height: 40px;background-color: #ddd;">
      <div style="display: inline-block;padding-left: 10px;">体温单配置</div>
      <button pButton type="button" (click)="saveConfig()" label="保存"
        style="float:right;margin-right:30px;margin-top: 5px;"></button>
    </div>
    <div *ngIf="showOtherProperty('visible','新生儿体温单配置')" class="params"
      style="line-height: 40px;background-color: #ddd;">
      <div style="display: inline-block;padding-left: 10px;">新生儿体温单配置</div>
      <button pButton type="button" (click)="saveConfig('baby')" label="保存"
        style="float:right;margin-right:30px;margin-top: 5px;"></button>
    </div>
    <ul class="config-box">
      <li *ngIf="config['logo']">
        <label>体温单标题是否使用图片logo</label>
        <div style="display: inline-block; width: 49%;text-align: right;">
          <p-inputSwitch [(ngModel)]="config['logo']['open']"></p-inputSwitch>
        </div>
        <div *ngIf="config['logo']&&config['logo']['open']">
          <div style="display:inline-block;width: 160px;height: 40px;border: 1px solid #ddd;text-align: center;">
            <img src="{{templateLogo}}" style="width: 160px;height: 40px;padding-top: 8px;">
          </div>
          <div style="display:inline-block;" class="file-upload">
            <p style="margin-bottom: 5px;">（LOGO格式为 .png，尺寸为 160 * 40）</p>
            <p-fileUpload *ngIf="showOtherProperty('visible','体温单配置')" mode="advanced" [showUploadButton]="false"
              [showCancelButton]="false" chooseLabel="点击上传" [customUpload]="true"
              (onSelect)="tempLogoUploader($event,'体温单配置')" accept="image/*"></p-fileUpload>
            <p-fileUpload *ngIf="showOtherProperty('visible','新生儿体温单配置')" mode="advanced" [showUploadButton]="false"
              [showCancelButton]="false" chooseLabel="点击上传" [customUpload]="true"
              (onSelect)="tempLogoUploader($event,'新生儿体温单配置')" accept="image/*"></p-fileUpload>
          </div>
        </div>
      </li>
      <li>
        <label>字体：</label>
        <input type="text" pInputText [(ngModel)]="config['font']">
      </li>
      <li *ngIf="config['sizeConfig']">
        <label>行数：</label>
        <div style="padding-left: 20px;">
          <span>绘制区域的总行数</span>
          <input type="number" pInputText [(ngModel)]="config['sizeConfig']['curveRowCount']">
        </div>
        <div style="padding-left: 20px;">
          <span>一日一次区域的总行数</span>
          <input type="number" pInputText [(ngModel)]="config['sizeConfig']['footRowCount']">
        </div>
      </li>
      <li>
        <label>数据绘制的对应时间点：（输入数字后回车）</label>
        <p-chips [(ngModel)]="config['timePoint']"></p-chips>
      </li>
      <li>
        <label>体温单是否隐藏断线体征处的文字说明</label>
        <div style="display: inline-block; width: 49%;text-align: right;">
          <p-inputSwitch [(ngModel)]="config['hiddenBrokenLineText']"></p-inputSwitch>
        </div>
      </li>
      <li>
        <label>绘制区域数据项：</label>
        <ul class="data-config">
          <li>
            <span style="width:100px;">项目名称</span>
            <span style="width:60px;">项目编码</span>
            <span style="width:60px;">项目单位</span>
            <span style="width:50px;">最小值</span>
            <span style="width:50px;">最大值</span>
            <span style="width:60px;">是否绘制曲线</span>
            <span style="width:60px;">项目图标显示颜色</span>
            <span style="width:300px;">项目数据录入的校验正则表达式</span>
            <span style="width:150px;">项目录入数据时不符合以上正则的提示信息</span>
            <span style="width:200px;">项目默认的可选项</span>
            <span style="width:100px;">项目录入数据的控件类型</span>
            <span style="width:115px;">项目在录数据区域列表中的显示排序</span>
            <button pButton type="button" (click)="addConfig('curve',config['curveConfigs'])" label="增加"></button>
          </li>
          <li *ngFor="let item of config['curveConfigs'];let i=index">
            <input type="text" pInputText style="width:100px;" [(ngModel)]="item['displayName']">
            <input type="text" pInputText style="width:60px;" [(ngModel)]="item['code']">
            <input type="text" pInputText style="width:60px;" [(ngModel)]="item['unit']">
            <input type="number" pInputText style="width:50px;" [(ngModel)]="item['min']">
            <input type="number" pInputText style="width:50px;" [(ngModel)]="item['max']">
            <p-dropdown [style]="{'width':'60px'}" [options]="trueOrFalseOptions" [(ngModel)]="item['drawLine']"
              placeholder="请选择" appendTo="body"></p-dropdown>
            <input type="text" pInputText style="width:60px;" [(ngModel)]="item['color']">
            <input type="text" pInputText style="width:300px;" [(ngModel)]="item['regexPattern']">
            <input type="text" pInputText style="width:150px;" [(ngModel)]="item['errorText']">
            <input type="text" pInputText style="width:200px;" [(ngModel)]="item['optionStr']">
            <p-dropdown [style]="{'width':'100px'}" [options]="widgetTypeOptions" [(ngModel)]="item['widgetType']"
              placeholder="请选择" appendTo="body"></p-dropdown>
            <input type="number" pInputText style="width:115px;" [(ngModel)]="item['order']">
            <button pButton type="button" (click)="removeConfig(config['curveConfigs'],i,'curve')" label="删除"></button>
          </li>
        </ul>
        <p style="color:red;">注：最大值、最小值要和模板匹配。</p>
      </li>
      <li>
        <label>疼痛区域绘制数据项：</label>
        <div style="display: inline-block; width: 49%;text-align: right;">
          <p-inputSwitch [(ngModel)]="enableConfig['pain']"
            (onChange)="switchEnableConfig('pain',enableConfig['pain'])"></p-inputSwitch>
        </div>
        <p style="color:red;">体温单显示版本配置选择 无疼痛强度、绘制呼吸无疼痛 以及 新生儿体温单 不需要开启该项。</p>
        <ul class="data-config" *ngIf="enableConfig['pain']">
          <li>
            <span style="width:100px;">项目名称</span>
            <span style="width:60px;">项目编码</span>
            <span style="width:60px;">项目单位</span>
            <span style="width:50px;">最小值</span>
            <span style="width:50px;">最大值</span>
            <span style="width:60px;">是否绘制曲线</span>
            <span style="width:60px;">项目图标显示颜色</span>
            <span style="width:300px;">项目数据录入的校验正则表达式</span>
            <span style="width:150px;">项目录入数据时不符合以上正则的提示信息</span>
            <span style="width:200px;">项目默认的可选项</span>
            <span style="width:100px;">项目录入数据的控件类型</span>
            <span style="width:115px;">项目在录数据区域列表中的显示排序</span>
            <button pButton type="button" (click)="addConfig('pain',config['painConfig'])" label="增加"></button>
          </li>
          <li *ngFor="let item of config['painConfig'];let i=index">
            <input type="text" pInputText style="width:100px;" [(ngModel)]="item['displayName']">
            <input type="text" pInputText style="width:60px;" [(ngModel)]="item['code']">
            <input type="text" pInputText style="width:60px;" [(ngModel)]="item['unit']">
            <input type="number" pInputText style="width:50px;" [(ngModel)]="item['min']">
            <input type="number" pInputText style="width:50px;" [(ngModel)]="item['max']">
            <p-dropdown [style]="{'width':'60px'}" [options]="trueOrFalseOptions" [(ngModel)]="item['drawLine']"
              placeholder="请选择" appendTo="body"></p-dropdown>
            <input type="text" pInputText style="width:60px;" [(ngModel)]="item['color']">
            <input type="text" pInputText style="width:300px;" [(ngModel)]="item['regexPattern']">
            <input type="text" pInputText style="width:150px;" [(ngModel)]="item['errorText']">
            <input type="text" pInputText style="width:200px;" [(ngModel)]="item['optionStr']">
            <input type="text" pInputText style="width:100px;" [(ngModel)]="item['widgetType']">
            <input type="number" pInputText style="width:115px;" [(ngModel)]="item['order']">
            <button pButton type="button" (click)="removeConfig(config['painConfig'],i,'pain')" label="删除"></button>
          </li>
        </ul>
      </li>
      <li>
        <label>呼吸配置项：</label>
        <div style="display: inline-block; width: 49%;text-align: right;">
          <p-inputSwitch [(ngModel)]="enableConfig['breath']"
            (onChange)="switchEnableConfig('breath',enableConfig['breath'])"></p-inputSwitch>
        </div>
        <p style="color:red;">体温单显示版本配置选择 绘制呼吸无疼痛 以及 新生儿体温单 不需要开启该项。</p>
        <p style="color:red;">体温单显示版本配置选择 绘制呼吸无疼痛、绘制呼吸有疼痛 以及 新生儿体温单 不需要开启该项。</p>
        <ul class="data-config" *ngIf="enableConfig['breath']">
          <li>
            <span style="width:100px;">项目名称</span>
            <span style="width:60px;">项目编码</span>
            <span style="width:60px;">项目单位</span>
            <span style="width:60px;">项目图标显示颜色</span>
            <span style="width:300px;">项目数据录入的校验正则表达式</span>
            <span style="width:150px;">项目录入数据时不符合以上正则的提示信息</span>
            <span style="width:200px;">项目默认的可选项</span>
            <span style="width:100px;">项目录入数据的控件类型</span>
            <span style="width:115px;">项目在录数据区域列表中的显示排序</span>
            <span style="width:80px;">文字是否绘制为图标</span>
          </li>
          <li>
            <input type="text" pInputText style="width:100px;" [(ngModel)]="config['breathConfig']['displayName']">
            <input type="text" pInputText style="width:60px;" [(ngModel)]="config['breathConfig']['code']">
            <input type="text" pInputText style="width:60px;" [(ngModel)]="config['breathConfig']['unit']">
            <input type="text" pInputText style="width:60px;" [(ngModel)]="config['breathConfig']['color']">
            <input type="text" pInputText style="width:300px;" [(ngModel)]="config['breathConfig']['regexPattern']">
            <input type="text" pInputText style="width:150px;" [(ngModel)]="config['breathConfig']['errorText']">
            <input type="text" pInputText style="width:200px;" [(ngModel)]="config['breathConfig']['optionStr']">
            <input type="text" pInputText style="width:100px;" [(ngModel)]="config['breathConfig']['widgetType']">
            <input type="number" pInputText style="width:115px;" [(ngModel)]="config['breathConfig']['order']">
            <p-dropdown [style]="{'width':'80px','margin-top':'-5px'}" [options]="trueOrFalseOptions" [(ngModel)]="config['breathConfig']['useIcon']"
            placeholder="请选择" appendTo="body"></p-dropdown>
          </li>
        </ul>
        <p style="color:red;">注：呼吸以数据显示需要配置，若呼吸以曲线绘制，则无需配置该项，直接将呼吸绘制的配置项加到【绘制区域数据项】配置区域内即可</p>
      </li>
      <li>
        <label>体温单头部信息：</label>
        <ul class="data-config data-config-cover">
          <li>
            <span style="width:100px;">当前项名称</span>
            <span style="width:100px;">当前项类型</span>
            <span style="width:60px;">项目图标显示颜色</span>
          </li>
          <li *ngFor="let item of config['headerConfig'];let i=index">
            <input type="text" pInputText style="width:100px;" [(ngModel)]="item['titleText']">
            <input type="text" pInputText style="width:100px;" [(ngModel)]="item['contentType']">
            <input type="text" pInputText style="width:100px;" [(ngModel)]="item['color']">
          </li>
        </ul>
        <p style="color:red;">注：体温单日期、住院天数、手术后天数文字颜色配置,红色编码为#f00,蓝色编码为#00f</p>
      </li>
      <li>
        <label>绘制关联关系的配置项（体温和降温和升温、疼痛值和疼痛复评）：</label>
        <ul class="data-config data-config-cover">
          <li>
            <span style="width:120px;">关联项的所在区域</span>
            <span style="width:70px;">关联项编码</span>
            <span style="width:70px;">关联项编码</span>
            <button pButton type="button" (click)="addConfig('relation',config['relationPairs'])" label="增加"></button>
          </li>
          <li *ngFor="let item of config['relationPairs'];let i=index">
            <input type="text" pInputText style="width:120px;" [(ngModel)]="item['area']">
            <input type="text" pInputText style="width:70px;" [(ngModel)]="item['codeA']">
            <input type="text" pInputText style="width:70px;" [(ngModel)]="item['codeB']">
            <button pButton type="button" (click)="removeConfig(config['relationPairs'],i)" label="删除"></button>
          </li>
        </ul>
        <div>编码说明：TW->体温；JWHTW->降温后体温；TTZ->疼痛；TTFP->疼痛复评；</div>
        <p style="color:red;">注：此处的关联项编码必须在【绘制区域数据项】或者【疼痛区域绘制数据项】存在。</p>
      </li>
      <li>
        <div style="margin: 5px 0px;display: flex;align-items: center;">
          <label>多事件显示方式：</label>
          <p-dropdown [style]="{'width':'80px'}" [options]="eventShowTypeOptions" [(ngModel)]="config['eventShowType']"
           appendTo="body"></p-dropdown>
        </div>
        <label>患者事件可选项：</label>
        <ul class="data-config data-config-cover">
          <li>
            <span style="width:100px;">事件名称</span>
            <span style="width:60px;">事件代码</span>
            <span style="width:60px;">患者类型</span>
            <span style="width:90px;">是否显示时间</span>
            <span style="width:90px;">是否绘制竖线</span>
            <button pButton type="button" (click)="addConfig('event',config['eventData'])" label="增加"></button>
          </li>
          <li *ngFor="let item of config['eventData'];let i=index">
            <input type="text" pInputText style="width:100px;" [(ngModel)]="item['事件名称']">
            <input type="text" pInputText style="width:60px;" [(ngModel)]="item['事件代码']">
            <input type="text" pInputText style="width:60px;" [(ngModel)]="item['患者类型']">
            <p-dropdown [style]="{'width':'90px'}" [options]="trueOrFalseOptions" [(ngModel)]="item['是否显示时间']"
              placeholder="请选择" appendTo="body" (click)="change()"></p-dropdown>
            <p-dropdown [style]="{'width':'90px'}" [options]="trueOrFalseOptions" [(ngModel)]="item['是否绘制竖线']"
              placeholder="请选择" appendTo="body" (click)="change()"></p-dropdown>
            <button pButton type="button" (click)="removeConfig(config['eventData'],i)" label="删除"></button>
          </li>
        </ul>
        <p style="color:red;">患者类型：1表示成人 2表示婴儿</p>
      </li>
      <li>
        <label>患者自动生成入院事件时优先使用入科时间</label>
        <div style="display: inline-block; width: 49%;text-align: right;">
          <p-inputSwitch [(ngModel)]="config['inHosEventUseInDeptTimeFirst']"></p-inputSwitch>
        </div>
        <p style="color:red;">默认关闭，关闭时入科时间为空或入科时间和入院时间在同一天就使用入院时间，否则使用入科时间；开启时优先使用入科时间，入科时间为空时使用入院时间。</p>
      </li>
      <li>
        <label>一日一次配置项：</label>
        <ul class="data-config">
          <li>
            <span style="width:100px;">是否可选</span>
            <span style="width:100px;">项目名称</span>
            <span style="width:60px;">项目编码</span>
            <span style="width:60px;">项目单位</span>
            <span style="width:60px;">项目图标显示颜色</span>
            <span style="width:300px;">项目数据录入的校验正则表达式</span>
            <span style="width:150px;">项目录入数据时不符合以上正则的提示信息</span>
            <span style="width:200px;">项目默认的可选项</span>
            <span style="width:100px;">项目录入数据的控件类型</span>
            <span style="width:115px;">项目在录数据区域列表中的显示排序</span>
            <button pButton type="button" (click)="addConfig('once',config['onceConfigs'])" label="增加"></button>
          </li>
          <li *ngFor="let item of config['onceConfigs'];let i=index">
            <p-dropdown [style]="{'width':'100px'}" [options]="trueOrFalseOptions" [(ngModel)]="item['isCustom']"
              placeholder="请选择" appendTo="body"></p-dropdown>
            <input type="text" pInputText style="width:100px;" [(ngModel)]="item['displayName']">
            <input type="text" pInputText style="width:60px;" [(ngModel)]="item['code']">
            <input type="text" pInputText style="width:60px;" [(ngModel)]="item['unit']">
            <input type="text" pInputText style="width:60px;" [(ngModel)]="item['color']">
            <input type="text" pInputText style="width:300px;" [(ngModel)]="item['regexPattern']">
            <input type="text" pInputText style="width:150px;" [(ngModel)]="item['errorText']">
            <input type="text" pInputText style="width:200px;" [(ngModel)]="item['optionStr']">
            <p-dropdown [style]="{'width':'100px'}" [options]="widgetTypeOptions" [(ngModel)]="item['widgetType']"
              placeholder="请选择" appendTo="body"></p-dropdown>
            <input type="number" pInputText style="width:115px;" [(ngModel)]="item['order']">
            <button pButton type="button" (click)="removeConfig(config['onceConfigs'],i)" label="删除"></button>
          </li>
        </ul>
      </li>
      <li>
        <label>是否显示项配置：</label>
        <ul class="data-config data-config-cover">
          <li>
            <span style="width:100px;">项目名称</span>
            <span style="width:60px;">项目编码</span>
            <span style="width:130px;">项目显示的校验字段</span>
            <span style="width:300px;">项目显示的校验规则</span>
            <button pButton type="button" (click)="addShowItems(showItems)" label="增加"></button>
          </li>
          <li *ngFor="let item of showItems;let i=index">
            <input type="text" pInputText style="width:100px;" [(ngModel)]="item['displayName']">
            <input type="text" pInputText style="width:60px;" [(ngModel)]="item['code']">
            <input type="text" pInputText style="width:130px;" [(ngModel)]="item['checkField']">
            <input type="text" pInputText style="width:300px;" [(ngModel)]="item['checkRule']">
            <button pButton type="button" (click)="removeShowItems(showItems,i)" label="删除"></button>
          </li>
        </ul>
        <p style="color:red;">项目名称、项目编码：一日一测配置项；项目显示的校验字段：用来校验该配置项的患者基础信息的字段；项目显示的校验规则：根据患者基础信息的值进行校验。例子如下：
          <br />项目名称：月经；项目编码：YJ；项目显示的校验字段：性别；项目显示的校验规则：^(女)$ <br />表示如果患者性别为女才显示月经一日一测项目。
        </p>
      </li>
      <li *ngIf="showOtherProperty('visible','体温单配置')">
        <label>体征字典可选项：</label>
        <ul class="data-config data-config-cover">
          <li>
            <span style="width:100px;">体征名称</span>
            <span style="width:60px;">体征代码</span>
            <span style="width:60px;">体征单位</span>
            <button pButton type="button" (click)="addConfig('dictionary',config['dictionary'])" label="增加"></button>
          </li>
          <li *ngFor="let item of config['dictionary'];let i=index">
            <input type="text" pInputText style="width:100px;" [(ngModel)]="item['体征名称']">
            <input type="text" pInputText style="width:60px;" [(ngModel)]="item['体征代码']">
            <input type="text" pInputText style="width:60px;" [(ngModel)]="item['体征单位']">
            <button pButton type="button" (click)="removeConfig(config['dictionary'],i)" label="删除"></button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngIf="showOtherProperty('visible','新生婴儿是否使用成人体温单')">
    <div class="params">
      <div style="display: inline-block;">新生婴儿是否使用成人体温单</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block;width: 100%;">
      <div class="currentCheckedValue">
        <span *ngIf="!paramBean['新生婴儿是否使用成人体温单']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
        <span *ngIf="paramBean['新生婴儿是否使用成人体温单']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
        当前：{{paramBean['新生婴儿是否使用成人体温单']? '启用' : '禁用'}}
      </div>
      <div style="display: inline-block; width: 49%;text-align: right;">
        <p-inputSwitch [(ngModel)]="paramBean['新生婴儿是否使用成人体温单']" (onChange)="saveHospitalParams()"></p-inputSwitch>
      </div>
    </div>
    <div class="params">启用时，新生婴儿使用成人体温单，全科体征处可以检索到新生婴儿记录，默认禁用</div>
  </div>
  <div *ngIf="showOtherProperty('visible','体温单显示版本配置')">
    <div class="params">
      <div style="display: inline-block;">体温单显示版本配置</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block; padding-left: 40px;">
      <p class="margin-t-15">当前选择:
        {{paramBean['体温单显示版本配置']?showOptionsLabel(showOtherProperty('options','体温单显示版本配置'),paramBean['体温单显示版本配置']):paramBean['体温单显示版本配置']}}
      </p>
    </div>
    <div style="display: inline-block; padding-left: 200px;text-align: center;">
      <p-dropdown [options]="showOtherProperty('options','体温单显示版本配置')" [(ngModel)]="paramBean['体温单显示版本配置']"
        placeholder="请选择" (onChange)="saveHospitalParams()"></p-dropdown>
    </div>
    <div class="params">
      参数说明：配置体温单对应的模板版本，不同版本绘制项目数据不同，默认为标准版本。<br />
      标准版本：体温单默认配置（包含疼痛曲线绘制，呼吸以数据录入显示）。<br />
      无疼痛强度：无疼痛强度绘制体温单模板。<br />
      绘制呼吸无疼痛：呼吸值以曲线形式绘制，并且无疼痛曲线绘制。<br />
      绘制呼吸有疼痛：呼吸值以曲线形式绘制，并且有疼痛曲线绘制。<br />
      山东省无疼痛体温单：体温单配置的体温单头部信息里面只保留日期；住院天数和手术后天数显示在底部，同时在一日一测进行配置（项目名称：住院天数、手术后天数），配置则显示，不配置不显示。<br />
      湖南省体温单：体温上下限（34-42）、心率上下限（20-200）、脉搏上下限（20-180）；体温不升在35℃顶格蓝色↓；无疼痛曲线绘制。<br />
      广东省体温单：无疼痛强度绘制体温单。<br />
    </div>
  </div>
  <div *ngIf="showOtherProperty('visible','体温单显示房颤阴影')">
    <div class="params">
      <div style="display: inline-block;">体温单显示房颤阴影</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block; padding-left: 40px;">
      <p class="margin-t-15">当前选择:
        {{paramBean['体温单显示房颤阴影']?showOptionsLabel(showOtherProperty('options','体温单显示房颤阴影'),paramBean['体温单显示房颤阴影']):paramBean['体温单显示房颤阴影']}}
      </p>
    </div>
    <div style="display: inline-block; padding-left: 200px;text-align: center;">
      <p-dropdown [options]="showOtherProperty('options','体温单显示房颤阴影')" [(ngModel)]="paramBean['体温单显示房颤阴影']"
        placeholder="请选择" (onChange)="saveHospitalParams()"></p-dropdown>
    </div>
    <div class="params">
      参数说明：体温单绘制时是否显示房颤阴影区域（房颤阴影：脉搏和心率围成的区域），默认为否不显示。
    </div>
  </div>
  <div *ngIf="showOtherProperty('visible','体温单显示心率脉搏连线')">
    <div class="params">
      <div style="display: inline-block;">体温单显示心率脉搏连线</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block; padding-left: 40px;">
      <p class="margin-t-15">当前选择:
        {{paramBean['体温单显示心率脉搏连线']?showOptionsLabel(showOtherProperty('options','体温单显示心率脉搏连线'),paramBean['体温单显示心率脉搏连线']):paramBean['体温单显示心率脉搏连线']}}
      </p>
    </div>
    <div style="display: inline-block; padding-left: 200px;text-align: center;">
      <p-dropdown [options]="showOtherProperty('options','体温单显示心率脉搏连线')" [(ngModel)]="paramBean['体温单显示心率脉搏连线']"
        placeholder="请选择" (onChange)="saveHospitalParams()"></p-dropdown>
    </div>
    <div class="params">
      参数说明：体温单绘制时是否显示心率脉搏连线（心率脉搏连线：脉搏和心率之间的连线），默认为否不显示。
    </div>
  </div>
  <div *ngIf="showOtherProperty('visible','体温单是否绘制体温上升下降标记')">
    <div class="params">
      <div style="display: inline-block;">体温单是否绘制体温上升下降标记</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block; padding-left: 40px;">
      <p class="margin-t-15">当前选择:
        {{paramBean['体温单是否绘制体温上升下降标记']?showOptionsLabel(showOtherProperty('options','体温单是否绘制体温上升下降标记'),paramBean['体温单是否绘制体温上升下降标记']):paramBean['体温单是否绘制体温上升下降标记']}}
      </p>
    </div>
    <div style="display: inline-block; padding-left: 200px;text-align: center;">
      <p-dropdown [options]="showOtherProperty('options','体温单是否绘制体温上升下降标记')" [(ngModel)]="paramBean['体温单是否绘制体温上升下降标记']"
        placeholder="请选择" (onChange)="saveHospitalParams()"></p-dropdown>
    </div>
    <div class="params">
      参数说明：体温单是否绘制体温上升/下降标记。
    </div>
  </div>
  <div *ngIf="showOtherProperty('visible','体温单显示在前一天的一日一测体征CODE配置')">
    <div class="params" style="line-height: 40px;background-color: #ddd;">
      <div style="display: inline-block;padding-left: 10px;">体温单显示在前一天的一日一测体征CODE配置</div>
      <button pButton type="button" (click)="saveHospitalParams()" label="保存"
        style="float:right;margin-right:30px;margin-top: 5px;"></button>
    </div>
    <div class="params">
      <p-multiSelect [style]="{'width': '100%'}" [panelStyle]="{'width': '100%'}" [options]="tempatureItemsOptions"
        [(ngModel)]="paramBean['体温单显示在前一天的一日一测体征CODE配置']" maxSelectedLabels="10"
        selectedItemsLabel='{0}项选择'></p-multiSelect>
    </div>
    <div class="params">说明：选择需要显示至前一天的体征项，选择后，录入的数据将显示在前一天。默认数据正常显示。</div>
  </div>
  <div *ngIf="showOtherProperty('visible','体温单住院天数从入院第二天算起')">
    <div class="params">
      <div style="display: inline-block;">体温单住院天数从入院第二天算起</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block;width: 100%;">
      <div class="currentCheckedValue">
        <span *ngIf="!paramBean['体温单住院天数从入院第二天算起']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
        <span *ngIf="paramBean['体温单住院天数从入院第二天算起']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
        当前：{{paramBean['体温单住院天数从入院第二天算起'] === false? '禁用' : '启用'}}
      </div>
      <div style="display: inline-block; width: 49%;text-align: right;">
        <p-inputSwitch [(ngModel)]="paramBean['体温单住院天数从入院第二天算起']" (onChange)="saveHospitalParams()"></p-inputSwitch>
      </div>
    </div>
    <div class="params">启用时，体温单住院天数入院第二天开始算为1，第一天不显示!
    </div>
  </div>
  <div *ngIf="showOtherProperty('visible','体温单手术天数是否显示0天')">
    <div class="params">
      <div style="display: inline-block;">体温单生成时，首次手术，手术天数是否显示0天</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block;width: 100%;">
      <div class="currentCheckedValue">
        <span *ngIf="!paramBean['体温单手术天数是否显示0天']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
        <span *ngIf="paramBean['体温单手术天数是否显示0天']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
        当前：{{paramBean['体温单手术天数是否显示0天']? '启用' : '禁用'}}
      </div>
      <div style="display: inline-block; width: 49%;text-align: right;">
        <p-inputSwitch [(ngModel)]="paramBean['体温单手术天数是否显示0天']" (onChange)="saveHospitalParams()"></p-inputSwitch>
      </div>
    </div>
    <div class="params">启用时，首次手术天数显示0天，禁用时，不显示0天，默认为开启状态。</div>
  </div>
  <div *ngIf="showOtherProperty('visible','手术后天数计算规则')">
    <div class="params">
      <div style="display: inline-block;">体温单手术后天数计算规则</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block; padding-left: 40px;">
      <p class="margin-t-15">当前选择:
        {{paramBean['手术后天数计算规则']?showOptionsLabel(showOtherProperty('options','手术后天数计算规则'),paramBean['手术后天数计算规则']):paramBean['手术后天数计算规则']}}
      </p>
    </div>
    <div style="display: inline-block; padding-left: 200px;text-align: center;">
      <p-dropdown [options]="showOtherProperty('options','手术后天数计算规则')" [(ngModel)]="paramBean['手术后天数计算规则']"
        placeholder="请选择" (onChange)="saveHospitalParams()"></p-dropdown>
    </div>
    <div class="params">
      默认模式：10天内进行的第二次手术，记为II-0，前缀II-表示第二次手术，后缀0表示最近一次手术后的天数，例如：0，1，2，3，II-0，II-1，II-2<br />
      标准模式：14天内进行的第二次手术，记为4/II，分母处增加/II表示第二次手术，后续分子与分母一同增长，例如：0，1，2，3，4/II，5/1，6/2，7/3/III，/8/4/1<br />
      简易模式：14天内进行的第二次手术，记为3，然后第二天，从1开始重新计算天数，例如：0，1，2，3，1，2，3，4，5<br />
      山东模式：10天内进行第二次手术，记为10（2）,10表示第一次手术后第十天，（2）表示第二次手术当天，后续按照分数展示，分子同分母增长，例如：1/11，2/12，3/13（3）,1/4/14，2/5，3/6<br />
      环球耒阳模式: 7天内进行第二次手术，记为5/0(表示第二次手术当天)，而后以第一次手术作为分子，第二次手术作为分母，每次手术连续显示7天，7天后则不继续显示；例如：0, 1, 2, 3, 4, 5/0, 6/1, 7/2,
      3, 4, 5, 6, 7<br />
      随州模式：14天内进行的第二次手术，记为II-0，前缀II-表示第二次手术，后缀0表示最近一次手术后的天数，例如：0，1，2，3，II-0，1，2；如果第二次手术距离第一次手术超过14天，则不加前缀 II- 处理<br />
      湖南模式: 7天内进行第二次手术，记为3/5(表示第二次手术第3天)，第一次手术作为分母，第二次手术作为分子，每次手术连续显示7天，7天后则不继续显示；例如：0, 1, 2, 3, 4, 1/5, 2/6, 3/7,
      4, 5, 6, 7<br />
    </div>
  </div>
  <div *ngIf="showOtherProperty('visible','新版体温单同步表单录入字段映射')">
    <div class="params">
      <div style="display: inline-block;">新版体温单同步表单录入字段映射</div>
      <button pButton type="button" (click)="saveHospitalParams()" label="保存"
        style="float:right;margin-right:30px;margin-top: 5px;"></button>
    </div>
    <div style="margin-bottom:20px;">
      <div style="margin-left: 20px;display: inline-block;">
        字段映射：
      </div>
      <div style="display: inline-block; width: 70%;">
        <input pInputText [(ngModel)]="paramBean['新版体温单同步表单录入字段映射']['映射关系']" style="width: 100%" />
      </div>
    </div>
    <div style="margin-bottom:20px;">
      <div style="margin-left: 20px;display: inline-block;">
        同步时间：
      </div>
      <div style="display: inline-block; width: 70%;">
        <p-dropdown [options]="nursingToTempSyncTime" [(ngModel)]="paramBean['新版体温单同步表单录入字段映射']['同步时间']"
          placeholder="请选择"></p-dropdown>
      </div>
    </div>
    <div>
      <div style="margin-left: 20px;display: inline-block;">
        同步来源：
      </div>
      <div style="display: inline-block; width: 70%;">
        <p-dropdown [options]="nursingToTempSyncSource" [(ngModel)]="paramBean['新版体温单同步表单录入字段映射']['同步来源']"
          placeholder="请选择"></p-dropdown>
      </div>
    </div>
    <div class="params">
      参数说明：当天护理表单的项目自动同步到体温单的一日一测项目，映射关系使用【体温单一日一测项目编码:护理表单字段名称】，多个映射之间以【,】隔开，例如【ZRL:入量,ZCL:出量】;
      【同步时间】选择‘当天’则同步到体温单当天的一日一测项目，选择‘前一天’，则同步到体温单前一天的一日一测项目；
      【同步来源】选择‘护理小结’则点击【护理小结】时同步数据，选择‘护理总结’则点击【护理总结】时同步数据，默认‘护理小结’。
    </div>
  </div>
  <div *ngIf="showOtherProperty('visible','心率超过180绘制箭头标识')">
    <div class="params">
      <div style="display: inline-block;">心率超过180绘制箭头标识</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block;width: 100%;">
      <div class="currentCheckedValue">
        <span *ngIf="!paramBean['心率超过180绘制箭头标识']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
        <span *ngIf="paramBean['心率超过180绘制箭头标识']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
        当前：{{paramBean['心率超过180绘制箭头标识'] === false? '禁用' : '启用'}}
      </div>
      <div style="display: inline-block; width: 49%;text-align: right;">
        <p-inputSwitch [(ngModel)]="paramBean['心率超过180绘制箭头标识']" (onChange)="saveHospitalParams()"></p-inputSwitch>
      </div>
    </div>
    <div class="params">启用时，体温单心率超过180时，在最高处绘制向上箭头标识。</div>
  </div>

  <div *ngIf="showOtherProperty('visible','体温单手术后面显示手术次数')">
    <div class="params">
      <div style="display: inline-block;">体温单手术后面显示手术次数</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block;width: 100%;">
      <div class="currentCheckedValue">
        <span *ngIf="!paramBean['体温单手术后面显示手术次数']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
        <span *ngIf="paramBean['体温单手术后面显示手术次数']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
        当前：{{paramBean['体温单手术后面显示手术次数']? '启用' : '禁用'}}
      </div>
      <div style="display: inline-block; width: 49%;text-align: right;">
        <p-inputSwitch [(ngModel)]="paramBean['体温单手术后面显示手术次数']" (onChange)="saveHospitalParams()"></p-inputSwitch>
      </div>
    </div>
    <div class="params">启用时，体温单上手术事件后面显示手术次数，手术2、手术3....，一次手术不显示次数，默认禁用</div>
  </div>
</div>
<p-growl [(value)]="msgs" [life]=5000></p-growl>
