<div class="business-container">
  <div class="layout-content" [class.siderHide]="!navDisplay">
    <router-outlet></router-outlet>
  </div>
  <p-growl [(value)]="msgs" [life]="10000"></p-growl>
  <!-- <p-confirmDialog #cd width="425">
    <p-footer>
        <button class="mr-20" type="button" pButton icon="iconfont icon-ensure" label="确认" (click)="cd.accept()"></button>
        <button type="button" pButton icon="iconfont icon-cancel" label="取消" (click)="cd.reject()"></button>
    </p-footer>
  </p-confirmDialog> -->
</div>
