.box{
    .row{
        width:270px;
        input{
            width: 180px;
        }
        label{
            min-width: 50px;
            text-align: left;
        }
    }
    .center{
        text-align: center;
    }
    .ops{
        text-align: right;
    }
    .right{
        >div{
            margin-bottom: 10px;
        }
    }   
}
:host /deep/ .left .ui-datatable-scrollable-body{
    max-height: calc(100vh - 265px);
}
:host /deep/ .right .ui-datatable-scrollable-body{
    max-height: calc(50vh - 140px);
}

