<div *ngIf="selectParamType ==='全文检索'">
    <div *ngIf="showOtherProperty('visible','全文检索跳转患者360页面设置')">
        <div class="params">
            <div style="display: inline-block;">{{(selectedParam || {})['label']}}</div>
            <button pButton type="button" (click)="saveHospitalParams()" label="保存"
                style="float:right;margin-right:30px;margin-top: 5px;"></button>
        </div>
        <div style="padding-left:10px;">
            <label style="width: 150px;display: inline-block;">360页面：</label>
            <div style="display:inline-block;">
                <p-dropdown [options]="options360" [(ngModel)]="paramBean['全文检索跳转患者360页面设置']['360页面']"></p-dropdown>
            </div>
        </div>
        <div style="padding-left:10px;margin-top: 20px;" *ngIf="paramBean['全文检索跳转患者360页面设置']['360页面'] == 'his360'">
            <label style="width: 150px;display: inline-block;">his360地址：</label>
            <div style="display:inline-block;">
                <input type="text" name="test" pInputText="logoDisabledEditor"
                    [(ngModel)]="paramBean['全文检索跳转患者360页面设置']['his360地址']">
            </div>
        </div>
        <div style="padding-left:10px;margin-top: 20px;" *ngIf="paramBean['全文检索跳转患者360页面设置']['360页面'] == 'his360'">
            <label style="width: 150px;display: inline-block;">his360用户名：</label>
            <div style="display:inline-block;">
                <input type="text" name="test" pInputText="logoDisabledEditor"
                    [(ngModel)]="paramBean['全文检索跳转患者360页面设置']['his360用户名']">
            </div>
        </div>
        <div style="padding-left:10px;margin-top: 20px;" *ngIf="paramBean['全文检索跳转患者360页面设置']['360页面'] == 'his360'">
            <label style="width: 150px;display: inline-block;">his360密码：</label>
            <div style="display:inline-block;">
                <input type="text" name="test" pInputText="logoDisabledEditor"
                    [(ngModel)]="paramBean['全文检索跳转患者360页面设置']['his360密码']">
            </div>
        </div>
        <div style="padding-left:10px;margin-top: 20px;" *ngIf="paramBean['全文检索跳转患者360页面设置']['360页面'] == 'his360'">
            <label style="width: 150px;display: inline-block;">his360token：</label>
            <div style="display:inline-block;">
                <input type="text" name="test" pInputText="logoDisabledEditor"
                    [(ngModel)]="paramBean['全文检索跳转患者360页面设置']['his360token']">
            </div>
            <div class="params" style="margin-left: inherit;">请配置his360页面跳转设置。</div>
        </div>
        <div style="padding-left:10px;margin-top: 20px;" *ngIf="paramBean['全文检索跳转患者360页面设置']['360页面'] == '集成平台360'">
            <label style="width: 150px;display: inline-block;">集成平台360地址：</label>
            <div style="display: inline-block; width: 70%;">
                <input type="text" style="width: 80%;" name="test" pInputText="logoDisabledEditor"
                    [(ngModel)]="paramBean['全文检索跳转患者360页面设置']['集成平台360地址']">
            </div>
            <div class="params" style="margin-left: inherit;">
                请配置集成平台360页面跳转设置，如http://199.199.180.123/#/patient360OutLink?hospitalId=医院编码&systemCode=YUNEMR&patientId=患者ID&token=
            </div>
        </div>
    </div>
</div>