<div class="interface-syn-setting" >
  <div class="form-block mb-10" style="text-align: right"  >

  </div>
  <p-dialog class="delete-confirm-dialog" header="删除记录" [(visible)]="isShowDeleteDialog" modal="true" closeOnEscape="false" [responsive]="true">
  <div class="line" style="text-align:center;min-width: 300px; min-height: 200px;line-height: 200px;font-size: x-large;">
       <p>确认删除吗？</p>
  </div>
  <p-footer>
        <button pButton class="mr-20 kyee-button" type="button" label="确认" (click)="removeSyncBean()"></button>
        <button pButton class="mr-20 kyee-button" type="button" label="取消" (click)="isShowDeleteDialog=false"></button>
    </p-footer>
  </p-dialog>
  <div class="interface-syn-setting-content">
    <p-dataTable [style]="{'max-height': '100%','overflow':'auto','text-align':'center'}" [value]="syncBeanList" [editable]="true"
                 dataKey="_id"  fixedPaginator="true" scrollable="true" scrollHeight="100%">

      <p-column [style]="{'width':'0%'}" field="_id" header="ObjectId" [hidden]=true></p-column>
      <p-column [style]="{'width':'10%'}" field="areaName"  header="区域名称" [hidden]=true>

      </p-column>
      <p-column [style]="{'width':'15%'}" field="jobChineseName" header="数据类型">

      </p-column>
      <p-column [style]="{'width':'10%'}" field="state" header="运行状态">
        <ng-template let-col let-syncBean="rowData" pTemplate="body">

          <span>{{syncBean['state'] == '1'?'运行中':'已停止'}}</span>
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'15%'}" field="cron" header="执行时间(CRON表达式)设置" [editable]="true"></p-column>
      <p-column [style]="{'width':'7%'}" field="syncIntervalMinute" header="同步间隔(分钟)" [editable]="true"></p-column>
      <p-column [style]="{'width':'7%'}" field="leavingTimeOffset" header="预出院/就诊间隔(天)" [editable]="true"></p-column>
      <p-column  field="" header="操作">
        <ng-template let-col let-syncBean="rowData" pTemplate="body">
          <a class="mr-5" [hidden]="syncBean['saveSwitch'] == 'on'">
            <button pButton type="button" label="保存" (click)="saveSyncBean(syncBean)" [disabled]="false" style="border-radius: 15px"></button>
          </a>
          <a class="mr-5" [hidden]="syncBean['saveSwitch'] == 'off'">
            <button pButton type="button" label="保存中" (click)="saveSyncBean(syncBean)" [disabled]="true" style="border-radius: 15px;"></button>
          </a>
          <a [hidden]="syncBean['switch']=='on'">
            <button pButton type="button" [label]="isSyncData(syncBean['jobGroup'])?'立即同步':'立即执行'" (click)="syncNow(syncBean)" [disabled]="false" style="border-radius: 15px;"></button>
          </a>
          <a [hidden]="syncBean['switch']=='off'">
            <button pButton type="button" [label]="isSyncData(syncBean['jobGroup'])?'正在同步':'正在执行'" [disabled]="true" style="border-radius: 15px;"></button>
          </a>

          <a [hidden]="syncBean['switch']=='on'" *ngIf="syncBean['state'] ===  '1'">
            <button pButton type="button" label="停止" [disabled]="false" style="border-radius: 15px;" (click)="stopJob(syncBean)"></button>
          </a>
          <a [hidden]="syncBean['switch']=='off'" *ngIf="syncBean['state'] ===  '1'">
            <button pButton type="button" label="停止" [disabled]="true" style="border-radius: 15px;"></button>
          </a>

          <a [hidden]="syncBean['switch']=='on'" *ngIf="syncBean['state'] ===  '0'">
            <button pButton type="button" label="恢复" [disabled]="false" style="border-radius: 15px;" (click)="startJob(syncBean)"></button>
          </a>
          <a [hidden]="syncBean['switch']=='off'" *ngIf="syncBean['state'] ===  '0'">
            <button pButton type="button" label="恢复" [disabled]="true" style="border-radius: 15px;"></button>
          </a>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>

<p-growl [(value)]="msgs" [life]="10000"></p-growl>
