<div class="main-content">
    <div class="ui-g-12">
        <div class="ui-g-4 mb-10"><label style="font-weight: bold;">是否同时创建评分标准</label></div>
        <div class="ui-g-8">
            <p-radioButton name="createScore" [value]="false" label="否" [(ngModel)]="createScoreCriteria"
             (onClick)="updateScoreCriteria(false)"></p-radioButton>           
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p-radioButton name="createScore" [value]="true" label="是" [(ngModel)]="createScoreCriteria"
             (onClick)="updateScoreCriteria(true)"></p-radioButton>
        </div>
    </div>
    <fieldset class="sub-content" *ngIf="createScoreCriteria == true">
        <div class="ui-g-12">
            <div class="ui-g-2"><label>是否单项否决</label></div>
            <div class="ui-g-4">
                <p-radioButton name="singleReject" [value]="false" label="否" [(ngModel)]="score.singleReject"
                 (onClick)="updateSingleReject(false)"></p-radioButton>            
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <p-radioButton name="singleReject" [value]="true" label="是" [(ngModel)]="score.singleReject"
                 (onClick)="updateSingleReject(true)"></p-radioButton>
            </div>
            <div class="ui-g-2 lh26" *ngIf="score.singleReject"><label>否决级别</label></div>
            <div class="ui-g-4" *ngIf="score.singleReject">
                <p-dropdown [options]="rejectLevelList" [(ngModel)]="score.rejectLevel" [style]="{'width':'150px'}"></p-dropdown>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-2"><label>评分类型</label></div>
            <div class="ui-g-4">
                <p-dropdown [options]="scoreTypeList" [(ngModel)]="score.markType" [style]="{'width':'150px'}"></p-dropdown>
            </div>
            <div class="ui-g-2 lh26"><label>分值</label></div>
            <div class="ui-g-4 lh26">
                <input type="number" size="30" min="0" step="0.5" pInputText [(ngModel)]="score.value"
                [ngModelOptions]="{standalone: true}"/>
            </div>
        </div>
    </fieldset>   
</div>