<div class="business-param">
    <div class="header">
        <span *ngIf="isSysAdmin">医院名称</span>
        <div *ngIf="isSysAdmin">
            <p-dropdown placeholder="请选择" [options]="hospitals" [(ngModel)]="selectedHospiral"
                [style]="{'width':'200px','margin-left':'5px'}" filter="true" filterBy="label"
                (onChange)="hospitalSelect()"></p-dropdown>
        </div>
        <div>
            <input style="width: 200px;" class="ml-10" name="filterParamName" type="text" pInputText
                [(ngModel)]="filterParamName" placeholder="请输入参数名称" />
        </div>
        <button pButton type="button" icon="fa-search" label="查询" class="ml-10" (click)="filterParamByName()"></button>
    </div>
    <div class="business-param-content">
        <div class="params-type-tree">
            <ul [class]="paramTypeDisable?'params-type-disable':''">
                <li *ngFor="let item of paramTypes" (click)="changeParamType(item)"
                    [class]="selectParamType==item?'type-active':''">{{item}}</li>
            </ul>
        </div>
        <!--hospital-param-tree "-->
        <div class="area-hospital-tree" *ngIf="hospitalParamsVisible"
            style="display: inline-block;width: 22%;border-left: 1px solid #CBCFD0;border-right: 1px solid #CBCFD0;height: 100%;">
            <p-tree [style]="{'height': '100%','overflow': 'auto'}" [value]="hospitalParamsTree" selectionMode="single"
                (onNodeSelect)="selectParam()" [(selection)]="selectedParam" [loading]="hospitalParamsLoading">
            </p-tree>
        </div>
        <!--param-value-setting-->
        <div class="param-value-setting" [ngStyle]="{'width':'70%'}">
            <div>
                <borrow-params [_showOtherProperty]="showOtherProperty.bind(this)" [paramBean]="paramBean"
                    [vertifyNumber]="vertifyNumber" [selectParamType]="selectParamType"
                    [saveHospitalParams]="saveHospitalParams.bind(this)"></borrow-params>
                <nursing-params #nursingParams [_showOtherProperty]="showOtherProperty.bind(this)"
                    [selectParamType]="selectParamType" [paramBean]="paramBean"
                    [saveHospitalParams]="saveHospitalParams.bind(this)"></nursing-params>
                <pda-params [_showOtherProperty]="showOtherProperty.bind(this)" [paramBean]="paramBean"
                    [selectParamType]="selectParamType" [saveHospitalParams]="saveHospitalParams.bind(this)"
                    [selectedParam]="selectedParam"></pda-params>
                <quality-params #qualityParams [_showOtherProperty]="showOtherProperty.bind(this)"
                    [paramBean]="paramBean" [vertifyNumber]="vertifyNumber" [selectParamType]="selectParamType"
                    [saveHospitalParams]="saveHospitalParams.bind(this)" [msgs]="msgs"></quality-params>
                <record-params #recordParams [_showOtherProperty]="showOtherProperty.bind(this)" [paramBean]="paramBean"
                    [vertifyNumber]="vertifyNumber" [_showOptionsLabel]="showOptionsLabel"
                    [saveHospitalParams]="saveHospitalParams.bind(this)" [msgs]="msgs"
                    [searchRecordDataSource]="searchRecordDataSource.bind(this)"
                    [saveHosParamByKey]="saveHosParamByKey.bind(this)"
                    [selectParamType]="selectParamType"></record-params>
                <record-manage-params #recordManageParams [_showOtherProperty]="showOtherProperty.bind(this)"
                    [paramBean]="paramBean" [msgs]="msgs" [selectParamType]="selectParamType"
                    [saveHospitalParams]="saveHospitalParams.bind(this)"></record-manage-params>
                <record-search-params [_showOtherProperty]="showOtherProperty.bind(this)" [paramBean]="paramBean"
                    [saveHospitalParams]="saveHospitalParams.bind(this)"
                    [selectParamType]="selectParamType"></record-search-params>
                <system-params #systemParams [_showOtherProperty]="showOtherProperty.bind(this)" [paramBean]="paramBean"
                    [_showOptionsLabel]="showOptionsLabel" [saveHospitalParams]="saveHospitalParams.bind(this)"
                    [msgs]="msgs" [selectParamType]="selectParamType"></system-params>
                <temperature-params #temperatureParams [_showOtherProperty]="showOtherProperty.bind(this)"
                    [paramBean]="paramBean" [_showOptionsLabel]="showOptionsLabel" [config]="config"
                    [saveHospitalParams]="saveHospitalParams.bind(this)" [msgs]="msgs"
                    [selectParamType]="selectParamType"></temperature-params>
                <template-params #templateParams [_showOtherProperty]="showOtherProperty.bind(this)"
                    [paramBean]="paramBean" [_showOptionsLabel]="showOptionsLabel"
                    [saveHospitalParams]="saveHospitalParams.bind(this)"
                    [selectParamType]="selectParamType"></template-params>
                <fulltextRetrieval-params [_showOtherProperty]="showOtherProperty.bind(this)" [paramBean]="paramBean"
                    [selectParamType]="selectParamType" [saveHospitalParams]="saveHospitalParams.bind(this)"
                    [selectedParam]="selectedParam"></fulltextRetrieval-params>
                <clc-record-params [_showOtherProperty]="showOtherProperty.bind(this)" [paramBean]="paramBean"
                    [selectParamType]="selectParamType"
                    [saveHospitalParams]="saveHospitalParams.bind(this)"></clc-record-params>
            </div>
        </div>
    </div>
    <p-growl [(value)]="msgs" [life]=5000></p-growl>
    <p-dialog header="数据元信息" [(visible)]="displaybaseDataSourceMsgDialog" [modal]="true" [width]="900"
        id="basedatasourcedialog" (onHide)="clearbaseDataSource()">
        <div style="margin: 10px;padding: 4px;background: #f3f3f3;">
            <input size="30" pInputText [(ngModel)]="filterbaseDataSourceStr" style="width: 300px" maxlength="10"
                (blur)="filterbaseDataSource()" placeholder="数据源过滤" (keypress)="filterbaseDataSource()" />
        </div>
        <p-dataTable [style]="{'text-align':'center'}" [(selection)]="selectedBaseDataSources"
            [loading]="basedataSourceTableLoadingFlag" [value]="templateDataSource" emptyMessage="暂无数据">
            <p-column [style]="{'width':'5%'}" selectionMode="multiple"></p-column>
            <p-column field="dataSourceName" header="数据元名称"></p-column>
        </p-dataTable>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa-check" (click)="confirmbaseDataSourceDialog()"
                    label="确定"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>