<div class="user-manage mlr-10">
  <!--hospital tree-->
  <div class="left-tree-area" *ngIf="isSysAdmin" style="">
    <div class="hospital-search-block">
      <input style="width: 90%;" name="filterHospitalName" type="text" pInputText [(ngModel)]="filterHospitalName" placeholder="请输入医院名称"/>
      <span class="icon iconfont icon-sousuo" (click)="getAreasAndHospitalsList()"></span>
    </div>
    <div class="left-tree-list">
      <p-tree [style]="{'height': '100%'}" [value]="areasAndHospitals" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="selectNode()"></p-tree>
    </div>
  </div>
  <!--data-table-->
  <div class="right-user-area" *ngIf="showDataTable" [ngStyle]="{'width':isSysAdmin?'76%':'98%'}">

    <form class="right-user-form">
      <div>
        <input pInputText placeholder="角色" type="text" class="inp" [(ngModel)]="roleParam" [ngModelOptions]="{standalone: true}" style="width: 200px;">
        <input pInputText placeholder="姓名/工号" type="text" class="inp" [(ngModel)]="searchParam" [ngModelOptions]="{standalone: true}" style="width: 200px;">
        <button pButton type="button" label="查询" class="ml-50" (click)="searchUser()"></button>
        <button pButton type="button" label="批量上传签名" class="add-btn" (click)="importBatchFile($event)"></button>
        <input #batchFileUpload type="file" ng2FileSelect [uploader]="batchUploader" (change)="selectedFileOnChanged($event)" hidden="true"  />
      </div>
    </form>

    <p-dataTable [style]="{'max-height': 'calc(100% - 80px)','overflow':'auto','text-align':'center','word-break': 'break-word'}"
                 emptyMessage="暂无数据..." loadingIcon="fa-spinner" selectionMode="single"
                 [value]="userList">
      <p-column [style]="{'width':'0%'}" field="basUserId" header="ObjectId" [hidden]=true></p-column>
      <p-column header="序号" [style]="{'width': '7%'}">
        <ng-template let-col let-patient="rowData" let-index="rowIndex" pTemplate="body">
          <span>{{index + 1}}</span>
        </ng-template>
      </p-column>
      <p-column field="用户名" header="姓名"></p-column>
      <p-column field="登陆帐号" header="工号"></p-column>
      <p-column field="picName" header="图片签名"></p-column>
      <p-column field="职称名称" header="职称"></p-column>
      <!-- <p-column field="userRoles" header="角色"></p-column> -->
      <p-column field="higherDoctors" header="上级医生"></p-column>
      <p-column field="" header="操作" [style]="{'width': '20%'}">
        <ng-template let-user="rowData" let-i="rowIndex" pTemplate="body">
          <button pButton type="button" (click)="editUserInfo(user)" label="编辑"></button>
          <button pButton type="button" (click)="showUserInfo(user)" label="查看"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
    <p-paginator [rows]="paginateInfo['pageSize']" [totalRecords]="paginateInfo['totalNum']" pageLinkSize="3"  (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>

<p-dialog class="edit-user-dialog" header="编辑用户" [(visible)]="isShowUserDialog" modal="true" closeOnEscape="false"
          [responsive]="true" (onHide)="beforeHideImportFileDialog($event)">
  <ul class="edit-user-content clearfix">
    <li class="mb-20">
      <label class="dialog-label mr-10">姓名</label>
      <input pInputText type="text" class="inp" [(ngModel)]="selectedUser['用户名']" [ngModelOptions]="{standalone: true}" [disabled]="true">
    </li>
    <li class="mb-20">
      <label class="dialog-label mr-10">工号</label>
      <input pInputText type="text" class="inp" [(ngModel)]="selectedUser['登陆帐号']" [ngModelOptions]="{standalone: true}" [disabled]="true">
    </li>
    <li class="mb-20">
      <label class="dialog-label mr-10">职称</label>
      <input pInputText type="text" class="inp" [(ngModel)]="selectedUser['职称名称']" [ngModelOptions]="{standalone: true}" [disabled]="true">
    </li>
    <li class="mb-20 import-file-area">
      <label class="dialog-label mr-10">上传签名</label>
      <div class="import-file-item">
        <div *ngIf="signatureBase64" class="mr-10">
          <img class="file-image" src="{{signatureBase64}}">
        </div>
        <div>
          <button class="import-btn kyee-button" style="vertical-align: top" pButton type="button" label="+ 上传签名" (click)="importFile($event)"></button>
          <button *ngIf="signatureBase64" class="import-btn kyee-button" style="vertical-align: top" pButton type="button" label="删除签名" (click)="deleteFile($event)"></button>
          <div style="margin-top:20px">【注】上传的签名大小小于100kb</div>
          <input #fileUpload type="file" ng2FileSelect [uploader]="uploader" accept="image/*"  hidden=true/>
          <div *ngIf="importFileName" class="mt-5">
            <span class="import-file-name">{{importFileName}}</span>
            <span *ngIf="importFileName" class="fa fa-close ml-10 remove-file-btn" (click)="removeFile()"></span>
          </div>
        </div>
      </div>
    </li>
    <!-- <li class="mb-20">
      <label class="dialog-label mr-10">角色</label>
      <p-multiSelect class="inp" [options]="roles" [(ngModel)]="selectedUser['roles']" defaultLabel="请选择"
      filterPlaceHolder="请搜索..." [style]="{'width':'100%'}" [panelStyle]="{'width':'99%'}"></p-multiSelect>
    </li> -->
    <li class="mb-20">
      <label class="dialog-label mr-10">上级医生</label>
      <p-multiSelect  [options]="selectDoctors" [(ngModel)]="selectedUser['selectDoctors']" defaultLabel="请选择"
                     filterPlaceHolder="请搜索..." [panelStyle]="{'width':'350px'}" appendTo="body"></p-multiSelect>
    </li>
  </ul>
  <p-footer>
    <button pButton class="mr-20 kyee-button" type="button" label="确认" (click)="saveEdit()"></button>
    <button pButton class="mr-20 kyee-button" type="button" label="取消" (click)="cancelUpdate()"></button>
  </p-footer>
</p-dialog>


<p-dialog class="edit-user-dialog" header="查看用户" [(visible)]="isShowUserDetailDialog" modal="true" closeOnEscape="false"
          [responsive]="true" (onHide)="beforeHideUserDetailDialog($event)">
  <ul class="edit-user-content">
    <li class="mb-20">
      <label class="dialog-label mr-10">姓名</label>
      <input pInputText type="text" class="inp" [(ngModel)]="selectedUser['用户名']" [ngModelOptions]="{standalone: true}" [disabled]="true">
    </li>
    <li class="mb-20">
      <label class="dialog-label mr-10">工号</label>
      <input pInputText type="text" class="inp" [(ngModel)]="selectedUser['登陆帐号']" [ngModelOptions]="{standalone: true}" [disabled]="true">
    </li>
    <li class="mb-20">
      <label class="dialog-label mr-10">职称</label>
      <input pInputText type="text" class="inp" [(ngModel)]="selectedUser['职称名称']" [ngModelOptions]="{standalone: true}" [disabled]="true">
    </li>
    <li class="mb-20 import-file-area">
      <label class="dialog-label mr-10">签名</label>
      <div class="import-file-item">
        <img class="file-image" src="{{signatureBase64}}">
      </div>
    </li>
    <!-- <li class="mb-20">
      <label class="dialog-label mr-10">角色</label>
      <p-multiSelect [options]="roles" [(ngModel)]="selectedUser['roles']" defaultLabel="请选择" [disabled]="true"></p-multiSelect>
    </li> -->
    <li class="mb-20">
      <label class="dialog-label mr-10">上级医生</label>
      <p-multiSelect [options]="selectDoctors" [(ngModel)]="selectedUser['selectDoctors']" defaultLabel="请选择" [disabled]="true"></p-multiSelect>
    </li>
  </ul>
</p-dialog>
<p-dialog header="确认删除" [(visible)]="deleteDisplay" [width]="400" modal="true">
    <p style="margin:20px">确认删除该图片签名?</p>
    <p-footer>
        <button class="mr-20 kyee-button" type="button" pButton (click)="delete()" label="确认"></button>
        <button class="mr-20 kyee-button" type="button" pButton (click)="cancel()" label="取消"></button>
    </p-footer>
</p-dialog>
