.user-manage {
  width: 98%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  .left-tree-area {
    display: inline-block;
    width: 23%;
    height: 100%;
    background: white;
    .hospital-search-block {
      height: 28px;
    }
    .left-tree-list {
      height: calc(100% - 28px);
    }
  }
  .right-user-area {
    display: inline-block;
    vertical-align: top;
    height:100%;
    .right-user-form {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
}


.add-btn{
  float: right;
}
.inp{
  height: 30px;
  width: 350px;
}

:host /deep/ .ui-tree{
  width: 100%;
}

/deep/ .edit-user-dialog {
  .ui-dialog {
    width: 40%;
  }
  .ui-widget-header {
    font-weight: 700;
  }
  .ui-widget.ui-dialog .ui-dialog-titlebar{
    padding: 5px 20px;
  }
  .ui-dialog-content {
    max-height: 380px;
    overflow: auto;
  }
  .edit-user-content {
    padding: 15px 15px;
    .import-file-area {
      align-items: flex-start;
      .import-file-item {
        display: inline-flex;
        width: 75%;
      }
      .file-image {
        max-width: 100px;
        max-height: 30px;
      }
      .dialog-label {
        margin-top: 5px;
      }
      .import-file-name {
        color: #FF9800;
      }
      .remove-file-btn {
        color: #69b4d0;
        cursor: pointer;
      }
    }
    >li {
      display: flex;
      justify-items: center;
      align-items: center;
    }
    .dialog-label {
      display: inline-flex;
      width: 15%;
      justify-content: flex-end;
    }
    .inp {
      display: inline-flex;
      width: 75%;
    }
  }
  .ui-multiselect {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 350px;
  }
}
