<div class="main">

  <!-- <div class="business-param-head ui-g-12">{{isSysAdmin ? '区域选择' : '参数设置'}}</div> -->

    <!--area-hospital-tree-->
    <div class="left-tree-area" *ngIf="isSysAdmin">
      <div class="hospital-search-block">
        <input style="width: 80%;" name="filterHospitalName" type="text" pInputText [(ngModel)]="filterHospitalName" placeholder="请输入医院名称"/>
        <span class="icon iconfont icon-sousuo" (click)="getAreasAndHospitalsList()"></span>
      </div>
      <p-tree [style]="{'height': 'calc(100% - 30px)','overflow': 'auto'}" [value]="areasAndHospitals" selectionMode="single" (onNodeSelect)="selectNode()" [(selection)]="selectedNode" >
      </p-tree>
    </div>
    <div *ngIf="evaFormFlag"  class="right-area"  [ngStyle]="{'width':isSysAdmin?'79%':'100%'}">
      <kyee-eva-form-config  [hospitalInfo]="hospitalInfo" [isSysAdmin]="isSysAdmin"></kyee-eva-form-config>
    </div>
</div>


