.score-config{

    height: 100%;

    .right-form-block {
        .separation_line {
            margin-left: 2.5em;
            margin-right: .5em;
        }
        .search-btn {
            padding: 0 5px;
        }
      }
      .score-rule-table {
        height: calc(100% - 95px);
      }
    }
    
    .add-qc-btn {
        float:right;
        border-radius: 15px;
        text-align: right;
        margin-right: 5px;
        margin-bottom:5px;
    }
    
    /deep/ .score-rule-list{
        .template-name-active-color {
            color: #6ab4cf;
        }
    }
    
    /deep/ .kyee-dropdown {
        .ui-dropdown-panel {
            background-color: #fff;
        }
        .ui-dropdown-filter-container {
            width: 100%;
        }
        .ui-dropdown-panel .ui-dropdown-filter-container .fa {
            top: 1em;
        }
    }
    
    /deep/ .quality-dialog {
        .ui-dialog {
            width: 50%;
        }
        .ui-widget-header {
            font-weight: 700;
        }
        .ui-widget.ui-dialog .ui-dialog-titlebar{
            padding: 5px 20px;
        }
        .content {
            // border: 1px solid #ddd;
            margin: 10px 10px 0 10px;
            padding: 10px;
            // border-radius: 10px;
            border-bottom: 1px dashed #ddd;
            max-height: 400px;
            .rule{
                border: 1px solid lightgray;
                padding: 5px 1em;
                margin-bottom: 5px;
                position: relative;
                button{
                    position: absolute;
                    right: 0;
                }
            }
        }
        section.completeness_section {
          padding: 0;
        }
        .dialog-label{
            width: 100px;
            display: inline-block;
        }
        .ui-g-12{
            padding: 4px 2px;
        }
        .ui-g-10{
            padding: 0px;
        }
        .ui-g-2{
            padding: 0px;
        }
    }
    
    .dialog-modal-block /deep/ {
        .dialog-modal-container {
          width: 600px;
          max-height: 400px;
          overflow: auto;
        }
        .ui-dialog-content {
          padding: 20px 20px 20px 20px !important;
        }
        .time-limit-item {
          display: flex;
          align-items: center;
          &.baseline {
            align-items: baseline;
          }
        }
        .reject-level-item {
            width: 50%;
        }
        
        .time-limit-content {
          >li {
            .reject-level-item .time-limit-label {
                width: auto;
            }
            .time-limit-label {
              display: inline-flex;
              width: 20%;
              justify-content: flex-end;
              margin-right: 5px;
            }
            .time-limit-select {
              width: 70%;
              height: 30px;
            }
            .ui-multiselect .ui-multiselect-label {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .time-limit-textarea {
              width: 70%;
            }
            .time-limit-input {
              width: 20%;
            } 
            .time-limit-input[name="manualScoreInput"] {
                width: 24%;
            }
          }
        }
        .main-content {
            border-top: 1px dashed #cdcdcd;
        }
        .create_score_Tit {
            font-weight: bold;
            font-size: 14px;
        }
        .create_score_item {
            display: inline-flex;
            padding: 0 0.5em;
            height: 35px;
            align-items: center;
        }
        .create_score_item.label {
            justify-content: flex-end;
        }
      }
    
      .view-overlay-dialog /deep/{
        .ui-dialog-content {
            position: relative;
        }
        .overlay-mask {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 9999;
            opacity: 0;
        }
      }