<div *ngIf="selectParamType ==='系统参数'">
  <div *ngIf="showOtherProperty('visible','系统名称以及LOGO')">
    <div class="params" style="line-height: 40px;background-color: #ddd;">
      <div style="display: inline-block;padding-left: 10px;">系统名称以及LOGO配置</div>
      <button *ngIf="showLogoEditorBtn" pButton type="button" (click)="tapLogoEditorBtn()" label="编辑"
        style="float:right;margin-right:30px;margin-top: 5px;"></button>
      <button *ngIf="showLogoSaveBtn" pButton type="button" (click)="tapLogoSaveBtn()" label="保存"
        style="float:right;margin-right:30px;margin-top: 5px;"></button>
      <button *ngIf="showLogoCancelBtn" pButton type="button" (click)="tapLogoCancelBtn()" label="取消"
        style="float:right;margin-right:30px;margin-top: 5px;"></button>
    </div>
    <div style="padding-left:10px;">
      <label style="width: 150px;display: inline-block;">页签标题设置：</label>
      <div style="display:inline-block;">
        <input type="text" pInputText [disabled]="logoDisabledEditor" [(ngModel)]="paramBean['系统名称以及LOGO']['页签标题']">
        <span>（最多10个汉字或20个英文字母）</span>
      </div>
    </div>
    <div style="padding-left:10px;margin-top: 20px;">
      <label style="width: 150px;display: inline-block;vertical-align: top;">页签图标设置：</label>
      <div style="display:inline-block;width: 80px;height: 80px;border: 1px solid #ddd;text-align: center;">
        <img src="{{paramBean['系统名称以及LOGO']['页签图标']}}" style="width: 64px;height: 64px;padding-top: 8px;">
      </div>
      <div style="display:inline-block;" class="file-upload">
        <p style="margin-bottom: 5px;">（LOGO格式为 .png，尺寸为 64 * 64）</p>
        <p-fileUpload mode="advanced" [showUploadButton]="false" [showCancelButton]="false" chooseLabel="点击上传"
          [customUpload]="true" (onSelect)="tabIcoUploader($event)" [disabled]="logoDisabledEditor"
          accept="image/*"></p-fileUpload>
      </div>
    </div>

    <div style="padding-left:10px;margin-top: 40px;">
      <label style="width: 150px;display: inline-block;">侧栏系统名称设置：</label>
      <div style="display:inline-block;">
        <input type="text" pInputText [disabled]="logoDisabledEditor" [(ngModel)]="paramBean['系统名称以及LOGO']['侧栏系统名称']">
        <span>（最多10个汉字或20个英文字母）</span>
      </div>
    </div>
    <div style="padding-left:10px;margin-top: 20px;">
      <label style="width: 150px;display: inline-block;vertical-align: top;">侧栏系统LOGO设置：</label>
      <div style="display:inline-block;width: 80px;height: 80px;border: 1px solid #ddd;text-align: center;">
        <img src="{{paramBean['系统名称以及LOGO']['侧栏系统LOGO']}}" style="width: 64px;height: 64px;padding-top: 8px;">
      </div>
      <div style="display:inline-block;" class="file-upload">
        <p style="margin-bottom: 5px;">（LOGO格式为 .png，尺寸为 64 * 64）</p>
        <p-fileUpload mode="advanced" [showUploadButton]="false" [showCancelButton]="false" chooseLabel="点击上传"
          [customUpload]="true" (onSelect)="sideLogoUploader($event)" [disabled]="logoDisabledEditor"
          accept="image/*"></p-fileUpload>
      </div>
    </div>

  </div>
  <div *ngIf="showOtherProperty('visible','签名设置')">
    <div class="params" style="line-height: 40px;background-color: #ddd;">
      <div style="display: inline-block;padding-left: 10px;">签名设置</div>
      <button pButton type="button" (click)="saveHospitalParams()" label="保存"
        style="float:right;margin-right:30px;margin-top: 5px;"></button>
    </div>
    <section *ngIf="paramBean['签名设置']" class="ml-20 mr-20 mb-10">
      <div class="clearfix">
        <ul class="config-box">
          <li>
            <ul class="data-config" style="overflow:initial !important;">
              <li>
                <span style="width:100px;padding:0.5em 0.5em 0.5em 0px">模块</span>
                <span style="width:165px;padding:0.5em">类型</span>
                <span style="width:90px;padding:0.5em">密码校验</span>
                <span style="width:165px;padding:0.5em">本人是否密码校验</span>
              </li>
              <li *ngFor="let item of signature;let i=index" style="display: flex;align-items: center;">
                <span style="width:100px;">{{item['module']}}</span>
                <p-dropdown [style]="{'width':'165px'}" [options]="item['module']=='病历书写'?recordTypeList:nurseTypeList" [(ngModel)]="item['type']"
                  placeholder="请选择"></p-dropdown>
                <span *ngIf="item['module']=='病历书写'" style="padding-left:20px">
                  <p-inputSwitch [(ngModel)]="item['密码校验']" (onChange)="saveHospitalParams()"></p-inputSwitch>
                </span>
                <span *ngIf="item['module']=='病历书写' && item['密码校验']" style="padding-left:50px">
                  <p-inputSwitch [(ngModel)]="item['本人是否密码校验']" (onChange)="saveHospitalParams()"></p-inputSwitch>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <label class="ui-g-3" style="float: none"></label>
    </section>
    <div class="params">
      <strong>签名数据元</strong>：“护士签名”、“医师签名”、“签名位”、“审签签名位”。<br />
      <strong>自动签名</strong>：病历书写设置文字或图片后，新建病历自动带入签名（数据元必须是“医师签名”）；不需要自动签名时，使用其他签名数据元，手动进行签名。<br />
      <strong>手动签名</strong>：先点击需要签名的数据元，点击签名按钮，可选择签名的医师。<br />
      <strong>撤销签名</strong>：点击需要签名的数据元，点击撤销签名，可撤销签名信息。

    </div>
  </div>
  <div *ngIf="showOtherProperty('visible','住院号病案号显示映射')">
    <div class="params">
      <div style="display: inline-block;">住院号病案号显示映射设置</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block; padding-left: 40px;">
      <p class="margin-t-15">当前选择:
        {{paramBean['住院号病案号显示映射']?showOptionsLabel(showOtherProperty('options','住院号病案号显示映射'),paramBean['住院号病案号显示映射']):paramBean['住院号病案号显示映射']}}
      </p>
    </div>
    <div style="display: inline-block; padding-left: 200px;text-align: center;">
      <p-dropdown [options]="showOtherProperty('options','住院号病案号显示映射')" [(ngModel)]="paramBean['住院号病案号显示映射']"
        placeholder="请选择" (onChange)="saveHospitalParams()"></p-dropdown>
    </div>
    <div class="params">默认设置：不映射<br />住院号显示为病案号：显示住院号时展示病案号的值<br />病案号显示为住院号：显示病案号时展示住院号的值</div>
  </div>
  <div *ngIf="showOtherProperty('visible','患者住院天数计算方式')">
    <div class="params">
      <div style="display: inline-block;">患者住院天数计算方式设置</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block; padding-left: 40px;">
      <p class="margin-t-15">当前选择:
        {{paramBean['患者住院天数计算方式']?showOptionsLabel(showOtherProperty('options','患者住院天数计算方式'),paramBean['患者住院天数计算方式']):paramBean['患者住院天数计算方式']}}
      </p>
    </div>
    <div style="display: inline-block; padding-left: 200px;text-align: center;">
      <p-dropdown [options]="showOtherProperty('options','患者住院天数计算方式')" [(ngModel)]="paramBean['患者住院天数计算方式']"
        placeholder="请选择" (onChange)="saveHospitalParams()"></p-dropdown>
    </div>
    <div class="params">默认设置：入院时间</div>
  </div>
  <div *ngIf="showOtherProperty('visible','是否实时计算年龄')">
    <div class="params">
      <div style="display: inline-block;">是否实时计算年龄</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block;width: 100%;">
      <div class="currentCheckedValue">
        <span *ngIf="!paramBean['是否实时计算年龄']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
        <span *ngIf="paramBean['是否实时计算年龄']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
        当前：{{paramBean['是否实时计算年龄']? '启用' : '禁用'}}
      </div>
      <div style="display: inline-block; width: 49%;text-align: right;">
        <p-inputSwitch [(ngModel)]="paramBean['是否实时计算年龄']" (onChange)="saveHospitalParams()"></p-inputSwitch>
      </div>
    </div>
    <div class="params">参数默认开启（实时计算），关闭则直接获取HIS的入院年龄</div>
  </div>
  <div *ngIf="showOtherProperty('visible','消息提醒是否启用按主治医生提醒')">
    <div class="params">
      <div style="display: inline-block;">消息提醒是否启用按主治医生提醒</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block;width: 100%;">
      <div class="currentCheckedValue">
        <span *ngIf="!paramBean['消息提醒是否启用按主治医生提醒']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
        <span *ngIf="paramBean['消息提醒是否启用按主治医生提醒']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
        当前：{{paramBean['消息提醒是否启用按主治医生提醒']? '启用' : '禁用'}}
      </div>
      <div style="display: inline-block; width: 49%;text-align: right;">
        <p-inputSwitch [(ngModel)]="paramBean['消息提醒是否启用按主治医生提醒']" (onChange)="saveHospitalParams()"></p-inputSwitch>
      </div>
    </div>
    <div class="params">启用时，只展示医生收治的患者的消息，禁用，展示医生相关的所有消息</div>
  </div>
  <div *ngIf="showOtherProperty('visible','登陆立即进行质控提示')">
    <div class="params">
      <div style="display: inline-block;">登陆立即进行质控提示</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block;width: 100%;">
      <div class="currentCheckedValue">
        <span *ngIf="!paramBean['登陆立即进行质控提示']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
        <span *ngIf="paramBean['登陆立即进行质控提示']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
        当前：{{paramBean['登陆立即进行质控提示'] === false? '禁用' : '启用'}}
      </div>
      <div style="display: inline-block; width: 49%;text-align: right;">
        <p-inputSwitch [(ngModel)]="paramBean['登陆立即进行质控提示']" (onChange)="saveHospitalParams()"></p-inputSwitch>
      </div>
    </div>
    <div class="params">禁用时，进入电子病历不展示消息提示框，点击消息提醒框后可打开提示框；启用时，进入电子病历后自动展示消息提示框。</div>
  </div>
  <div *ngIf="showOtherProperty('visible','第三方目录集成')">
    <div class="params" style="line-height: 40px;background-color: #ddd;">
      <div style="display: inline-block;padding-left: 10px;">第三方目录集成设置</div>
      <button pButton type="button" (click)="saveHospitalParams()" label="保存"
        style="float:right;margin-right:30px;margin-top: 5px;"></button>
    </div>
    <section *ngIf="paramBean['第三方目录集成']" class="ml-20 mr-20 mb-10">
      <div class="clearfix">
        <ul class="config-box">
          <li>
            <ul class="data-config third-page-config">
              <li style="display: flex;align-items: center;">
                <span style="width:100px;padding:0.5em">目录名称</span>
                <span style="width:650px;padding:0.5em;margin-left: 10px;">地址</span>
                <span style="width:80px;margin-left: 10px;">是否启用</span>
                <button pButton type="button" (click)="addThirdCatalogs()" label="增加"></button>
              </li>
              <li *ngFor="let item of thirdCatalogs;let i=index" style="display: flex;align-items: center;">
                <textarea type="text" pInputText
                  style="vertical-align: middle;width: 100px;height: 35px;overflow: auto hidden;white-space: nowrap;resize: none;"
                  [(ngModel)]="item['name']"></textarea>
                <textarea type="text" pInputText
                  style="vertical-align: middle;margin-left: 10px;width: 650px;height: 35px;overflow: auto hidden;white-space: nowrap;resize: none;"
                  [(ngModel)]="item['address']"></textarea>
                <div style="display: inline-block;width: 80px;margin-left: 10px;height: 24px;">
                  <p-inputSwitch [(ngModel)]="item['status']" checkedString="是" unCheckedString="否"></p-inputSwitch>
                </div>
                <button pButton type="button" (click)="removeThirdCatalogs(i)" label="删除"></button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <label class="ui-g-3" style="float: none"></label>
    </section>
  </div>
  <div *ngIf="showOtherProperty('visible','cdss对接设置')">
    <div class="params">
      <div style="display: inline-block;">cdss对接设置</div>
      <div style="display: inline-block; width: 67%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block;width: 100%;">
      <div class="currentCheckedValue">
        <span *ngIf="!paramBean['cdss对接设置']['启用']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
        <span *ngIf="paramBean['cdss对接设置']['启用']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
        当前：{{paramBean['cdss对接设置']['启用']? '启用' : '禁用'}}
      </div>
      <div style="display: inline-block; width: 49%;text-align: right;">
        <p-inputSwitch [(ngModel)]="paramBean['cdss对接设置']['启用']" (onChange)="saveCDSSReport()"></p-inputSwitch>
      </div>
    </div>
    <div style="display: inline-block;width: 100%;">
      <div *ngIf="paramBean['cdss对接设置']['启用']" style="display: inline-block;width: 80%;">
        <p style="display: inline-block;width:200px;text-align:right;margin-bottom:15px">IP地址：</p>
        <input pInputText [(ngModel)]="paramBean['cdss对接设置']['ip']" (blur)="saveCDSSReport()"
          style="width: 200px" /><br />
        <p style="display: inline-block;width:200px;text-align:right;margin-bottom:15px">端口：</p>
        <input pInputText [(ngModel)]="paramBean['cdss对接设置']['port']" (blur)="saveCDSSReport()" style="width: 200px" />
      </div>
      <div class="params" style="display: inline-block;width: 100%">该功能启用时，可进行Cdss页面查看，需要配置ip以及端口。</div>
    </div>
  </div>
  <div *ngIf="showOtherProperty('visible','小助手检查是否对接心电图')">

    <div class="params">
      <div style="display: inline-block;">小助手检查是否对接心电图</div>
      <div style="display: inline-block; width: 67%">
        <hr>
      </div>
    </div>
    <div class="clearfix ml-20 mr-20">
      <div class="ui-g-5">
        <span *ngIf="!paramBean['小助手检查是否对接心电图']['启用']" class="icon iconfont icon-caps-on"
          style="color: #EB564A;"></span>
        <span *ngIf="paramBean['小助手检查是否对接心电图']['启用']" class="icon iconfont icon-caps-off"
          style="color: #5CB85C;"></span>
        当前：{{paramBean['小助手检查是否对接心电图']['启用']? '启用' : '禁用'}}
      </div>
      <div class="ui-g-7 txt-a-r">
        <p-inputSwitch [(ngModel)]="paramBean['小助手检查是否对接心电图']['启用']" (onChange)="saveHospitalParams()"></p-inputSwitch>
      </div>
    </div>
    <section *ngIf="paramBean['小助手检查是否对接心电图']" class="ml-20 mr-20 mb-10">
      <div class="clearfix mb-10">
        <label class="ui-g-3">心电图网页IP：</label>
        <input class="ui-g-8" pInputText [(ngModel)]="paramBean['小助手检查是否对接心电图']['心电图网页IP']" />
      </div>
      <div class="clearfix">
        <label class="ui-g-3">心电图网页端口号：</label>
        <input class="ui-g-8" pInputText [(ngModel)]="paramBean['小助手检查是否对接心电图']['心电图网页端口号']" />
      </div>
    </section>
    <div class="ml-20 mr-20 mb-10">开启时，小助手检查显示心电结果按键点击跳转心电结果，禁用时不显示按键，默认为禁用状态。
      （如需使用，请先填写IP和端口再点击开启）
    </div>
  </div>
  <div *ngIf="showOtherProperty('visible','小助手体征')">
    <div class="params">
      <div style="display: inline-block;">小助手体征是否对接移动护理</div>
      <div style="display: inline-block; width: 67%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block;width: 100%;">
      <div class="currentCheckedValue">
        <span *ngIf="!paramBean['小助手体征']['启用']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
        <span *ngIf="paramBean['小助手体征']['启用']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
        当前：{{paramBean['小助手体征']['启用']? '启用' : '禁用'}}
      </div>
      <div style="display: inline-block; width: 49%;text-align: right;">
        <p-inputSwitch [(ngModel)]="paramBean['小助手体征']['启用']" (onChange)="saveSign($event)"></p-inputSwitch>
      </div>
    </div>
    <div style="display: inline-block;width: 100%;">
      <div *ngIf="paramBean['小助手体征']['启用']" style="display: inline-block;width: 80%;">
        <p style="display: inline-block; margin: 20px 0 0 99px;">IP地址：</p>
        <input size="30" pInputText [(ngModel)]="paramBean['小助手体征']['移动护理接口ip']" (blur)="saveSign(1)"
          style="width: 200px" maxlength="20" /><br />
        <p style="display: inline-block; margin: 10px 0 0 112px;">端口：</p>
        <input size="30" pInputText [(ngModel)]="paramBean['小助手体征']['移动护理接口port']" (blur)="saveSign(1)"
          style="width: 200px" maxlength="20" /><br />
        <p style="display: inline-block; margin: 10px 0 0 50px;">获取token接口：</p>
        <input size="30" pInputText [(ngModel)]="paramBean['小助手体征']['tokenPath']" (blur)="saveSign(1)"
          style="width: 250px" maxlength="50" /><br />
        <p style="display: inline-block; margin: 10px 0 0 56px;">获取数据接口：</p>
        <input size="30" pInputText [(ngModel)]="paramBean['小助手体征']['signPath']" (blur)="saveSign(1)"
          style="width: 250px" maxlength="50" />
        <p style="display: inline-block; margin: 20px 0 10px 20px">一般情况下，接口路径不会发生变更，故只需要配置好IP和端口即可</p>
      </div>
      <div class="params" style="display: inline-block;width: 100%">
        该功能启用时，小助手体征值使用移动护理的数据，需要配置移动护理接口的相关参数;<br />该功能禁用时，小助手体征值使用电子病历体温单数据</div>
    </div>
  </div>
  <div *ngIf="showOtherProperty('visible','小助手是否显示输血项')">
    <div class="params">
      <div style="display: inline-block;">小助手是否显示输血项</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block;width: 100%;">
      <div class="currentCheckedValue">
        <span *ngIf="!paramBean['小助手是否显示输血项']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
        <span *ngIf="paramBean['小助手是否显示输血项']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
        当前：{{paramBean['小助手是否显示输血项']? '启用' : '禁用'}}
      </div>
      <div style="display: inline-block; width: 49%;text-align: right;">
        <p-inputSwitch [(ngModel)]="paramBean['小助手是否显示输血项']" (onChange)="saveHospitalParams()"></p-inputSwitch>
      </div>
    </div>
    <div class="params">启用时，小助手显示输血项。</div>
  </div>
  <div *ngIf="showOtherProperty('visible','小助手是否显示抗菌药物')">
    <div class="params">
      <div style="display: inline-block;">小助手是否显示抗菌药物</div>
      <div style="display: inline-block; width: 70%">
        <hr>
      </div>
    </div>
    <div style="display: inline-block;width: 100%;">
      <div class="currentCheckedValue">
        <span *ngIf="!paramBean['小助手是否显示抗菌药物']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
        <span *ngIf="paramBean['小助手是否显示抗菌药物']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
        当前：{{paramBean['小助手是否显示抗菌药物']? '启用' : '禁用'}}
      </div>
      <div style="display: inline-block; width: 49%;text-align: right;">
        <p-inputSwitch [(ngModel)]="paramBean['小助手是否显示抗菌药物']" (onChange)="saveHospitalParams()"></p-inputSwitch>
      </div>
    </div>
    <div class="params">启用时，小助手显示抗菌药物，在病案首页可以引用。</div>
  </div>
  <div *ngIf="showOtherProperty('visible','水印设置')">
    <div class="params">
        <div style="display: inline-block;">是否启用水印</div>
        <div style="display: inline-block; width: 67%">
            <hr>
        </div>
    </div>
    <div style="display: inline-block;width: 100%;">
        <div class="currentCheckedValue">
            <span *ngIf="!paramBean['水印设置']['启用']" class="icon iconfont icon-caps-on"
                style="color: #EB564A;"></span>
            <span *ngIf="paramBean['水印设置']['启用']" class="icon iconfont icon-caps-off"
                style="color: #5CB85C;"></span>
            当前：{{paramBean['水印设置']['启用']? '启用' : '禁用'}}
        </div>
        <div style="display: inline-block; width: 49%;text-align: right;">
            <p-inputSwitch [(ngModel)]="paramBean['水印设置']['启用']"
                (onChange)="saveHospitalParams()"></p-inputSwitch>
        </div>
    </div>
    <div *ngIf="paramBean['水印设置']['启用']">
      <div style="margin:10px;">
          <label style="width: 140px;display: inline-block;text-align: right;">水印类型：</label>
          <div style="display:inline-block;">
              <p-dropdown [options]="[{label: '文字水印', value: '文字水印'},{label: '图片水印', value: '图片水印'}]" [(ngModel)]="paramBean['水印设置']['水印类型']"
              placeholder="请选择"  (onChange)="saveHospitalParams()"></p-dropdown>
          </div>
      </div>
      <div style="margin:10px;">
          <label style="width: 140px;display: inline-block;text-align: right;">倾斜度数：</label>
          <div style="display:inline-block;">
              <input pInputText [(ngModel)]="paramBean['水印设置']['倾斜度数']" (blur)="saveHospitalParams()"
              style="width: 100px" />（0~360）
          </div>
      </div>
      <div style="margin:10px;">
          <label style="width: 140px;display: inline-block;text-align: right;">透明度：</label>
          <div style="display:inline-block;">
              <input pInputText [(ngModel)]="paramBean['水印设置']['透明度']" (blur)="saveHospitalParams()"
              style="width: 100px" />（0~1）
          </div>
      </div>
      <div style="margin:10px;">
          <label style="width: 140px;display: inline-block;text-align: right;">水印列数：</label>
          <div style="display:inline-block;">
              <input pInputText [(ngModel)]="paramBean['水印设置']['水印列数']" (blur)="saveHospitalParams()"
              style="width: 100px" />设置水印显示几列。
          </div>
      </div>
      <div style="margin:10px;">
          <label style="width: 140px;display: inline-block;text-align: right;">水印高度：</label>
          <div style="display:inline-block;">
              <input pInputText [(ngModel)]="paramBean['水印设置']['水印高度']" (blur)="saveHospitalParams()"
              style="width: 100px" />px   建议100~300
          </div>
          <span>设置水印，在纸张上按高度分布显示几行水印。</span>
      </div>
      <div style="margin:10px;" *ngIf="paramBean['水印设置']['水印类型']=='文字水印'">
          <label style="width: 140px;display: inline-block;text-align: right;">字体大小：</label>
          <div style="display:inline-block;">
              <input pInputText [(ngModel)]="paramBean['水印设置']['字体大小']" (blur)="saveHospitalParams()"
              style="width: 100px" />px
          </div>
      </div>
      <div style="margin:10px;" *ngIf="paramBean['水印设置']['水印类型']=='文字水印'">
          <label style="width: 140px;display: inline-block;text-align: right;">字体颜色：</label>
          <div style="display:inline-block;">
              <p-colorPicker [(ngModel)]="paramBean['水印设置']['字体颜色']" ></p-colorPicker>
          </div>
      </div>
      <div style="margin:10px;" *ngIf="paramBean['水印设置']['水印类型']=='图片水印'">
          <label style="width: 140px;display: inline-block;text-align: right;">图片：</label>
          <div style="display:inline-block;">
              <div style="display:inline-block;width: 80px;height: 80px;border: 1px solid #ddd;text-align: center;">
                  <img src="{{paramBean['水印设置']['图片']}}" style="width: 64px;height: 64px;padding-top: 8px;">
                </div>
                <div class="file-upload watermarkBtn">
                  <p style="margin-bottom: 5px;"></p>
                  <p-fileUpload mode="advanced" [showUploadButton]="false" [showCancelButton]="false" chooseLabel="点击上传"
                    [customUpload]="true" (onSelect)="watermarkIimg($event)"
                    accept="image/*"></p-fileUpload>
                </div>
                <button pButton type="button" (click)="saveHospitalParams()" label="保存"></button>
          </div>
      </div>
      <div style="margin:10px;" *ngIf="paramBean['水印设置']['水印类型']=='文字水印'">
          <label style="width: 140px;display: inline-block;text-align: right;">文字内容：</label>
          <div style="display:inline-block;width: 400px">
              <input pInputText [(ngModel)]="paramBean['水印设置']['文字内容']" (blur)="saveHospitalParams()"
              style="width: 70%" />
          </div>
          <div style="margin-left: 140px;">注意：如果水印内容为当前的用户信息，配置格式为：$&#123;登陆帐号&#125;  $&#123;用户名&#125;，水印显示【12345 张三】。</div>
      </div>
      <div style="margin:10px;">
          <label style="width: 140px;display: inline-block;text-align: right;">打印是否显示水印：</label>
          <div style="display:inline-block;">
              <p-inputSwitch [(ngModel)]="paramBean['水印设置']['打印显示水印']"
                  (onChange)="saveHospitalParams()"></p-inputSwitch>
          </div>
          <span>开启后，目前只在实时分页模式下打印显示水印。</span>
      </div>
  </div>
  </div>
</div>
