<div class="box">
  <div class="ops">
    <button pButton label="增加" icon="fa-plus" (click)="addDiagMapper()"></button>
  </div>
  <div class="content">
    <p-dataTable [style]="{'max-height': '100%','overflow':'auto','text-align':'center'}" [value]="valueList"
      dataKey="uid" fixedPaginator="true" scrollable="true">
      <p-column [style]="{'width':'60px'}" field="hosType" header="诊断阶段"></p-column>
      <!-- <p-column [style]="{'width':'180px'}" field="inType" header="诊断阶段"></p-column> -->
      <p-column [style]="{'width':'60px'}" field="diagType" header="诊断类型"></p-column>
      <p-column [style]="{'width':'80px'}" field="mainFlag" header="诊断标志">
        <ng-template let-col let-template="rowData" pTemplate="body">
          {{template[col['field']]}}
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'60px'}" field="valType" header="类别"></p-column>
      <p-column [style]="{'width':'60px'}" field="aggregationFlag" header="是否聚合">
        <ng-template let-col let-template="rowData" pTemplate="body">
          {{template[col['field']]?'是':'否'}}
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'60px'}" field="syncFlag" header="全量同步">
        <ng-template let-col let-template="rowData" pTemplate="body">
          {{template[col['field']]?'是':'否'}}
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'180px'}" field="dsName" header="数据元"></p-column>
      
      <p-column [style]="{'width':'100px'}" field="names" header="操作">
        <ng-template let-col let-template="rowData" pTemplate="body">
          <div class="ops">
            <button pButton label="编辑" icon="fa-edit" (click)="editorDiagMapper(template)"></button>
            <button pButton label="删除" icon="icon iconfont icon-delete" (click)="delDiagMapper(template)"></button>
          </div>

        </ng-template>

      </p-column>
    </p-dataTable>
  </div>

  <p-dialog [header]="'诊断配置'" [(visible)]="diagDlg" modal="true" closeOnEscape="false" [responsive]="true">
  
    <div class="row">
      <label>诊断阶段</label>
      <p-radioButton name="type1" value="门诊" label="门诊" [(ngModel)]="hosType"></p-radioButton>
      <p-radioButton [style]="{'margin-left': '10px'}" name="type1" value="入院" label="入院" [(ngModel)]="hosType"></p-radioButton>
      <p-radioButton [style]="{'margin-left': '10px'}" name="type2" value="出院" label="出院" [(ngModel)]="hosType"></p-radioButton>
    </div>
    <!-- <div class="row" *ngIf="hosType == '住院'">
      <label>诊断阶段</label>
      <p-radioButton name="type2" value="入院" label="入院" [(ngModel)]="inType"></p-radioButton>
      <p-radioButton [style]="{'margin-left': '10px'}" name="type2" value="出院" label="出院" [(ngModel)]="inType"></p-radioButton>
    </div> -->
    <div class="row">
      <label>诊断类型</label>
      <p-radioButton name="type3" value="西医" label="西医" [(ngModel)]="diagType"></p-radioButton>
      <p-radioButton [style]="{'margin-left': '10px'}" name="type3" value="中医" label="中医" [(ngModel)]="diagType"></p-radioButton>
    </div>
    <div class="row">
      <label>诊断标志</label>
      <!-- <p-checkbox [(ngModel)]="mainFlag" [binary]="true"></p-checkbox> -->
      <p-dropdown [options]="mainFlagVals" [(ngModel)]="mainFlag"  appendTo="body" 
       [style]="{'width': '120px','height':'22px','line-height':'unset'}" ></p-dropdown>
    </div>
    <div class="row">
      <label>类别</label>
      <p-radioButton name="type4" value="编码" label="编码" [(ngModel)]="valType"></p-radioButton>
      <p-radioButton [style]="{'margin-left': '10px'}" name="type4" value="名称" label="名称" [(ngModel)]="valType"></p-radioButton>
      <p-radioButton [disabled]="diagType == '西医'" [style]="{'margin-left': '10px'}" name="type4" value="证型" label="证型" [(ngModel)]="valType"></p-radioButton>
    </div>
    <div class="row">
      <label>是否聚合</label>
      <p-checkbox [(ngModel)]="aggregationFlag" [binary]="true"></p-checkbox>
    </div>
    <div class="row">
      <label>全量同步</label>
      <p-checkbox [(ngModel)]="syncFlag" [binary]="true"></p-checkbox>
    </div>
    <div class="row">
      <label>数据元</label>
      <kyee-all-datatsource-dp [(ngModel)]="selDs" [width]="'148px'"></kyee-all-datatsource-dp>
    </div>
    <div class="ops center">
      <button pButton label="确认" icon="iconfont icon-ensure" (click)="confirmMapper()"></button>
      <button pButton label="取消" icon="iconfont icon-cancel" (click)="this.diagDlg = false"></button>
    </div>

  </p-dialog>
  
</div>
<p-growl [(value)]="msgs" [life]=5000></p-growl>