<div class="main">
  <!--area-hospital-tree-->
  <div class="left-tree-area" *ngIf="isSysAdmin">
    <div class="hospital-search-block">
      <input style="width: 80%;" name="filterHospitalName" type="text" pInputText [(ngModel)]="filterHospitalName" placeholder="请输入医院名称"/>
      <span class="icon iconfont icon-sousuo" (click)="getAreasAndHospitalsList()"></span>
    </div>
    <p-tree [style]="{'height': 'calc(100% - 30px)','overflow': 'auto'}" [value]="areasAndHospitals" selectionMode="single" (onNodeSelect)="selectNode()" [(selection)]="selectedNode" >
    </p-tree>
  </div>
  <div *ngIf="evaFormFlag" class="right-area" [ngStyle]="{'width':isSysAdmin?'79%':'100%'}">
    <p-tabView>
      <p-tabPanel header="基础数据配置">
        <kyee-col-mapper [hospitalInfo]="hospitalInfo" [from]="'基础数据'" [allData]="allColData"></kyee-col-mapper>
      </p-tabPanel>
      <p-tabPanel header="诊断配置">
        <kyee-diag-mapper [hospitalInfo]="hospitalInfo"></kyee-diag-mapper>
      </p-tabPanel>
      <p-tabPanel header="手术配置">
        <kyee-col-mapper [hospitalInfo]="hospitalInfo" [from]="'手术'" [allData]="allColData"></kyee-col-mapper>
      </p-tabPanel>
      <p-tabPanel header="费用配置">
        <kyee-col-mapper [hospitalInfo]="hospitalInfo" [from]="'费用'" [allData]="allColData"></kyee-col-mapper>
      </p-tabPanel>
      <p-tabPanel header="医嘱配置">
        <kyee-order-mapper [hospitalInfo]="hospitalInfo"></kyee-order-mapper>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>