.ops{
    margin: 3px;
    //text-align: right;
    button{
        font-size: 12px !important;
    }
    .iconfont{
        font-size: 12px !important;
    }
}
.box{
    .search{
        margin-left: 5px;
        label{
            vertical-align: middle;
            margin-left: 3px;;
        }
        input{
            vertical-align: middle;
        }
    }
    .row{
        display: flex;
        padding: 3px 0;
        margin: 0 2em;
        label{
            //padding: 0 5px;
            min-width: 80px;
            text-align: right;
            padding-right: 10px;
        }
    }
    .center{
        text-align: center;
    }
}
:host /deep/ .row .ui-inputtext{
    padding: unset;
}
:host /deep/ .ui-dialog.ui-widget .ui-dialog-content{
    line-height: unset;
}
:host /deep/ .ui-datatable .ui-datatable-data > tr > td, .ui-datatable .ui-datatable-tfoot > tr > td, .ui-datatable .ui-datatable-thead > tr > th{
    padding: 0.25em !important;
}
:host /deep/ .ui-datatable .ui-datatable-data > tr > td, .ui-datatable .ui-datatable-tfoot > tr > td, .ui-datatable .ui-datatable-thead > tr > th{
    padding: 0.25em !important;
}
:host /deep/ .iconfont{
    font-size: 1em !important;
}
:host /deep/ .search .ui-dropdown-label{
    padding: unset !important;
}
:host /deep/ .ui-datatable-scrollable-body{
    max-height: calc(100vh - 204px);
}
:host /deep/ .ui-datatable-scrollable-body{
    scrollbar-width:none !important;
}
:host /deep/ .ui-datatable-scrollable-body::-webkit-scrollbar {
    display: none;
}
:host /deep/ .ui-datatable-scrollable-header-box{
    margin-right: 0px !important;
}