<div  *ngIf="selectParamType ==='PDA设置'">
    <div *ngIf="showOtherProperty('visible','pda')">
        <div class="params"
            *ngIf="(selectedParam || {})['label'] == '全局设置' || (selectedParam || {})['label'] == '输血流程设置'">
            <div style="display: inline-block;">{{(selectedParam || {})['label']}}</div>
            <button pButton type="button" (click)="saveHospitalParams()" label="保存"
                style="float:right;margin-right:30px;margin-top: 5px;"></button>
        </div>
        <div style="display: inline-block;width: 100%;">
            <div *ngFor="let pc of paramBean['pda全局设置']">

                <div *ngIf="pc['PARENT_CONFIG'] == selectedParam['label'] && pc['CONFIG_CONTROL'] == 'checkbox' && pc['VISIBLE'] == 'true'"
                    style="height: 30px;display: flex;">
                    <div class="currentCheckedValue">

                        {{pc['CONFIG_TAG']}}
                    </div>
                    <div style="display: inline-block; width: 49%;text-align: right;">
                        <p-inputSwitch [(ngModel)]="pc['DEFAULT_VALUE']"></p-inputSwitch>
                    </div>
                </div>
                <div *ngIf="pc['PARENT_CONFIG'] == selectedParam['label'] && pc['CONFIG_CONTROL'] == 'spinner'  && pc['VISIBLE'] == 'true'"
                    style="height: 30px;">
                    <div class="currentCheckedValue">
                        {{pc['CONFIG_TAG']}}
                    </div>
                    <div style="display: inline-block; width: 49%;text-align: right;">
                        <p-dropdown [options]="timeOptions" [(ngModel)]="pc['DEFAULT_VALUE']"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>