<div  *ngIf="selectParamType ==='病历质控'">
    <div *ngIf="showOtherProperty('visible','是否启用新质控规则配置')">
        <div class="params">
          <div style="display: inline-block;">是否启用新质控规则配置</div>
          <div style="display: inline-block; width: 70%"><hr></div>
        </div>
        <div style="display: inline-block;width: 100%;">
          <div class="currentCheckedValue">
            <span *ngIf="!paramBean['是否启用新质控规则配置']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
            <span *ngIf="paramBean['是否启用新质控规则配置']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
            当前：{{paramBean['是否启用新质控规则配置'] === false? '禁用' : '启用'}}
          </div>
          <div style="display: inline-block; width: 49%;text-align: right;">
            <p-inputSwitch [(ngModel)]="paramBean['是否启用新质控规则配置']" (onChange)="saveHospitalParams()"></p-inputSwitch>
          </div>
        </div>
        <div class="params">启用时，使用新配置页面，内容质控配置全部使用正则表达式配置
        </div>
      </div>
      <div *ngIf="showOtherProperty('visible','质控时是否可修改病历')">
        <div class="params">
          <div style="display: inline-block;">科级质控是否可修改病历</div>
          <div style="display: inline-block; width: 70%"><hr></div>
        </div>
        <div style="display: inline-block;width: 100%;">
          <div class="currentCheckedValue">
            <span *ngIf="!paramBean['质控时是否可修改病历']['科级质控是否可修改病历']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
            <span *ngIf="paramBean['质控时是否可修改病历']['科级质控是否可修改病历']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
            当前：{{paramBean['质控时是否可修改病历']['科级质控是否可修改病历']? '启用' : '禁用'}}
          </div>
          <div style="display: inline-block; width: 49%;text-align: right;">
            <p-inputSwitch [(ngModel)]="paramBean['质控时是否可修改病历']['科级质控是否可修改病历']" (onChange)="saveHospitalParams()"></p-inputSwitch>
          </div>
        </div>
        <div class="params">开启时，科室质控时科主任可以修改病历；默认禁用（病历不可修改）。</div>
        <div class="params">
          <div style="display: inline-block;">院级质控是否可修改病历</div>
          <div style="display: inline-block; width: 70%"><hr></div>
        </div>
        <div style="display: inline-block;width: 100%;">
          <div class="currentCheckedValue">
            <span *ngIf="!paramBean['质控时是否可修改病历']['院级质控是否可修改病历']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
            <span *ngIf="paramBean['质控时是否可修改病历']['院级质控是否可修改病历']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
            当前：{{paramBean['质控时是否可修改病历']['院级质控是否可修改病历']? '启用' : '禁用'}}
          </div>
          <div style="display: inline-block; width: 49%;text-align: right;">
            <p-inputSwitch [(ngModel)]="paramBean['质控时是否可修改病历']['院级质控是否可修改病历']" (onChange)="saveHospitalParams()"></p-inputSwitch>
          </div>
        </div>
        <div class="params">开启时，院级质控时院级质控员可以修改病历；默认禁用（病历不可修改）。</div>
      </div>
      <div *ngIf="showOtherProperty('visible','质控规则不合格能否提交病历')">
        <div class="params">
          <div style="display: inline-block;">病历提交，质控规则校验不合格能否提交病历</div>
          <div style="display: inline-block; width: 70%"><hr></div>
        </div>
        <div style="display: inline-block;width: 100%;">
          <div class="currentCheckedValue">
            <span *ngIf="!paramBean['质控规则不合格能否提交病历']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
            <span *ngIf="paramBean['质控规则不合格能否提交病历']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
            当前：{{paramBean['质控规则不合格能否提交病历']? '启用' : '禁用'}}
          </div>
          <div style="display: inline-block; width: 49%;text-align: right;">
            <p-inputSwitch [(ngModel)]="paramBean['质控规则不合格能否提交病历']" (onChange)="saveHospitalParams()"></p-inputSwitch>
          </div>
        </div>
        <div class="params">启用时，提交病历时，质控规则校验不合格，不允许提交，禁用时，校验不合格，可选择继续提交，默认为禁用状态。</div>
      </div>
      <div *ngIf="showOtherProperty('visible','质控定时器')">
        <div class="params">
          <div style="display: inline-block;">质控定时器开关设置</div>
          <div style="display: inline-block; width: 67%"><hr></div>
        </div>
        <div style="display: inline-block;width: 100%;">
          <div class="currentCheckedValue">
            <span *ngIf="!paramBean['质控定时器']['启用']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
            <span *ngIf="paramBean['质控定时器']['启用']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
            当前：{{paramBean['质控定时器']['启用']? '启用' : '禁用'}}
          </div>
          <div style="display: inline-block; width: 49%;text-align: right;">
            <p-inputSwitch [(ngModel)]="paramBean['质控定时器']['启用']" (onChange)="saveQcTimer($event)"></p-inputSwitch>
          </div>
        </div>
        <div *ngIf="paramBean['质控定时器']['启用']" style="display: inline-block;width: 100%;">
          <div style="display: inline-block; width: 60%;text-align: left;">
            <p class="params">启用时请检查区域编码是否与定时器同步设置一致</p>
          </div>
          <div style="display: inline-block; width: 35%;text-align: right;">
            <input size="30" pInputText [(ngModel)]="paramBean['质控定时器']['areaCode']"
            style="width: 160px" maxlength="30" (blur)="saveQcTimer()"/>
          </div>
        </div>
        <div class="params" style="margin-top: 10px">启用后，定时器会定时扫描时限质控；禁用情况下不生效。</div>
      </div>
      <div *ngIf="showOtherProperty('visible','自动质控设置')">

        <div class="params" style="line-height: 40px;background-color: #ddd;">
          <div style="display: inline-block;padding-left: 10px;">自动提交病案</div>
          <button pButton type="button" (click)="saveHospitalParams()" label="保存"
            style="float:right;margin-right:30px;margin-top: 5px;"></button>
        </div>
        <div class="clearfix ml-20 mr-20">
          <div class="ui-g-5">
            <span *ngIf="!paramBean['自动质控设置']['是否自动提交病案']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
            <span *ngIf="paramBean['自动质控设置']['是否自动提交病案']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
            当前：{{paramBean['自动质控设置']['是否自动提交病案']? '启用' : '禁用'}}
          </div>
          <div class="ui-g-7 txt-a-r">
            <p-inputSwitch [(ngModel)]="paramBean['自动质控设置']['是否自动提交病案']"></p-inputSwitch>
          </div>
        </div>
        <section *ngIf="paramBean['自动质控设置']['是否自动提交病案']" class="ml-20 mr-20 mb-10">
          <div class="clearfix mb-10">
            <label class="ui-g-8">出院多少天后自动提交病案：</label>
            <input class="ui-g-3" pInputText [(ngModel)]="paramBean['自动质控设置']['自动提交病案天数']"
              (keyup)="vertifyNumber($event, '自动提交病案天数')" />
          </div>
          <div class="clearfix mb-10">
            <label class="ui-g-8">再次自动提交间隔天数（默认为1）：</label>
            <input class="ui-g-3" pInputText [(ngModel)]="paramBean['自动质控设置']['再次自动提交病案天数']"
              (keyup)="vertifyNumber($event, '再次自动提交病案天数')" />
          </div>
          <div class="clearfix mb-10">
            <label class="ui-g-8">需要自动提交的质控状态（如未提交状态需要被自动提交到下一状态，则勾选未提交）：</label>
            <p-multiSelect [style]="{'width': '25%'}" [options]="statusList" [(ngModel)]="paramBean['自动质控设置']['status']"
             maxSelectedLabels= "5" selectedItemsLabel='{0}项选择'></p-multiSelect>
          </div>
          <div class="clearfix mb-10">
            <label class="ui-g-8">提交人ID：</label>
            <input  class="ui-g-3" pInputText [(ngModel)]="paramBean['自动质控设置']['提交人ID']"/>
            <label class="ui-g-8">提交人：</label>
            <input  class="ui-g-3" pInputText [(ngModel)]="paramBean['自动质控设置']['提交人']"/>
          </div>
        </section>
        <div class="ml-20 mr-20">
          <label style="width:100%">启用该参数时，【自动质控定时器】定时器根据配置的参数子项自动提交病案到下一状态。<br/>
            未配置“需要自动提交的质控状态”时，默认查询未提交、病案退回状态的病案并自动提交到下一状态。<br/>
            上一个质控状态时间到当前时间的时间间隔 超过配置项“再次自动提交间隔天数”时会自动提交到下一状态<br/>
            未启用此参数，医生手动提交病案！</label>
          </div>
      </div>
      <div *ngIf="showOtherProperty('visible','新生儿是否走质控流程')">
        <div class="params">
          <div style="display: inline-block;">新生儿是否走质控流程设置</div>
          <div style="display: inline-block; width: 70%"><hr></div>
        </div>
        <div style="display: inline-block;width: 100%;">
          <div class="currentCheckedValue">
            <span *ngIf="!paramBean['新生儿是否走质控流程']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
            <span *ngIf="paramBean['新生儿是否走质控流程']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
            当前：{{paramBean['新生儿是否走质控流程'] === false? '禁用' : '启用'}}
          </div>
          <div style="display: inline-block; width: 49%;text-align: right;">
            <p-inputSwitch [(ngModel)]="paramBean['新生儿是否走质控流程']" (onChange)="saveHospitalParams()"></p-inputSwitch>
          </div>
        </div>
        <div class="params">禁用时，提交病历菜单不展示新生儿患者，启用时新生儿可正常走质控流程。</div>
      </div>
      <div *ngIf="showOtherProperty('visible','病案质控是否显示空病历患者')">
        <div class="params">
          <div style="display: inline-block;">病案质控是否显示空病历患者</div>
          <div style="display: inline-block; width: 70%"><hr></div>
        </div>
        <div style="display: inline-block;width: 100%;">
          <div class="currentCheckedValue">
            <span *ngIf="!paramBean['病案质控是否显示空病历患者']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
            <span *ngIf="paramBean['病案质控是否显示空病历患者']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
            当前：{{paramBean['病案质控是否显示空病历患者'] === false? '禁用' : '启用'}}
          </div>
          <div style="display: inline-block; width: 49%;text-align: right;">
            <p-inputSwitch [(ngModel)]="paramBean['病案质控是否显示空病历患者']" (onChange)="saveHospitalParams()"></p-inputSwitch>
          </div>
        </div>
        <div class="params">启用时，病案归档模块显示病案状态为空的患者；禁用后，不显示病案状态为空的患者；默认开启。</div>
      </div>
      <div *ngIf="showOtherProperty('visible','状态项目设置')">

        <div class="params">
          <div style="display: inline-block;">是否启用状态项目设置</div>
          <div style="display: inline-block; width: 67%"><hr></div>
        </div>
        <div class="clearfix ml-20 mr-20">
          <div class="ui-g-5">
            <span *ngIf="!(paramBean['状态项目设置'] || {})['启用']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
            <span *ngIf="(paramBean['状态项目设置'] || {})['启用']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
            当前：{{(paramBean['状态项目设置'] || {})['启用']? '启用' : '禁用'}}
          </div>
          <div class="ui-g-7 txt-a-r">
            <p-inputSwitch [(ngModel)]="paramBean['状态项目设置']['启用']" (onChange)="saveHospitalParams()"></p-inputSwitch>
          </div>
        </div>
        <section *ngIf="paramBean['状态项目设置']['启用']" class="ml-20 mr-20 mb-10">

          <div class="clearfix mb-10" *ngFor="let i of paramBean['状态项目设置']['质控状态列表'];let index=index;">
            <label class="ui-g-3">{{i['code']}}</label>
            <input class="ui-g-8" pInputText [(ngModel)]="i['value']"
            (blur)="saveAutoSaveParams()"/>
          </div>

        </section>
        <div class="ml-20 mr-20 mb-10">启用时，质控中状态名称可配置！默认禁用，不可配置，使用默认状态！</div>
        <div class="ml-20 mr-20">
         质控流程：
            WTJ -> 未提交,
            YSTJ -> 已提交,
            KZRTJ -> 待归档,
            GD -> 已归档,
            ZKKTJ -> 质控中,
            BASJ -> 已上架,
            KZRTH -> 病案退回
        </div>
      </div>
      <div *ngIf="showOtherProperty('visible','质控流程配置')">

        <div class="params" style="line-height: 40px;background-color: #ddd;">
          <div style="display: inline-block;padding-left: 10px;">质控流程配置</div>
          <button pButton type="button" (click)="saveProConfig()" label="保存" style="float:right;margin-right:30px;margin-top: 5px;"></button>
        </div>
        <div class="params" style="display: inline-block;width: 100%;margin-top:0;">

          流程配置：
            <div *ngFor="let item of processConfig;let i=index" class="config-pro">

              <span *ngIf="i != 0" class="arrow-pro">-></span>
              <span class="normal-pro" [ngClass]="{'del-pro':item['type'] == 'del','require-pro':item['type'] == 'require'}"  (click)="configPro(item)">{{item['name']}}
              </span>
            </div>
        </div>
        <div class="params">
          说明：
          <span class="require-pro normal-pro">不可省略流程</span>
          <span class="normal-pro">正常流程</span>
          <span class="del-pro normal-pro">省略此流程</span>
        </div>
      </div>
      <div *ngIf="showOtherProperty('visible','逾期锁定病历设置')">

        <div class="params">
          <div style="display: inline-block;">逾期锁定病历设置</div>
          <div style="display: inline-block; width: 67%"><hr></div>
        </div>
        <div class="clearfix ml-20 mr-20">
          <div class="ui-g-5">
            <span *ngIf="!paramBean['逾期锁定病历设置']['启用']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
            <span *ngIf="paramBean['逾期锁定病历设置']['启用']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
            当前：{{paramBean['逾期锁定病历设置']['启用']? '启用' : '禁用'}}
          </div>
          <div class="ui-g-7 txt-a-r">
            <p-inputSwitch [(ngModel)]="paramBean['逾期锁定病历设置']['启用']" (onChange)="saveHospitalParams()"></p-inputSwitch>
          </div>
        </div>
        <section *ngIf="paramBean['逾期锁定病历设置']['启用']" class="ml-20 mr-20 mb-10">
          <div class="clearfix mb-10">
            <label class="ui-g-4">出院后未提交质控时间：</label>
            <input class="ui-g-3" pInputText [(ngModel)]="paramBean['逾期锁定病历设置']['出院后未提交质控时间']" (keyup)="vertifyNumber($event, '出院后未提交质控时间')"
            (blur)="saveAutoSaveParams()"/>
          </div>
          <div class="clearfix">
              <label class="ui-g-4">解锁后再次锁定时间：</label>
              <input class="ui-g-3" pInputText [(ngModel)]="paramBean['逾期锁定病历设置']['解锁后再次锁定时间']" (keyup)="vertifyNumber($event, '解锁后再次锁定时间')"
            (blur)="saveAutoSaveParams()"/>
            </div>
        </section>
        <div class="ml-20 mr-20 mb-10">启用时，预出院时间超过“出院后未提交质控时间”设置的天数后，还未提交（包含驳回）质控，自动锁定病历；对于解锁后，距上次解锁时间超过“解锁后再次锁定时间”，再次锁定病历！</div>
        <div class="ml-20 mr-20 mb-10 clearfix">
          <label class="ui-g-4">逾期时长起算天数：</label>
          <input class="ui-g-3" pInputText [(ngModel)]="paramBean['逾期锁定病历设置']['逾期时长起算天数']" (keyup)="vertifyNumber($event, '逾期时长起算天数')"
        (blur)="saveAutoSaveParams()"/>
        </div>
        <div class="ml-20 mr-20 mb-10">设置为7，则表示预出院7天内未提交，逾期时长是0，超过7天未提交才开始计算逾期时长；设置为0，则表示预出院后未提交就开始计算逾期时长。</div>
      </div>
      <div *ngIf="showOtherProperty('visible','出院后未提交质控提醒天数设置')">
        <div class="params">
          <div style="display: inline-block;">出院后未提交质控提醒天数设置</div>
          <button  pButton type="button" (click)="saveHospitalParams()" label="保存" style="float:right;margin-right:30px;margin-top: 5px;"></button>
        </div>
        <div style="display: inline-block;width: 100%;">
          <div style="margin-left: 20px;display: inline-block;">
            出院后未提交质控提醒天数设置：
          </div>
          <div style="display: inline-block; width: 70%;">
            <input size="30" pInputText [(ngModel)]="paramBean['出院后未提交质控提醒天数设置']" style="width: 100%"/>
          </div>
        </div>
        <div class="params">
          参数说明:该参数设置患者出院多少天后，未提交质控，则进行消息提醒；不设置时，默认7天后提醒，值为大于0的整数有效；其它设置为无效设置，则不进行消息提醒
        </div>
      </div>
      <div *ngIf="showOtherProperty('visible','整改通知书描述')">
        <div class="params" style="line-height: 40px;background-color: #ddd;">
            <div style="display: inline-block;padding-left: 10px;">电子病历实时监控整改通知书描述</div>
            <button pButton type="button" (click)="saveHospitalParams()" label="保存"
                style="float:right;margin-right:30px;margin-top: 5px;"></button>
        </div>
        <div style="padding-left:10px;display: flex;align-items: center;">
            <label style="width: 50px;display: inline-block;">描述：</label>
            <textarea size="30" pInputTextarea [rows]="3" [(ngModel)]="paramBean['整改通知书描述']"
                style="width: 700px;resize: none;" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
    </div>
      <div *ngIf="showOtherProperty('visible','护理文书未提交能否提交病历')">
        <div class="params">
          <div style="display: inline-block;">护理文书未提交能否提交病历</div>
          <div style="display: inline-block; width: 70%"><hr></div>
        </div>
        <div style="display: inline-block;width: 100%;">
          <div class="currentCheckedValue">
            <span *ngIf="!paramBean['护理文书未提交能否提交病历']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
            <span *ngIf="paramBean['护理文书未提交能否提交病历']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
            当前：{{paramBean['护理文书未提交能否提交病历'] === false? '禁用' : '启用'}}
          </div>
          <div style="display: inline-block; width: 49%;text-align: right;">
            <p-inputSwitch [(ngModel)]="paramBean['护理文书未提交能否提交病历']" (onChange)="saveHospitalParams()"></p-inputSwitch>
          </div>
        </div>
        <div class="params">启用时，护理文书未提交时医生不能提交患者病案，禁用时则不限制
        </div>
      </div>
</div>
