<div class="box">
  <div class="ops">
    <button pButton label="增加" icon="fa-plus" (click)="addOrderMapper()"></button>
  </div>
  <div class="content">
    <p-dataTable [style]="{'max-height': '100%','overflow':'auto','text-align':'center'}" [value]="valueList"
      dataKey="uid" fixedPaginator="true" scrollable="true">
      <p-column [style]="{'width':'60px'}" field="hosType" header="阶段"></p-column>
      <p-column [style]="{'width':'60px'}" field="ordersType" header="医嘱项目"></p-column>
      <p-column [style]="{'width':'80px'}" field="ordersFields" header="字段"></p-column>
      <p-column [style]="{'width':'60px'}" field="spliceMode" header="拼接方式"></p-column>
      <p-column [style]="{'width':'60px'}" field="syncFlag" header="全量同步">
        <ng-template let-col let-template="rowData" pTemplate="body">
          {{template[col['field']]?'是':'否'}}
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'180px'}" field="dsName" header="数据元"></p-column>
      <p-column [style]="{'width':'100px'}" field="names" header="操作">
        <ng-template let-col let-template="rowData" pTemplate="body">
          <div class="ops">
            <button pButton label="编辑" icon="fa-edit" (click)="editorOrderMapper(template)"></button>
            <button pButton label="删除" icon="icon iconfont icon-delete" (click)="delOrderMapper(template)"></button>
          </div>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>

  <p-dialog [header]="'医嘱配置'" [(visible)]="orderDlg" modal="true" closeOnEscape="false" [responsive]="true">

    <div class="row">
      <label>患者类型</label>
      <p-radioButton name="type1" value="门诊" label="门诊" [(ngModel)]="hosType"></p-radioButton>
      <p-radioButton [style]="{'margin-left': '10px'}" name="type1" value="住院" label="住院"
        [(ngModel)]="hosType"></p-radioButton>
    </div>

    <div class="row">
      <label>医嘱项目</label>
      <p-checkbox name="group1" value="西药" label="西药" [(ngModel)]="ordersType"></p-checkbox>
      <p-checkbox name="group1" value="西成药" label="西成药" [(ngModel)]="ordersType" [style]="{'margin-left': '10px'}"></p-checkbox>
      <p-checkbox name="group1" value="中成药" label="中成药" [(ngModel)]="ordersType" [style]="{'margin-left': '10px'}"></p-checkbox>
      <p-checkbox name="group1" value="中草药" label="中草药" [(ngModel)]="ordersType" [style]="{'margin-left': '10px'}"></p-checkbox>
    </div>
    <div class="row">
      <label>字段</label>
      <p-multiSelect [options]="ordersFieldsOptions" [(ngModel)]="ordersFields" appendTo="body" maxSelectedLabels="99"></p-multiSelect>
    </div>
    <div class="row">
      <label>拼接方式</label>
      <input id="input" type="text" pInputText [(ngModel)]="spliceMode" style="width: 150px"/>
    </div>
    <div class="row">
      <label>全量同步</label>
      <p-checkbox [(ngModel)]="syncFlag" [binary]="true"></p-checkbox>
    </div>
    <div class="row">
      <label>数据元</label>
      <kyee-all-datatsource-dp [(ngModel)]="selDs" [width]="'150px'"></kyee-all-datatsource-dp>
    </div>
    <div class="ops center">
      <button pButton label="确认" icon="iconfont icon-ensure" (click)="confirmMapper()"></button>
      <button pButton label="取消" icon="iconfont icon-cancel" (click)="this.orderDlg = false"></button>
    </div>

  </p-dialog>

</div>
<p-growl [(value)]="msgs" [life]=5000></p-growl>