.score-query {
    width: 98%; 
    height: 100%; 
    display: inline-block;
    overflow: hidden;
    .left-tree-area {
      display: inline-block;
      width: 23%;
      height: 100%;
      background: white; 
      .hospital-search-block {
        height: 28px;
      }
      .left-tree-list {
        height: calc(100% - 28px);
      }
    }
}

.templates-list {
  height: calc(100vh - 168px);
  padding-left: 20px;
  color: #333;
  overflow-x: hidden;

  li {
      height: 26px;
      line-height: 26px;
      list-style: none;
      cursor: pointer;
      &.active {
          color: #4296FE;
      }
  }
}

.templates-none {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 140px);
  color: #b6b9bb;

  .icon {
      font-size: 50px;
  }
  span {
      margin-top: 10px;
  }
}
.save{
  display: inline-block;
  width: 80px;
  height: 36px;
  background: #4296FE;
  line-height: 36px;
  color: white;
  text-align: center;
  border-radius: 12px;
  float: right;
  cursor: pointer;
  margin-top: 10px;
}