<div class="box">
<div class="left-tree-area " *ngIf="isSysAdmin">
    <div class="hospital-search-block">
        <input style="width: 90%;" name="filterHospitalName" type="text" pInputText [(ngModel)]="filterHospitalName" placeholder="区域/医院"
        />
        <span class="icon iconfont icon-sousuo" (click)="getAreasAndHospitalsList()"></span>
    </div>
    <div class="left-tree-list">
        <p-tree [style]="{'height': '100%','width': '100%'}" [value]="areasAndHospitals" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="selectNode()"></p-tree>
    </div>
</div>
<div class="right-area" [ngStyle]="{'width':isSysAdmin?'82%':'100%'}">
  <div class="bar"  [ngClass]="{'bar-area':isSysAdmin}">
      <div style="display: flex;align-items: center;" class="bar-left">
          <label>文件类型</label>
          <p-dropdown class="ml-5" placeholder="请选择" [options]="jsonTypes" [style]="{'width':'150px'}"
              [(ngModel)]="searchData['jsonType']" [ngModelOptions]="{standalone: true}"></p-dropdown>
          <input class="ml-10" style="width:150px" type="text" pInputText placeholder="项目名称"
              [(ngModel)]="searchData['mapperJsonName']" [ngModelOptions]="{standalone: true}">
          <label class="ml-10">患者类别</label>
          <p-dropdown class="ml-5" placeholder="请选择" [options]="clcTypes" [style]="{'width':'150px'}"
              [(ngModel)]="searchData['clcType']" [ngModelOptions]="{standalone: true}"></p-dropdown>
      </div>
      <div class="bar-right">
      <div class="bar-search">
        <label class="ml-10">病历类型</label>
        <p-multiSelect class="ml-5" styleClass="select-style" defaultLabel='请选择'
            [options]="searchData['clcType']?searchData['clcType']=='1'?emrTypesOut:emrTypesIn:emrTypes"
            [(ngModel)]="searchData['emrType']"
            [style]="{'width':'200px','vertical-align':'middle','text-align':'center',background:'#fff'}"
            [ngModelOptions]="{standalone: true}" filter="true" filterBy="label" selectedItemsLabel="已选择{0}项"
            [panelStyle]="{'background':'white','min-width':'7em'}"></p-multiSelect>
        <button class="ml-20" icon="iconfont icon-sousuo" pButton type="button" label="查询"
            (click)="doSearch()"></button>
      </div>
      <div class="bar-button">
          <button class="ml-10" icon="iconfont icon-add1" pButton type="button" label="新增"
              (click)="showAddDialog(null,'新增')"></button>
          <button class="ml-10" icon="iconfont icon-edit" pButton type="button" label="值域"
              (click)="showDictionaryDialog()"></button>
      </div>
     </div>
  </div>
  <p-dataTable class="project-table" [ngClass]="{'project-table-area':isSysAdmin}" #dt emptyMessage="暂无数据..." [style]="{'text-align':'center'}" [value]="dataList"
      fixedPaginator="true" scrollable="true" [paginator]="true" [first]="paginateInfo['first']"
      [rows]="paginateInfo['pageSize']" [rowsPerPageOptions]="[5,10,20]" (onSort)="onSort($event)"
      [totalRecords]="paginateInfo['totalNum']" [pageLinks]="3" [lazy]="true" (onPage)="onPage($event)"
      scrollHeight="calc(100vh - 229px)" >
      <p-column field="jsonType" header="文件类型"></p-column>
      <p-column field="mapperJsonName" header="项目名称"></p-column>
      <p-column field="clcType" header="患者类别"  [style]="{'width':'100px'}">
          <ng-template pTemplate="body" let-col let-data="rowData" let-index="rowIndex" let-col>
              <span>{{data[col.field]==='1'?'门诊':'住院'}}</span>
          </ng-template>
      </p-column>
      <p-column field="emrType" header="病历类型"  [style]="{'width':'300px'}"></p-column>
      <p-column field="exportFileName" header="导出文件名称"></p-column>
      <p-column field="createUserName" header="创建人"  [style]="{'width':'100px'}"></p-column>
      <p-column field="创建时间" header="创建时间" [sortable]="true"></p-column>
      <p-column field="" header="操作" [style]="{'width':'250px'}">
          <ng-template pTemplate="body" let-col let-data="rowData">
              <button type="button" pButton (click)="showAddDialog(data,'编辑')" label="编辑"
                  class="table-btn second-btn"></button>
              <button type="button" pButton (click)="openConfigDialog(data)" label="内容配置"
                  class="table-btn second-btn"></button>
              <button type="button" pButton (click)="doDelete(data)" label="删除" class="table-btn second-btn"></button>
          </ng-template>
      </p-column>
  </p-dataTable>
  <p-dialog class="add-dialog" [header]="openDialogType+'项目'" [(visible)]="isShowAddDialog" modal="true"
      closeOnEscape="false" [responsive]="true" (onHide)="closeAddDialog()">
      <div style="padding:0 20px" class="add-box">
          <div>
              <label class="label">文件类型：</label><span style="color: red;">*</span>
              <p-dropdown placeholder="请选择" [disabled]="openDialogType==='编辑'" [options]="jsonTypes"
                  [style]="{'width':'300px','height':'32px'}" [(ngModel)]="projectData['jsonType']"
                  [ngModelOptions]="{standalone: true}"></p-dropdown>
          </div>
          <div>
              <label class="label">项目名称：</label><span style="color: red;">*</span>
              <input class="input" type="text" pInputText [(ngModel)]="projectData['mapperJsonName']" [placeholder]="projectData['jsonType']=='回写HIS'?'回写HIS表名':''"/>
          </div>
          <div>
              <label class="label">患者类别：</label><span style="color: red;">*</span>
              <p-dropdown placeholder="请选择" [disabled]="openDialogType==='编辑'" [options]="clcTypes"
                  [style]="{'width':'300px','height':'32px'}" [(ngModel)]="projectData['clcType']"
                  [ngModelOptions]="{standalone: true}"></p-dropdown>
          </div>
          <div>
              <label class="label">病历类型：</label><span style="color: red;">*</span>
              <p-multiSelect *ngIf="projectData['jsonType']!=='回写HIS'" styleClass="select-style" [disabled]="openDialogType==='编辑'"
                  [style]="{'width':'300px','height':'32px','vertical-align':'middle','text-align':'center'}"
                  [(ngModel)]="projectData['_emrType']" [ngModelOptions]="{standalone: true}" filter="true"
                  [options]="projectData['clcType']?projectData['clcType']=='1'?emrTypesOut:emrTypesIn:emrTypes"
                  filterBy="label" selectedItemsLabel="已选择{0}项"
                  [panelStyle]="{'background':'white','min-width':'300px'}" defaultLabel='请选择'></p-multiSelect>
            <p-dropdown  [style]="{'width':'300px','height':'32px'}" *ngIf="projectData['jsonType']==='回写HIS'"
                placeholder="请选择"  [disabled]="openDialogType==='编辑'"
                [options]="projectData['clcType']?projectData['clcType']=='1'?emrTypesOut:emrTypesIn:emrTypes"
                [(ngModel)]="projectData['_emrType']" filter="true" filterBy="label"></p-dropdown>
          </div>
          <div *ngIf="projectData['jsonType']!=='回写HIS'">
              <label class="label">导出文件名称：</label><span style="color: red;">*</span>
              <input class="input" type="text" pInputText [(ngModel)]="projectData['exportFileName']" />
          </div>
      </div>
      <p-footer>
          <button pButton class="mr-10 kyee-button" icon="iconfont icon-ensure" type="button" label="确认"
              (click)="addProject()"></button>
          <button pButton class="kyee-button second-btn" icon="iconfont icon-cancel" type="button" label="取消"
              (click)="closeAddDialog()"></button>
      </p-footer>
  </p-dialog>
  <p-dialog [header]="'内容配置：'+projectData['mapperJsonName']" [(visible)]="isShowConfigDialog"
      [ngClass]="{'export-config-dialog': projectData['jsonType']==='数据导出','report-config-dialog':projectData['jsonType']==='首页上报','write-back-config':projectData['jsonType']==='回写HIS'}"
      class="config-dialog" modal="modal" draggable="false" resizable="false" (onHide)="closeConfigDialog()">
      <div class="botton-box">
          <button icon="iconfont icon-add1" pButton type="button" label="新增" (click)="addConfigData()"></button>
          <button *ngIf="projectData['jsonType']!=='回写HIS'" style="margin-left:10px" icon="fa-files-o" pButton type="button" label="复制" (click)="copyConfigData()"></button>
          <button *ngIf="projectData['jsonType']==='回写HIS'" style="margin-left:10px" icon="fa-files-o" pButton type="button" label="复制分组" (click)="copyGroupData()"></button>
          <button *ngIf="projectData['jsonType']==='回写HIS'" [disabled]="selectedConfigData.length===0" style="margin-left:10px" icon="fa-files-o" pButton type="button" label="分组" (click)="groupData()"></button>
          <button style="margin-left:10px" icon="iconfont icon-save" pButton type="button" label="保存"
              (click)="doSave()" [disabled]="saveDisabled"></button>
          <button style="margin-left:10px" icon="iconfont icon-delete" pButton type="button" label="删除"
              [disabled]="selectedConfigData.length===0" (click)="removeConfigData()"></button>
      </div>
    <p-dataTable *ngIf="projectData['jsonType']==='首页上报'" emptyMessage="暂无数据..."
        [style]="{'overflow':'auto','text-align':'center'}" [value]="configDataList" [editable]="true" fixedPaginator="true"
        scrollable="true" [(selection)]="selectedConfigData" (onRowClick)="onRowClick($event)" [paginator]="true"
        [pageLinks]="3" [first]="configPaginateInfo['first']" [rows]="configPaginateInfo['pageSize']"
        [rowsPerPageOptions]="[10,20,50,100]" (onPage)="onConfigPage($event)">
          <p-column [style]="{'width':'30px'}" selectionMode="multiple"></p-column>
          <p-column field="_value" header="数据元名称" [editable]="true" [style]="{'width':'250px'}">
              <ng-template pTemplate="editor" let-rowData="rowData" let-col>
                <p-autoComplete [(ngModel)]="rowData[col.field]" [suggestions]="datasources" 
                (completeMethod)="filterDataSource($event)" [multiple]="true"></p-autoComplete>
              </ng-template>
              <ng-template pTemplate="body" let-rowData="rowData" let-col>
                  {{rowData[col.field]}}
              </ng-template>
          </p-column>
          <p-column field="name" header="导出名称" [editable]="true"></p-column>
          <p-column field="sort" header="排序" [editable]="true"  [style]="{'width':'50px'}">
              <ng-template pTemplate="editor" let-rowData="rowData" let-col>
                  <input appendTo="body" type="number" pInputText [(ngModel)]="rowData[col.field]" min="1"
                      [style]="{'width':'100%'}">
              </ng-template>
              <ng-template pTemplate="body" let-rowData="rowData" let-col>
                  {{rowData[col.field]}}
              </ng-template>
          </p-column>
          <p-column field="code" header="编码"  [style]="{'width':'50px'}">
              <ng-template pTemplate="body" let-rowData="rowData" let-col>
                  <p-checkbox [(ngModel)]="rowData[col.field]" [binary]="true"></p-checkbox>
              </ng-template>
          </p-column>
          <p-column field="fee" header="费用"  [style]="{'width':'50px'}">
              <ng-template pTemplate="body" let-rowData="rowData" let-col>
                  <p-checkbox [(ngModel)]="rowData[col.field]" [binary]="true"></p-checkbox>
              </ng-template>
          </p-column>
          <p-column field="patient" header="从病人信息获取"  [style]="{'width':'120px'}">
              <ng-template pTemplate="body" let-rowData="rowData" let-col>
                  <p-checkbox [(ngModel)]="rowData[col.field]" [binary]="true"></p-checkbox>
              </ng-template>
          </p-column>
          <p-column field="_diagMapperType" header="诊断对照"  [style]="{'width':'90px'}"  [editable]="true">
              <ng-template pTemplate="editor" let-rowData="rowData" let-col>
                  <p-dropdown [options]="diagMapperTypes" [(ngModel)]="rowData[col.field]"
                      [style]="{'width':'100%'}" appendTo="body"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="body" let-rowData="rowData" let-col>
                  {{rowData[col.field]}}
              </ng-template>
          </p-column>
          <p-column field="format" header="日期格式" [editable]="true" [style]="{'width':'200px'}">
              <ng-template pTemplate="editor" let-rowData="rowData" let-col>
                  <p-dropdown [options]="formatTypes" [(ngModel)]="rowData[col.field]" [style]="{'width':'100%'}"
                      appendTo="body"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="body" let-rowData="rowData" let-col>
                  {{rowData[col.field]}}
              </ng-template>
          </p-column>
          <p-column field="defaultval" header="默认值" [editable]="true"></p-column>
          <p-column field="choiceName" header="值域" [editable]="true">
              <ng-template pTemplate="editor" let-rowData="rowData" let-col>
                  <p-dropdown [options]="dictionaryOptions" [(ngModel)]="rowData[col.field]"
                      [style]="{'width':'100%'}" appendTo="body"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="body" let-rowData="rowData" let-col>
                  {{rowData[col.field]}}
              </ng-template>
          </p-column>
          <p-column field="age" header="年龄转换" [editable]="true">
              <ng-template pTemplate="editor" let-rowData="rowData" let-col>
                  <p-dropdown [options]="ageTypes" [(ngModel)]="rowData[col.field]" [style]="{'width':'100%'}"
                      appendTo="body"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="body" let-rowData="rowData" let-col>
                  {{rowData[col.field]}}
              </ng-template>
          </p-column>
          <p-column field="maxLength" header="最大长度" [editable]="true">
              <ng-template pTemplate="editor" let-rowData="rowData" let-col>
                  <input appendTo="body" type="number" pInputText [(ngModel)]="rowData[col.field]" min="1"
                      [style]="{'width':'100%'}">
              </ng-template>
              <ng-template pTemplate="body" let-rowData="rowData" let-col>
                  {{rowData[col.field]}}
              </ng-template>
          </p-column>
      </p-dataTable>

      <p-dataTable *ngIf="projectData['jsonType']==='数据导出'" emptyMessage="暂无数据..."
          [style]="{'overflow':'auto','text-align':'center'}" [value]="configDataList" [editable]="true"
          fixedPaginator="true" scrollable="true" [(selection)]="selectedConfigData" (onRowClick)="onRowClick($event)"
          [paginator]="true" [pageLinks]="3" [first]="configPaginateInfo['first']" [rows]="configPaginateInfo['pageSize']"
          [rowsPerPageOptions]="[10,20,50,100]" (onPage)="onConfigPage($event)">
          <p-column [style]="{'width':'30px'}" selectionMode="multiple"></p-column>
          <p-column field="value" header="数据元名称" [editable]="true" [style]="{'width':'200px'}">
              <ng-template pTemplate="editor" let-rowData="rowData" let-col> 
                <p-autoComplete [(ngModel)]="rowData[col.field]" [suggestions]="datasources" 
                (completeMethod)="filterDataSource($event)"></p-autoComplete>
               </ng-template>
              <ng-template pTemplate="body" let-rowData="rowData" let-col>
                  {{rowData[col.field]}}
              </ng-template>
          </p-column>
          <p-column field="name" header="导出名称" [editable]="true"></p-column>
          <p-column field="sort" header="排序" [editable]="true">
              <ng-template pTemplate="editor" let-rowData="rowData" let-col>
                  <input appendTo="body" type="number" pInputText [(ngModel)]="rowData[col.field]" min="1"
                      [style]="{'width':'100%'}">
              </ng-template>
              <ng-template pTemplate="body" let-rowData="rowData" let-col>
                  {{rowData[col.field]}}
              </ng-template>
          </p-column>
          <p-column field="patient" header="从病人信息获取" [style]="{'width':'120px'}">
              <ng-template pTemplate="body" let-rowData="rowData" let-col>
                  <p-checkbox [(ngModel)]="rowData[col.field]" [binary]="true"></p-checkbox>
              </ng-template>
          </p-column>
        <p-column field="format" header="日期格式" [editable]="true" [style]="{'width':'200px'}">
          <ng-template pTemplate="editor" let-rowData="rowData" let-col>
            <p-dropdown [options]="formatTypes" [(ngModel)]="rowData[col.field]" [style]="{'width':'100%'}"
                        appendTo="body"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="body" let-rowData="rowData" let-col>
            {{rowData[col.field]}}
          </ng-template>
        </p-column>
      </p-dataTable>
    <p-dataTable *ngIf="projectData['jsonType']==='回写HIS'" emptyMessage="暂无数据..."
        [style]="{'overflow':'auto','text-align':'center'}" [value]="configDataList" [editable]="true" fixedPaginator="true"
        scrollable="true" [(selection)]="selectedConfigData" (onRowClick)="onRowClick($event)" [paginator]="true"
        [pageLinks]="3" [first]="configPaginateInfo['first']" [rows]="configPaginateInfo['pageSize']"
        [rowsPerPageOptions]="[10,20,50,100]" (onPage)="onConfigPage($event)">
        <p-column [style]="{'width':'30px'}" selectionMode="multiple"></p-column>
        <p-column field="name" header="数据元名称" [editable]="true" [style]="{'width':'200px'}">
            <ng-template pTemplate="editor" let-rowData="rowData" let-col>
                <p-autoComplete [(ngModel)]="rowData[col.field]" [suggestions]="datasources" 
                (completeMethod)="filterDataSource($event)"></p-autoComplete>
            </ng-template>
            <ng-template pTemplate="body" let-rowData="rowData" let-col>
                {{rowData[col.field]}}
            </ng-template>
        </p-column>
        <p-column field="value" header="HIS字段" [editable]="true" [style]="{'width':'200px'}"></p-column>
        <p-column field="sort" header="排序" [editable]="true" [style]="{'width':'50px'}">
            <ng-template pTemplate="editor" let-rowData="rowData" let-col>
                <input appendTo="body" type="number" pInputText [(ngModel)]="rowData[col.field]" min="1"
                    [style]="{'width':'100%'}">
            </ng-template>
            <ng-template pTemplate="body" let-rowData="rowData" let-col>
                {{rowData[col.field]}}
            </ng-template>
        </p-column>
        <p-column field="groupFlag" header="分组" [editable]="true" [style]="{'width':'50px'}">
            <ng-template pTemplate="editor" let-rowData="rowData" let-col>
                <input appendTo="body" type="number" pInputText [(ngModel)]="rowData[col.field]" min="1"
                    [style]="{'width':'100%'}">
            </ng-template>
            <ng-template pTemplate="body" let-rowData="rowData" let-col>
                {{rowData[col.field]}}
            </ng-template>
        </p-column>
        <p-column field="unique" header="业务主键" [style]="{'width':'75px'}">
            <ng-template pTemplate="body" let-rowData="rowData" let-col>
                <p-checkbox [(ngModel)]="rowData[col.field]" [binary]="true"></p-checkbox>
            </ng-template>
        </p-column>
        <p-column field="patient" header="从病人信息获取" [style]="{'width':'115px'}">
            <ng-template pTemplate="body" let-rowData="rowData" let-col>
                <p-checkbox [(ngModel)]="rowData[col.field]" [binary]="true"></p-checkbox>
            </ng-template>
        </p-column>
        <p-column field="code" header="编码" [style]="{'width':'50px'}">
            <ng-template pTemplate="body" let-rowData="rowData" let-col>
                <p-checkbox [(ngModel)]="rowData[col.field]" [binary]="true"></p-checkbox>
            </ng-template>
        </p-column>
        <p-column field="medicalInsurance" header="是否医保" [style]="{'width':'100px'}">
            <ng-template pTemplate="body" let-rowData="rowData" let-col>
                <p-checkbox [(ngModel)]="rowData[col.field]" [binary]="true"></p-checkbox>
            </ng-template>
        </p-column>
        <p-column field="jdbcType" header="数据类型" [editable]="true" [style]="{'width':'150px'}">
            <ng-template pTemplate="editor" let-rowData="rowData" let-col>
                <p-dropdown [options]="writeBackHisDataTypes" [(ngModel)]="rowData[col.field]" [style]="{'width':'100%'}"
                    appendTo="body"></p-dropdown>
            </ng-template>
            <ng-template pTemplate="body" let-rowData="rowData" let-col>
                {{rowData[col.field]}}
            </ng-template>
        </p-column>
        <p-column field="regex" header="正则" [editable]="true" [style]="{'width':'100px'}"></p-column>
        <p-column field="formatToDate" header="日期格式" [editable]="true" [style]="{'width':'200px'}">
            <ng-template pTemplate="editor" let-rowData="rowData" let-col>
                <p-dropdown [options]="formatTypes" [(ngModel)]="rowData[col.field]" [style]="{'width':'100%'}"
                    appendTo="body"></p-dropdown>
            </ng-template>
            <ng-template pTemplate="body" let-rowData="rowData" let-col>
                {{rowData[col.field]}}
            </ng-template>
        </p-column>
        <p-column field="notNull" header="非空校验" [style]="{'width':'55px'}">
            <ng-template pTemplate="body" let-rowData="rowData" let-col>
                <p-checkbox [(ngModel)]="rowData[col.field]" [binary]="true"></p-checkbox>
            </ng-template>
        </p-column>
        <p-column field="defaultval" header="默认值" [editable]="true"></p-column>
        <p-column field="time" header="当前时间">
            <ng-template pTemplate="body" let-rowData="rowData" let-col let-index="rowIndex">
                <p-checkbox [(ngModel)]="rowData[col.field]" [binary]="true" (onChange) ="timeOrAcsnSelect($event,index)"></p-checkbox>
            </ng-template>
        </p-column>
        <p-column field="acsn" header="生成序号">
            <ng-template pTemplate="body" let-rowData="rowData" let-col let-index="rowIndex">
                <p-checkbox [(ngModel)]="rowData[col.field]" [binary]="true" (onChange) ="timeOrAcsnSelect($event,index)"></p-checkbox>
            </ng-template>
        </p-column>
    </p-dataTable>
  </p-dialog>
  <p-dialog header="内容复制" class="copy-dialog" modal="modal" draggable="false" resizable="false"
      [(visible)]="isShowCopyDialog">
      <p-dropdown placeholder="请选择复制项目" [options]="copyProjectList" [(ngModel)]="selectCopyProject"
          [ngModelOptions]="{standalone: true}" [style]="{'width':'200px'}"></p-dropdown>
      <button pButton class="ml-10 kyee-button" icon="iconfont icon-ensure" type="button" label="确认"
          (click)="doCopyData()"></button>
  </p-dialog>
  <p-dialog header="复制分组" class="copy-dialog" modal="modal" draggable="false" resizable="false"
  [(visible)]="isShowCopyGroupDialog">
  <p-dropdown placeholder="请选择分组" [options]="copyGroupDataList" [(ngModel)]="selectCopyGroup"
      [ngModelOptions]="{standalone: true}" [style]="{'width':'200px'}"></p-dropdown>
  <button pButton class="ml-10 kyee-button" icon="iconfont icon-ensure" type="button" label="确认"
      (click)="doCopyGroupData()"></button>
</p-dialog>
  <dictionary [areaCode]="searchData['areaCode']" [hosNum]="searchData['hosNum']" [nodeCode]="searchData['nodeCode']"></dictionary>
</div>
</div>
<p-growl [(value)]="msgs" [life]="1000"></p-growl>
