<div class="ui-g-12 box clearfix">
  <div class="header-box">
    <div class="search-box clearfix">
      <form>
        <div class="ui-g" style="align-items: center;">
              <span class="mr_5">医院</span>
              <p-dropdown [options]="searchEmrHospitalList" [style]="{'width':'200px'}"
                          [filter]="true"
                          filterPlaceholder="请搜索..."
                          emptyFilterMessage="暂无搜索结果"
                          [resetFilterOnHide]="true"
                          [(ngModel)]="selectedSearchEmrHospital"
                          [ngModelOptions]="{standalone: true}"
                          (onChange)="getEmrDeptList()"
                          optionLabel="name"></p-dropdown>
              <span class="mr_5 ml-10">收藏类型</span>
              <p-dropdown [options]="collectType" [style]="{'width':'100px'}"
                          [(ngModel)]="this.searchData['收藏类型']"
                          [ngModelOptions]="{standalone: true}">
              </p-dropdown>
              <span class="mr_5 ml-10">科室名称</span>
              <p-dropdown [options]="searchEmrHospitalDeptList" [style]="{'width':'100px'}"
                          [filter]="true"
                          filterPlaceholder="请搜索..."
                          emptyFilterMessage="暂无搜索结果"
                          [resetFilterOnHide]="true"
                          [(ngModel)]="selectedSearchEmrDept"
                          (onChange)="getEmrDeptUser()"
                          [ngModelOptions]="{standalone: true}"
                          optionLabel="name">
              </p-dropdown>
          <div *ngIf="this.searchData['收藏类型'] == 'person'">
              <span class="mr_5 ml-10">医生姓名</span>
              <p-dropdown [options]="searchEmrHospitalDeptUserList" [style]="{'width':'100px'}"
                    [filter]="true"
                    filterPlaceholder="请搜索..."
                    emptyFilterMessage="暂无搜索结果"
                    [resetFilterOnHide]="true"
                    [(ngModel)]="selectedSearchEmrUser"
                    (onChange)="selectEmrDeptUser()"
                    [ngModelOptions]="{standalone: true}"
                    optionLabel="用户名">
              </p-dropdown>
          </div>
              <span class="mr_5 ml-10">模板名称</span>

                <!-- <input type="text" pInputText style="width: 50%" class="inp" [(ngModel)]="this.searchData['模板名称']" placeholder="请输入" 
                      [ngModelOptions]="{standalone: true}">-->
                  <p-dropdown [options]="dropTemplateList"   [style]="{'width':'200px'}"
                      [filter]="true"
                      editable="true"
                      filterPlaceholder="请搜索..."
                      emptyFilterMessage="暂无搜索结果"
                      [resetFilterOnHide]="true"
                      [(ngModel)]="selectSearchTemplate"
                      [ngModelOptions]="{standalone: true}"
                      optionLabel="displayName"></p-dropdown>
        </div>
      </form>
    </div>
      <div class="right-btn">
        <button pButton type="button" style="min-width: 64px;" (click)="searchCollectedTemplate()" label="查询"></button>
        <button type="button" style="margin:0 5px 0 10px" pButton (click)="replaceCollectedTemplate()" label="替换">
        </button>
      </div>
    </div>
    <div class="ui-g-12 content-box">
      <p-dataTable #dt [style]="{'text-align':'center','max-height': 'calc(100vh - 195px)'}"
       [value]="templateCollectedInfoList" emptyMessage="未检索到模板收藏情况！" [totalRecords]="allSize"  
       (onLazyLoad)="lazyLoad($event)" [rowsPerPageOptions]="[5,10,20,50,100,200]" [(first)]="first"  [lazy]="true" 
       [rows]="searchData['pageSize']" loadingIcon="fa-spinner" #dt [loading]="dirLoading"
       [(selection)]="selectionTemplates" [paginator]="true" [pageLinks]="3" fixedPaginator="true" scrollable="true" scrollHeight="calc(100vh - 235px)">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column  header="序号"  [style]="{'width':'70px'}">
          <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
            <span>{{ i+1}}</span>
                    </ng-template>
        </p-column>
        <p-column field="templateName" header="模板名称" [style]="{'width':'220px','word-break':'break-all'}">
          <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
            {{item ? item['模板名称'] : ''}}
          </ng-template>
        </p-column>
        <p-column field="templateName" header="模板别名" [style]="{'width':'150px','word-break':'break-all'}">
          <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
            {{item ? item['模板别名'] : ''}}
          </ng-template>
        </p-column>
        <p-column field="templateName" header="收藏类型">
          <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
            {{item ? item['收藏类型'] : ''}}
          </ng-template>
        </p-column>
        <p-column field="templateName" header="模板收藏全名" [style]="{'width':'220px','word-break':'break-all'}">
          <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
            {{item ? item['模板收藏全名'] : ''}}
          </ng-template>
        </p-column>
        <p-column field="templateName" header="收藏时间">
          <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
            {{item['createTime'] | date:'y-MM-dd HH:mm:ss'}}
          </ng-template>
        </p-column>
        <p-column field="templateName" header="替换人">
          <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
            {{item ? item['替换人'] : ''}}
          </ng-template>
        </p-column>
        <p-column field="templateName" header="替换时间">
          <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
            {{item['替换时间'] | date:'y-MM-dd HH:mm:ss'}}
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  
  
  
  <p-dialog header="批量替换收藏模板" [(visible)]="newRecordDialogDisplay" [contentStyle]="{'overflow':'visible','min-height':'400px'}"
            [responsive]="true" showEffect="fade" [modal]="true" [width]="1000" (onHide)="onClose()">
      <section class="ui-g ui-fluid selection-condition-block">
          <label class="mr-10">所属分类：</label>
          <p-radioButton *ngIf="isAreaRole" class="mr-20" name="scope" value="area" label="区域" [(ngModel)]="selectedScope"
                          (click)="changeScope('area')"></p-radioButton>
          <p-radioButton *ngIf="(selectedSearchEmrHospital||{})['code']" class="mr-20" name="scope" value="hospital" label="医院" [(ngModel)]="selectedScope"
                          (click)="changeScope('hospital')"></p-radioButton>
          <p-radioButton *ngIf="(selectedSearchEmrHospital||{})['code']"  class="mr-5" name="scope" value="deptment" label="科室" [(ngModel)]="selectedScope"
                          (click)="changeScope('deptment')"></p-radioButton>
          <p-dropdown *ngIf="selectedScope== 'deptment'"  class="kyee-dropdown" style="height: 27px;" [options]="searchEmrHospitalDeptList" [(ngModel)]="selectedDeptment" optionLabel="name" [style]="{'width':'150px'}"
                          [filter]="true" filterPlaceholder="请搜索..." emptyFilterMessage="暂无搜索结果" [resetFilterOnHide]="true"
                          (onChange)="changeDeptment($event)"></p-dropdown>
          <div style="display: inline;padding-left: 5px;">
            <p-autoComplete [inputStyle]="{'width': '450px'}" [(ngModel)]="selectedSearchTemplate" [suggestions]="filteredTemplates"
            [placeholder]="'请输入模板名称'" [minLength]="1" field="templateNameWithScope"
            (completeMethod)="filterTemplateByTemplateName($event)" (onSelect)="selectTemplateForPAuto()"
            emptyMessage="未查到相关模板，请重新输入..."></p-autoComplete>
          </div>
      </section>
      <section class="ui-g">
          <div class="template-dir-block">
              <p-dataTable #dirTable [value]="templateDirs" scrollable="true" scrollHeight="300px"
                    [style]="{'text-align': 'center'}" loadingIcon="fa-spinner" selectionMode="single"
                    emptyMessage="暂无模板目录..." [(selection)]="selectedTemplateDir" (onRowSelect)="updateTemplateList()">
    
                <p-column field="目录名称" header="模板目录"></p-column>
              </p-dataTable>
          </div>
          <div class="template-list-block">
              <p-dataTable [value]="emrTemplates" scrollHeight="300px" scrollable="true"
                        loadingIcon="fa-spinner" [style]="{'text-align':'center'}"
                         emptyMessage="暂无模板...">
                <p-column [style]="{'width':'75%'}">
                    <ng-template pTemplate="header"> 模板名称</ng-template>
                    <ng-template let-col let-template="rowData" pTemplate="body">
                        {{template['模板名称']}}
                    </ng-template>
                </p-column>
                <p-column [style]="{'width':'20%', 'text-align':'center'}">
                    <ng-template pTemplate="header">操作</ng-template>
                    <ng-template let-col let-template="rowData" pTemplate="body">
                        <button type="button" pButton label="替换" (click)="confirmReplaceOrNot(template)"></button>
                    </ng-template>
                </p-column>
              </p-dataTable>
          </div>
      </section>
      <div style="height: 15px;"></div>
  </p-dialog>
  
  <p-dialog styleClass="confirm-dlg" [header]="'替换模板'" [(visible)]="confirmReplace" modal="modal">
    <p>将使用该模板替换选择的所有收藏模板，请确认选择收藏模板的模板类型？</p>
      <!-- {{this.replaceTemplate['模板名称']}} -->
    <p-footer>
      <button type="button" pButton icon="iconfont icon-ensure" (click)="confirmReplaceTemplate()" label="确认"></button>
      <button class="ml-10 second-btn" type="button" pButton icon="iconfont icon-cancel" (click)="cancelReplaceTemplate()" label="取消"></button>
    </p-footer>
  </p-dialog>
  <p-growl [(value)]="msgs" [life]=10000 ></p-growl>
  