<p-dialog class="dictionary-dialog" header="值域" [(visible)]="isShowDictionaryDialog" modal="true" closeOnEscape="false"
    [responsive]="true">
    <div style="display: flex;justify-content: space-between;align-items: center;margin:10px 20px;">
        <div>
            <input class="ml-10" type="text" pInputText placeholder="值域名称" [(ngModel)]="searchData['value']"
                [ngModelOptions]="{standalone: true}">
            <button class="ml-20" icon="iconfont icon-sousuo" pButton type="button" label="查询"
                (click)="doSearch()"></button>
        </div>
        <button icon="iconfont icon-add1" pButton type="button" label="新增" (click)="showAddDialog(null,'新增')"></button>
    </div>
    <p-dataTable emptyMessage="暂无数据..." [style]="{'max-height': '100%','overflow':'auto','text-align':'center'}"
        [value]="dictionaryList" fixedPaginator="true" scrollable="true">
        <p-column field="值域名称" header="值域名称"></p-column>
        <p-column field="" header="操作">
            <ng-template pTemplate="body" let-col let-data="rowData" let-index="rowIndex">
                <button type="button" pButton (click)="showAddDialog(data,'查看')" label="查看"
                    class="table-btn second-btn"></button>
                <button type="button" pButton (click)="showAddDialog(data,'编辑')" label="编辑"
                    class="table-btn second-btn"></button>
                <button type="button" pButton (click)="doDelete(data)" label="删除" class="table-btn second-btn"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-dialog>
<p-dialog class="add-dictionary" [ngClass]="{'view-dialog': openType==='查看'}" [header]="openType"
    [(visible)]="isShowAddDialog" modal="true" closeOnEscape="false" [responsive]="true" (onHide)="closeAddDialog()">
    <div style="padding:20px 60px 20px 20px" class="add-box">
        <div style="margin-bottom: 10px;">
            <label class="label">值域名称: </label><span style="color: red;">*</span>
            <input class="input" [disabled]="openType==='查看'" type="text" pInputText
                [(ngModel)]="dictionaryItem['值域名称']" />
        </div>
        <div [ngClass]="{'view': openType==='查看'}" class="key-box">
            <label class="label">值域项: </label>
            <button *ngIf="openType!=='查看'" style="margin-left:15px" type="button" label="新增" pButton icon="iconfont icon-add1"
                (click)="doAddDictionaryData(dictionaryItem['value'])"></button>
            <div *ngIf="openType==='查看'" id="dictionary-value"></div>
            <div *ngIf="openType!=='查看'" style="max-height:288px;overflow-y:scroll">
                <div *ngFor="let item of dictionaryItem['value']; index as i;">
                    <input class="input" type="text" pInputText [(ngModel)]="item['key']" />
                    <input class="input" type="text" pInputText [(ngModel)]="item['value']" />
                    <button style="margin-left:15px" type="button" pButton icon="iconfont icon-delete"
                        (click)="removeDictionaryData(dictionaryItem['value'],i)"></button>
                </div>
            </div>
        </div>
    </div>
    <p-footer *ngIf="openType!=='查看'">
        <button pButton class="mr-10 kyee-button" icon="iconfont icon-ensure" type="button" label="确认" (click)="doSave()"></button>
        <button pButton class="kyee-button second-btn" type="button" icon="iconfont icon-cancel" label="取消" (click)="closeAddDialog()"></button>
    </p-footer>
</p-dialog>
<p-growl [(value)]="msgs" [life]="1000"></p-growl>