<div *ngIf="selectParamType ==='病案管理'">
    <div *ngIf="showOtherProperty('visible','纸质版归档')">
        <div class="params">
          <div style="display: inline-block;">纸质版归档</div>
          <div style="display: inline-block; width: 67%"><hr></div>
        </div>
        <div style="display: inline-block;width: 100%;">
          <div class="currentCheckedValue">
            <span *ngIf="!paramBean['纸质版归档']['启用']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
            <span *ngIf="paramBean['纸质版归档']['启用']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
            当前：{{paramBean['纸质版归档']['启用']? '启用' : '禁用'}}
          </div>
          <div style="display: inline-block; width: 49%;text-align: right;">
            <p-inputSwitch [(ngModel)]="paramBean['纸质版归档']['启用']" (onChange)="paperFiling($event)"></p-inputSwitch>
          </div>
        </div>
        <div style="display: inline-block;width: 100%;">
          <div *ngIf="paramBean['纸质版归档']['启用']" style="display: inline-block;width: 80%;">
            <p style="display: inline-block; margin: 20px 0 0 99px;">归档时限：</p>
            <input size="30" pInputText [(ngModel)]="paramBean['纸质版归档']['归档时限']" (blur)="paperFiling()" style="width: 200px" maxlength="20"/><br/>
          </div>
          <div class="params" style="display: inline-block;width: 100%">该功能启用时，在病案归档页面增加纸质版病案收回登记功能，表格操作列中增加“收回”或“取消”按钮，增加【纸质病案收回时间】、【纸质病案收回人】、【纸质病案逾期天数】列。点击按钮“收回”，生成系统当前时间为【纸质病案收回时间】，点击“取消”则取消收回，取消生成的收回时间。</div>
        </div>
      </div>
      <div *ngIf="showOtherProperty('visible','病案管理可编辑的用户')">
        <div class="params" style="line-height: 40px;background-color: #ddd;">
          <div style="display: inline-block;padding-left: 10px;">病案管理可编辑的用户</div>
          <button pButton type="button" (click)="saveHospitalParams()" label="保存" style="float:right;margin-right:30px;margin-top: 5px;"></button>
        </div>
        <div style="margin-left: 20px;display: inline-block;">
          用户ID：
        </div>
        <div style="display: inline-block; width: 70%;">
          <input size="30" pInputText [(ngModel)]="paramBean['病案管理可编辑的用户']" style="width: 100%"/>
        </div>
        <div class="ml-20 mr-20 mb-10">设置病案管理有编辑权限的用户ID，多个用户ID请使用中文逗号分隔。</div>
      </div>
      <div *ngIf="showOtherProperty('visible','病案管理员设置可编辑病历')">
        <div class="params" style="line-height: 40px;background-color: #ddd;">
          <div style="display: inline-block;padding-left: 10px;">病案管理员设置可编辑病历</div>
          <button pButton type="button" (click)="saveHospitalParams()" label="保存" style="float:right;margin-right:30px;margin-top: 5px;"></button>
        </div>
        <div class="params">
          <p-multiSelect [style]="{'width': '100%'}" [panelStyle]="{'width': '100%'}" [options]="emrMangeTemplates"
              [(ngModel)]="paramBean['病案管理员设置可编辑病历']" maxSelectedLabels= "5" selectedItemsLabel='{0}项选择'></p-multiSelect>
        </div>
        <div class="params">选择可编辑的病历，病案管理员将具有选中病历的编辑权限，若未选择可编辑病历，则无法编辑。</div>
      </div>
      <div *ngIf="showOtherProperty('visible','病案管理导出EXCEL时间字段格式化形式')">
        <div class="params" style="line-height: 40px;background-color: #ddd;">
          <div style="display: inline-block;padding-left: 10px;">病案管理导出EXCEL时间字段格式化形式</div>
          <button  pButton type="button" (click)="saveHospitalParams()" label="保存" style="float:right;margin-right:30px;margin-top: 5px;"></button>
        </div>
        <section *ngIf="paramBean['病案管理导出EXCEL时间字段格式化形式']" class="ml-20 mr-20 mb-10">
          <div class="clearfix">
            <ul class="config-box">
              <li>
                <ul class="data-config" style="overflow-x: hidden;">
                  <li>
                    <span style="width:165px;padding:0.5em">字段名称</span>
                    <span style="padding:0.5em">格式化串</span>
                    <button pButton type="button" (click)="addEmrManageFieldFormatMapping()" label="增加"></button>
                  </li>
                  <li *ngFor="let item of emrManageExcelFieldFormat;let i=index">
                    <textarea type="text" pInputText style="vertical-align: middle;width: 165px;height: 30px;overflow: auto hidden;white-space: nowrap;resize: none;" [(ngModel)]="item['name']"></textarea>
                    <textarea type="text" pInputText style="vertical-align: middle;width: 350px;height: 30px;overflow: auto hidden;white-space: nowrap;resize: none;" [(ngModel)]="item['format']"></textarea>
                    <button pButton type="button" (click)="removeFieldFormatMapping(i)" label="删除"></button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="params">
            参数说明:该参数是设置病案管理导出EXCEL中特定时间字段格式化的形式；<br/>
            不设置时默认按照年月日进行格式化<br/>
            年月日：yyyy-MM-dd<br/>
            年月日时分：yyyy-MM-dd HH:mm<br/>
            年月日时分秒：yyyy-MM-dd HH:mm:ss
          </div>
        </section>
      </div>
      <div *ngIf="showOtherProperty('visible','病案归档是否需要维护档案号')">
        <div class="params">
          <div style="display: inline-block;">病案归档是否需要维护档案号</div>
          <div style="display: inline-block; width: 70%"><hr></div>
        </div>
        <div style="display: inline-block;width: 100%;">
          <div class="currentCheckedValue">
            <span *ngIf="!paramBean['病案归档是否需要维护档案号']" class="icon iconfont icon-caps-on" style="color: #EB564A;"></span>
            <span *ngIf="paramBean['病案归档是否需要维护档案号']" class="icon iconfont icon-caps-off" style="color: #5CB85C;"></span>
            当前：{{paramBean['病案归档是否需要维护档案号']? '启用' : '禁用'}}
          </div>
          <div style="display: inline-block; width: 49%;text-align: right;">
            <p-inputSwitch [(ngModel)]="paramBean['病案归档是否需要维护档案号']" (onChange)="saveHospitalParams()"></p-inputSwitch>
          </div>
        </div>
        <div class="params">启用时，病案归档，维护档案号后方可进行归档；禁用时，病案归档不校验档案号</div>
      </div>
      <div *ngIf="showOtherProperty('visible','就诊历史信息查看配置')">
        <div class="params" style="line-height: 40px;background-color: #ddd;">
          <div style="display: inline-block;padding-left: 10px;">就诊历史信息查看设置</div>
          <button *ngIf="showContinuePrintSaveBtn" pButton type="button" (click)="saveHospitalParams()" label="保存" style="float:right;margin-right:30px;margin-top: 5px;"></button>
        </div>
        <div style="padding-left:10px;">
          <label style="width: 150px;display: inline-block;">获取token地址：</label>
          <div style="display:inline-block;">
              <input type="text" name="test" pInputText ="logoDisabledEditor"
            [(ngModel)]="paramBean['就诊历史信息查看配置']['获取token地址']">

          </div>
        </div>
        <div style="padding-left:10px;margin-top: 20px;">
          <label style="width: 150px;display: inline-block;">用户名：</label>
          <div style="display:inline-block;">
            <input type="text" name="test" pInputText ="logoDisabledEditor"
            [(ngModel)]="paramBean['就诊历史信息查看配置']['用户名']">
          </div>
        </div>
        <div style="padding-left:10px;margin-top: 20px;">
          <label style="width: 150px;display: inline-block;">密码：</label>
          <div style="display:inline-block;">
            <input type="text" name="test" pInputText ="logoDisabledEditor"
            [(ngModel)]="paramBean['就诊历史信息查看配置']['密码']">
          </div>
        </div>
        <div style="padding-left:10px;margin-top: 20px;">
          <label style="width: 150px;display: inline-block;">就诊历史信息地址：</label>
          <div style="display:inline-block;">
            <input type="text" name="test" pInputText ="logoDisabledEditor"
            [(ngModel)]="paramBean['就诊历史信息查看配置']['就诊历史信息地址']">
          </div>
        </div>
        <div class="params">以上信息全部设置后，病案归档页面，右键可跳转至患者就诊历史页面</div>
      </div>
      <div *ngIf="showOtherProperty('visible','首页诊断')">
        <button *ngIf="showContinuePrintSaveBtn" pButton type="button" (click)="saveHospitalParams()" label="保存" style="float:right;margin-right:30px;margin-top: 5px;"></button>
        <div class="params">
          <div style="display: inline-block;">首页诊断名称设置</div>
        </div>
        <div style="padding-left: 20px;padding-bottom: 3px;">
          <span style="width:165px;padding:0.5em;display: inline-block;">首页名称</span>
          <span style="padding: 0.5em;width: 200px;display: inline-block;">诊断数据元</span>
          <span style="padding: 0.5em;width: 200px;display: inline-block;">诊断编码数据元</span>
        </div>
        <ul class="data-config" style="margin-left: 20px;">
            <textarea type="text" pInputText style="width: 165px;height: 30px;overflow: auto hidden;white-space: nowrap;resize: none;" [(ngModel)]="paramBean['首页诊断']['首页名称']" ></textarea>
            <textarea type="text" pInputText style="width: 200px;height: 30px;overflow: auto hidden;white-space: nowrap;resize: none;" [(ngModel)]="paramBean['首页诊断']['诊断数据元']" ></textarea>
            <textarea type="text" pInputText style="width: 200px;height: 30px;overflow: auto hidden;white-space: nowrap;resize: none;" [(ngModel)]="paramBean['首页诊断']['诊断编码数据元']" ></textarea>
        </ul>
        <div class="params">配置病案首页名称，并选择首页诊断数据元名称用于病案管理等模块展示首页主诊断内容</div>
      </div>
  <div *ngIf="showOtherProperty('visible','逾期天数设置')">
    <button *ngIf="showContinuePrintSaveBtn" pButton type="button" (click)="saveHospitalParams()" label="保存" style="float:right;margin-right:30px;margin-top: 5px;"></button>
    <div class="params">
      <div style="display: inline-block;">病案归档逾期天数设置</div>
      <div style="display: inline-block; width: 67%"><hr></div>
    </div>
    <section  class="ml-20 mr-20 mb-10">
      <div class="clearfix mb-10">
        <label class="ui-g-4">是否按照工作日计算：</label>
        <p-inputSwitch [(ngModel)]="paramBean['逾期天数设置']['是否工作日']"></p-inputSwitch>
      </div>
      <div class="clearfix mb-10">
        <label class="ui-g-4">出院后提交质控天数限制：</label>
        <input class="ui-g-3" type="number" pInputText [(ngModel)]="paramBean['逾期天数设置']['出院后提交天数']" />
      </div>
      <div class="clearfix">
        <label class="ui-g-4">出院后归档天数限制：</label>
        <input class="ui-g-3" type="number" pInputText [(ngModel)]="paramBean['逾期天数设置']['出院后归档天数']" />
      </div>
    </section>
    <div class="ml-20 mr-20 mb-10">【是否按照工作日计算】默认否：按照自然日计算，是：按照工作日计算。出院后提交质控天数限制设置为3，则表示预出院3天后未提交的病历开始计算逾期时间，出院后归档天数限制设置为7，则表示预出院7天后未归档的病历开始计算逾期时间。</div>
  </div>
  <div *ngIf="showOtherProperty('visible','病案归档回写归档状态')">
    <button *ngIf="showContinuePrintSaveBtn" pButton type="button" (click)="saveHospitalParams()" label="保存" style="float:right;margin-right:30px;margin-top: 5px;"></button>
    <div class="params">
      <div style="display: inline-block;">病案归档回写归档状态</div>
      <div style="display: inline-block; width: 67%"><hr></div>
    </div>
    <section  class="ml-20 mr-20 mb-10">
      <div class="clearfix mb-10">
        <label class="ui-g-4">更新表名称：</label>
        <input class="ui-g-3" pInputText [(ngModel)]="paramBean['病案归档回写归档状态']['更新表名称']" />
      </div>
      <div class="clearfix">
        <label class="ui-g-4">更新字段名称：</label>
        <input class="ui-g-3"  pInputText [(ngModel)]="paramBean['病案归档回写归档状态']['更新字段']" />
      </div>
    </section>
    <div class="ml-20 mr-20 mb-10">在患者病案上架时根据MR_INP_REGIST_INFO 表里 HOSNUM，NODECODE，ZYH 更新配置字段的病案状态例如：更新表名称：MR_INP_REGIST_INFO更新字段名称：GDZT</div>
  </div>
</div>
