<div *ngIf="selectParamType ==='门诊病历书写'">
    <div *ngIf="showOtherProperty('visible','门诊病历排序方式')">
        <div class="params">
            <div style="display: inline-block;">门诊病历排序方式</div>
            <div style="display: inline-block; width: 70%">
                <hr>
            </div>
        </div>
        <div style="display: inline-block; padding-left: 40px;">
            <p class="margin-t-15">当前选择: {{paramBean['门诊病历排序方式']}}</p>
        </div>
        <div style="display: inline-block; padding-left: 200px;text-align: center;">
            <p-dropdown [options]="showOtherProperty('options','门诊病历排序方式')" [(ngModel)]="paramBean['门诊病历排序方式']"
                placeholder="请选择" (onChange)="saveHospitalParams()"></p-dropdown>
        </div>
        <div class="params">默认设置：按病历名称排序。按记录时间排序：如果病历模板有‘记录时间’数据元，则使用记录时间排序，没有则使用创建时间正序排序。</div>
    </div>
</div>