.main{
    .ops{
        margin:3px 0;
    }
}

:host /deep/ .data .ui-state-highlight:not(.readonly){
    background-color: #4297fe !important;
    color:#fff !important;
}
:host /deep/ .data .readonly{
    background-color: #eee !important;
    color: #404447 !important;
}
:host /deep/ .data .readonly:hover{
    background-color: #eee !important;
    color: #404447 !important;
}


:host /deep/ .ui-treetable-scrollable-body{
    max-height: calc(100vh - 116px);
}
:host /deep/ .ui-autocomplete input{
    width: 100%;
}
:host /deep/ .ui-autocomplete input{
    width: 80%;
}
:host /deep/ .d-ops .ui-button-text-icon-left .ui-button-text{
    padding: .1em 1em .1em 2.1em !important;
}
:host /deep/ .d-data .ui-button-text-only .ui-button-text{
    padding:0.1em 1em !important;
}
:host /deep/ .d-data td{
    padding: unset;
}
