<div class="main">
  <div class="ops">
    <button pButton label="增加" icon="fa-plus" (click)="addRow()"></button>
    <button pButton label="增加子项目" icon="fa-plus" (click)="addChildRow()"></button>
    <button pButton label="删除" icon="fa-minus" (click)="delRow()"></button>
    <button pButton label="保存" icon="fa-save" (click)="saveAll()"></button>
    <button pButton label="清除选中" icon="fa-close" (click)="this.selectedNode = null"></button>
    
  </div>
  <div class="data">
    <p-treeTable [value]="formData" [columns]="cols" selectionMode="single" [(selection)]="selectedNode" dataKey="uid"
      [scrollable]="true" [style]="{'text-align':'center'}">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{'width':col.width || '150px'}">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of cols">
            {{col.header}}
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [ttSelectableRow]="rowNode" [ngClass]="{'readonly':rowData['READONLY']}">
          <td *ngFor="let col of columns; let i = index" ttEditableColumn>

            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
            <p-treeTableCellEditor
              *ngIf="(col.editor && col.type != 'button' && !rowData['READONLY']) || col.header == '组件状态'">
              <ng-template pTemplate="input">
                <input *ngIf="col.type != 'dropdown'" pInputText type="text" [(ngModel)]="rowData[col.field]"
                  [ngStyle]="{'width': i == 0 ? '90%': '100%'}">
                <p-dropdown *ngIf="col.type == 'dropdown' && col.header != '控件名'" [options]="col.options"
                  [(ngModel)]="rowData[col.field]" [style]="{'width':'100%'}" appendTo="body"
                  [filter]="col.filter" ></p-dropdown>
                <!-- [dropdown]="true" -->
                <p-autoComplete *ngIf="col.type == 'dropdown' && col.header == '控件名'" [(ngModel)]="rowData['ds']"
                  [suggestions]="filterDs" (completeMethod)="filterDsFun($event)" placeholder="" field="label"
                  [style]="{'width':'100%'}" appendTo="body" (onSelect)="selDs(rowData)" [dropdown]="true">

                  <ng-template let-score pTemplate="item">
                    <div style="width: 300px;display: flex;">
                      <div
                        style="width: 200px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: inline-block;">
                        {{score.label}}</div>
                      <div style="width: 100px;display: inline-block;">{{score.type}}</div>
                    </div>
                  </ng-template>
                </p-autoComplete>




                <!-- <p-dropdown *ngIf="col.type == 'dropdown' && col.header == '控件名'" [options]="d.options" [(ngModel)]="rowData[col.field]" [style]="{'width':'100%'}"
          appendTo="body" (onChange)="selDs($event,rowData)">
            <ng-template let-car pTemplate="item">
            <div style="width: 100%;display: flex;">
               <div style="width: 160px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: inline-block;">{{car.label}}</div>
                <div  style="width: 30px;display: inline-block;">{{car.type}}</div> 
            </div>
        </ng-template>

          </p-dropdown> -->



              </ng-template>
              <ng-template pTemplate="output">{{rowData[col.field]}}</ng-template>
            </p-treeTableCellEditor>
            <span *ngIf="!col.editor && !rowData['READONLY']">{{rowData[col.field]}}</span>
            <span *ngIf="col.type == 'button' && !rowData['READONLY'] && showButton(col,rowData)"
              (click)="showPop(col,rowData)">{{rowData[col.field] || '单击维护'}}</span>
            <span *ngIf="rowData['READONLY'] && col.header != '组件状态'">{{rowData[col.field]}}</span>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>

<p-dialog [header]="popTitle" [(visible)]="dpDlg" modal="true" closeOnEscape="false" [responsive]="true" width="600"
  height="500" appendTo="body">
  <div class="d-ops" style="margin-bottom: 3px">
    <button pButton label="增加" icon="fa-plus" (click)="popAddRow()"></button>
    <!-- <button pButton label="删除" icon="fa-minus" (click)="delRow()"></button> -->
    <button pButton label="保存" icon="fa-save" (click)="popConfirm()"></button>
  </div>
  <div class="d-data" style="height: 420px;">
    <p-dataTable [style]="{'max-height': '95%','overflow':'auto','text-align':'center'}" [value]="popDpList"
      [editable]="true" dataKey="uid" fixedPaginator="true" scrollable="true">
      <!-- <p-column [style]="{'width':'150px'}" field="显示值" header="显示值" [editable]="true"></p-column>
      <p-column [style]="{'width':'150px'}" field="隐藏值" header="隐藏值" [editable]="true"></p-column>
      <p-column [style]="{'width':'150px'}" field="报表打印值" header="报表打印值" [editable]="true"></p-column>
      <p-column [style]="{'width':'150px'}" field="分数" header="分数" [editable]="true"></p-column>
      <p-column [style]="{'width':'150px'}" field="关联项" header="关联项" [editable]="true"></p-column>
      <p-column [style]="{'width':'150px'}" field="关联诊断" header="关联诊断" [editable]="false"></p-column> -->


      <p-column *ngFor="let d of buttonCols" [field]="d.field" [header]="d.field" [editable]="d.editor">
        <ng-template pTemplate="editor" let-rowData="rowData" let-col>


          <p-dropdown *ngIf="d.options" [options]="d.options" [(ngModel)]="rowData[col.field]"
            [style]="{'width':'100%'}" appendTo="body"></p-dropdown>
          <input *ngIf="!d.options" pInputText type="text" [(ngModel)]="rowData[col.field]"
            [ngStyle]="{'width': '100%'}">
        </ng-template>
        <ng-template pTemplate="body" let-rowData="rowData" let-col>
          {{rowData[col.field]}}
        </ng-template>
      </p-column>
      <p-column [style]="{'width':'150px'}" field="" header="操作">
        <ng-template let-index="rowIndex" pTemplate="body">
          <button pButton label="删除" icon="fa-minus" (click)="popDelRow(index)"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</p-dialog>

<p-growl [(value)]="msgs" [life]=5000></p-growl>