<!-- <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb> -->
<!-- 顶部按钮 -->
<div class="header-group" [hidden]="hiddenEmrWrapper">
  <span style="color: #1b82d7;">{{emrTemplate.templateName}}</span>
  <!-- <span>[{{emrTemplateStatusTypeMap[emrTemplate.status]}}]</span> -->
  <div class="btn-group">
      <button type="button" class="btn" (click)="hiddenTemplateManage=false;hiddenEmrWrapper=true;">返回列表</button>
      <!-- <button [hidden]="emrTemplate.status!='1'" type="button" class="btn" (click)="showTemplateDistributeDialog(null)">发布</button> -->
  </div>
</div>
<div class="ui-g-12 box clearfix" [hidden]="hiddenTemplateManage">
  <div class="ui-g-12 search-box clearfix">
    <form (ngSubmit)="searchParams.page.currentPage=1;getEmrTemplateList()">
      <div style="display:flex;align-items: center;flex-wrap: wrap;">
          <div>
            <span class="mr_5 condition-name" style="vertical-align: middle;">目录</span>
            <p-dropdown [options]="searchEmrBaseFolderList" [style]="{'width':'157px'}"
                        [(ngModel)]="selectedSearchEmrBaseFolder"
                        [filter]="true"
                        filterPlaceholder="请搜索..."
                        emptyFilterMessage="暂无搜索结果"
                        [resetFilterOnHide]="true"
                        [ngModelOptions]="{standalone: true}"
                        optionLabel="name"></p-dropdown>
            <span class="mr_5 ml-10 condition-name" style="width: 60px;vertical-align: middle;">模板名称</span>
            <input type="text" pInputText style="vertical-align: middle;" class="inp" [(ngModel)]="emrTemplateSearchName" placeholder="请输入"
                   [ngModelOptions]="{standalone: true}">
            <span class="mr_5 ml-10 condition-name" style="width: 60px;vertical-align: middle;">模板分类</span>
            <p-dropdown [options]="templateStatusOptions" [style]="{'width':'90px'}"
                        [(ngModel)]="templateStatusValue"
                        [ngModelOptions]="{standalone: true}"></p-dropdown>
            <span class="mr_5 ml-10 condition-name" style="width: 40px;vertical-align: middle;">应用系统</span>
            <p-dropdown [options]="applySystemList" [style]="{'width':'90px'}"
                        [(ngModel)]="selectApplySystem"
                        [ngModelOptions]="{standalone: true}"
                        optionLabel="label"></p-dropdown>
          </div>
          <div class="ui-g search-box-3" *ngIf="selectedValues == '1'">
              <span class="mr_5 ml-10 condition-name" style="width: 32px;vertical-align: middle;">医院</span>
              <p-dropdown [options]="searchEmrHospitalList" [style]="{'width':'178px'}"
                          [filter]="true"
                          filterPlaceholder="请搜索..."
                          emptyFilterMessage="暂无搜索结果"
                          [resetFilterOnHide]="true"
                          [(ngModel)]="selectedSearchEmrHospital"
                          [ngModelOptions]="{standalone: true}"
                          (onChange)="getEmrDeptList(null)"
                          optionLabel="name" [disabled]="isHospitalRole"></p-dropdown>
              <span class="mr_5 ml-10 condition-name" style="width: 60px;vertical-align: middle;padding-left: 4px;">应用科室</span>
              <p-dropdown [options]="searchEmrHospitalDeptList" [style]="{'width':'170px'}"
                          style="padding-left: 4px;"
                          [filter]="true"
                          filterPlaceholder="请搜索..."
                          emptyFilterMessage="暂无搜索结果"
                          [resetFilterOnHide]="true"
                          [(ngModel)]="selectedSearchEmrDept"
                          [ngModelOptions]="{standalone: true}"
                          optionLabel="name"></p-dropdown>
          </div>
        </div>
        <div style="display:flex">
        <div style="width:60%">
        <div class="ui-g search-box-2">
              <span>模板类别</span>
              <p-radioButton class="mr-10" name="temType" value="门诊" label="门诊" [(ngModel)]="templateType"></p-radioButton>
              <p-radioButton class="mr-20" name="temType" value="住院" label="住院" [(ngModel)]="templateType"></p-radioButton>
              <span>发布状态</span>
              <!-- <p-checkbox  name="disTatus" value="0" label="未发布" [(ngModel)]="selectedValues"></p-checkbox>
              <p-checkbox  name="disTatus" value="1" label="已发布" [(ngModel)]="selectedValues"></p-checkbox> -->
              <p-radioButton class="mr-10" name="disTatus" value="0" label="未发布" (onClick)="getEmrTemplateList()" [(ngModel)]="selectedValues"></p-radioButton>
              <p-radioButton class="mr-10" name="disTatus" value="1" [ngStyle]="{'padding-right': '15px'}" label="已发布" (onClick)="getEmrTemplateList()" [(ngModel)]="selectedValues"></p-radioButton>
            <button pButton type="submit" icon="fa-search" style="min-width: 64px;"
                    label="查询"></button>
        </div>
        </div>
        <div class="right-btn">
          <button type="button" pButton icon="fa-plus"
          (click)="showTemplateNewDialog()" label="新建">
          </button>
          <!-- <button type="button" pButton icon="fa-check" style="float:left"
          (click)="disTemplates()" label="发布">
          </button> -->
          <!-- <button type="button" pButton icon="fa-plus" style="float:left"
          (click)="showTemplateNewDialog()" label="导入模板">
          </button> -->
          <p-fileUpload #fubauto mode="basic" name="uploadfile" [url]="uploadUrl"

                      style="margin-left: 10px;"
                      (onError)="onUploadError($event)"
                      (onUpload)="onUploadComplete($event)" maxFileSize="100000000" [auto]="true" chooseLabel="导入模板"></p-fileUpload>
          <button class="ml-10" type="button" pButton icon="fa-download"
          (click)="exportEmrTemplate()" label="导出模板">
          </button>

        </div>
      </div>
    </form>
  </div>
  <div class="ui-g-12 content-box" style="height:calc(100vh - 195px)" [ngClass]="{'not-release-box':selectedValues != '1'}">
    <p-dataTable #dt [style]="{'max-height':'calc(100vh - 200px)'}" [value]="emrTemplateList" emptyMessage="未检索到模板制作信息！" [(selection)]="selectedDisEmrtemplates" [paginator]="true" [pageLinks]="3" [rows]="10" fixedPaginator="true" scrollable="true" scrollHeight="calc(100vh - 285px)">
      <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
      <p-column  header="序号"  [style]="{'width':'45px'}">
        <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
          <span>{{ i+1}}</span>
                  </ng-template>
      </p-column>
      <p-column field="folderName" header="模板目录" [style]="{'width':'80px'}"></p-column>
      <p-column field="templateName" header="模板名称" [style]="{'width':'160px'}">
        <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
          <a href="javascript:void(0)" class="template-edit-a"
        (click)="openTemplateEditorClient(item)" style="color:#4297fe;text-decoration-line: underline;">
        {{item ? item.templateTrueName : ''}}
      </a>
                  </ng-template>
      </p-column>
      <!-- <p-column  header="发布状态"  [style]="{'width':'80px'}">
        <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
          <span>{{ item.status == '0'?"未发布":"已发布"}}</span>
        </ng-template>

      </p-column> -->
      <p-column field="description" header="模板描述" [style]="{'width':'80px'}"></p-column>
      <!-- <p-column header="模板类别" field="inpType" [style]="{'width':'40px'}">

      </p-column> -->
      <p-column header="模板分类" [style]="{'width':'80px'}">
        <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
          <span>{{ item.type == '0'?"固定模板":(item.type == '1'?'质控模板':'自由模板')}}</span>
        </ng-template>
      </p-column>
      <p-column field="createUser" header="创建人" [style]="{'width':'60px'}"></p-column>
      <p-column field="template.createDate" header="创建日期" [style]="{'width':'100px'}">
        <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
          <span>{{ item['createDate'] | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        </ng-template>
      </p-column>
      <p-column *ngIf="selectedValues == '1'" field="disUserName" header="发布人" [style]="{'width':'60px'}">

      </p-column>
      <p-column *ngIf="selectedValues == '1'"  header="发布时间" [style]="{'width':'100px'}">
        <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
          <span>{{ item['disTime'] | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        </ng-template>
      </p-column>
      <p-column header="应用系统" [style]="{'width':'80px'}">
        <ng-template let-car="rowData" pTemplate="body">
          <span> {{car['applySystem']}}</span>
        </ng-template>
      </p-column>
      <p-column header="应用医院" [style]="{'width':'100px'}">
        <ng-template let-car="rowData" pTemplate="body">
          <span> {{hosMap(car['hosnum'])}}</span>
      </ng-template>

      </p-column>
      <p-column *ngIf="selectedValues == '1'" header="应用科室" [style]="{'width':'80px'}">
        <ng-template let-car="rowData" pTemplate="body">
          <span> {{deptMap(car['hosnum'],car['deptId'])}}</span>
      </ng-template>

      </p-column>

      <p-column header="版本号" [style]="{'width':'60px'}">
        <ng-template let-item="rowData" let-i="rowIndex" pTemplate="body">
          <span>{{ item['systemVersion'] == 0 ? '':item['systemVersion'] }}</span>
        </ng-template>
      </p-column>

      <p-column styleClass="col-button"  [style]="{'width':'250px','font-size':'12px'}" >
        <ng-template pTemplate="header">
            <span>操作</span>
        </ng-template>
        <ng-template let-car="rowData" pTemplate="body">
          <button type="button" pButton   (click)="disTemplate(car)" label="发布"></button>
        <button type="button" pButton (click)="otherVersionTemplate(car)" label="历史"></button>
        <button type="button" pButton   (click)="deleteTemplate(car)" label="删除"></button>
        <button *ngIf="car['status'] != '0'" type="button" pButton   (click)="revetTemplate(car)" label="撤销"></button>
        </ng-template>
      </p-column>
    </p-dataTable>

  </div>

<!-- 新建 -->
<p-dialog header="新建医院模板" [(visible)]="displayNewTemplateDialog" [contentStyle]="{'overflow':'visible'}"
          [responsive]="true" showEffect="fade" [modal]="true" [width]="600">
  <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-g-12 pd4px">
        <div class="ui-g-4">
          <label for="folder">参考模板</label>
        </div>
        <div class="ui-g-4">
          <p-dropdown [options]="emrBaseFolderList"
                      [style]="{'width':'100%'}"
                      [(ngModel)]="selectedEmrBaseFolder"
                      [filter]="true"
                      filterPlaceholder="请搜索..."
                      emptyFilterMessage="暂无搜索结果"
                      [resetFilterOnHide]="true"
                      (onChange)="getBaseTemplateList()"
                      optionLabel="name"></p-dropdown>
        </div>
        <div class="ui-g-4">
          <p-dropdown [options]="emrBaseTemplateList"
                      [style]="{'width':'100%'}"
                      [filter]="true"
                      filterPlaceholder="请搜索..."
                      emptyFilterMessage="暂无搜索结果"
                      [resetFilterOnHide]="true"
                      [(ngModel)]="selectedEmrBaseTemplate" dataKey="_id"
                      (onChange)="getBaseTemplateStore()"
                      optionLabel="templateName"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-12 pd4px">
        <div class="ui-g-8" style="float: right;">
          <p-dropdown [options]="emrTemplateListOptions"
                      [style]="{'width':'100%'}"
                      [filter]="true"
                      filterPlaceholder="请搜索..."
                      emptyFilterMessage="暂无搜索结果"
                      [resetFilterOnHide]="true"
                      [(ngModel)]="selectedEmrTemplate"
                      optionLabel="labelName"></p-dropdown>
        </div>
      </div>
      <div class="ui-g-12 pd4px">
        <div class="ui-g-4">
          <label for="description">模板分类</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown [options]="newTemplateStatusOptions" [style.width.%]="100" [style]="{'width': '98%'}"
          [(ngModel)]="newTemplateStatusValue"
          [ngModelOptions]="{standalone: true}"

          ></p-dropdown>
        </div>
      </div>
      <div class="ui-g-12 pd4px">
        <div class="ui-g-4">
          <label for="description">应用系统</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown [options]="applySystemList"
                      [style]="{'width':'100%'}"
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="selectNewApplySystem"
                      optionLabel="label"></p-dropdown>

        </div>
      </div>
      <div class="ui-g-12 pd4px">
        <div class="ui-g-4">
          <label for="description">应用医院</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown [options]="searchEmrHospitalList"
                      [style]="{'width':'100%'}"
                      [(ngModel)]="selectedNewHos"
                      [filter]="true"
                      filterPlaceholder="请搜索..."
                      emptyFilterMessage="暂无搜索结果"
                      [resetFilterOnHide]="true"
                      optionLabel="name"></p-dropdown>

        </div>
      </div>
      <div class="ui-g-12 pd4px">
        <div class="ui-g-4">
          <label for="createUser">创建人</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText style="width: 100%" class="inp" [(ngModel)]="createUserName" placeholder="请输入创建人用户名"
          [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="ui-g-12 pd4px">
        <div class="ui-g-4">
          <label for="description">描述</label>
        </div>
        <div class="ui-g-8">
           <textarea [rows]="5" [cols]="30"
                     style="width: 100%;"
                     pInputTextarea autoResize="autoResize"
                     [(ngModel)]="newDescription">

          </textarea>
        </div>
      </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="displayNewTemplateDialog=false" label="取消"></button>
      <button type="button" pButton icon="fa-check"
              (click)="saveEmrTemplate()"
              label="确定"></button>
    </div>
  </p-footer>
</p-dialog>


<!-- 历史版本 -->
<p-dialog header="历史模板" [(visible)]="displayHistoryTemplateDialog" [contentStyle]="{'overflow':'visible','padding':'10px 20px'}"
   [responsive]="true" showEffect="fade" [modal]="true" [width]="640" class="log-dialog">
  <div>
      <p-dataTable [value]="emrTemplateHistoryList" scrollable="true" scrollHeight="500px">
        <p-column header="操作时间">
          <ng-template let-templateLog="rowData" pTemplate="body">
            <span>{{templateLog.editDate | date:'yyyy-MM-dd HH:mm:ss' }}</span>
          </ng-template>
        </p-column>
        <!-- <p-column header="版本">
          <ng-template let-templateLog="rowData" pTemplate="body">
            <span>{{ templateLog.version}}</span>
          </ng-template>
        </p-column> -->
        <p-column field="description" header="备注说明"></p-column>
        <p-column field="disUserName" styleClass="col-button" header="操作人"></p-column>
        <!-- <p-column field="systemVersion" styleClass="col-button" header="版本号"></p-column> -->
        <p-column field="description" styleClass="col-button" header="操作" [style]="{'font-size':'12px'}" >
          <ng-template let-templateConsoleDoc="rowData" pTemplate="body">
            <!-- <button type="button" class="log-scan-btn"
                 (click)="openTemplateLogEditorClient(templateLog)">日志</button> -->
                 <button type="button" pButton class="log-scan-btn"
                 (click)="openTemplateHistoryEditorClient(templateConsoleDoc)" label="查看"></button>
          </ng-template>

        </p-column>

          <ng-template pTemplate="emptymessage">
            <tr style="line-height: 45px;text-align: center;">
              <td [attr.colspan]="5">
                未查询到日志信息！
              </td>
            </tr>
          </ng-template>
        </p-dataTable>
  </div>
</p-dialog>




</div>
<!-- 编辑器窗口 -->
<div [class]="myEmrWrapperClass" [hidden]="hiddenEmrWrapper" style="margin-top: -41px;">
  <editor-wrapper [editorDisplay]="editorDisplay" [intEditorUrl]="intEditorUrl"></editor-wrapper>
</div>

<!--iframe嵌入编辑器-->
<p-dialog [header]="editorDialogHeader"
          [(visible)]="editorDialogDisplay"
          styleClass="ediotrDialog"
          modal="true"
          closeOnEscape="false"
          [responsive]="true">
  <iframe #editorIframe width="100%" height="100%"></iframe>
</p-dialog>

<!-- 发布 -->
<p-dialog header="发布模板" [(visible)]="displayPushTemplateDialog" [contentStyle]="{'overflow':'visible'}"
          [responsive]="true" showEffect="fade" [modal]="true" [width]="600">
  <div class="ui-grid ui-grid-responsive ui-fluid">
      <!-- <div class="ui-g-12 pd4px">
        <div class="ui-g-4">
          <label for="folder">医院(默认区域)</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown [options]="searchEmrHospitalList"
                      [style]="{'width':'100%'}"
                      [(ngModel)]="selectedDisHos"
                      [filter]="true"
                      filterPlaceholder="请搜索..."
                      emptyFilterMessage="暂无搜索结果"
                      [resetFilterOnHide]="true"
                      (onChange)="getDisDeptList()"
                      optionLabel="name"></p-dropdown>
        </div>

      </div> -->

      <div class="ui-g-12 pd4px" *ngIf="disHos">
        <div class="ui-g-4">
          <label for="description">科室</label>
        </div>
        <div class="ui-g-8">
          <p-dropdown [options]="disDeptList" [style.width.%]="100" [style]="{'width': '98%'}"
          [(ngModel)]="selectedDisDept"
          [filter]="true"
          filterPlaceholder="请搜索..."
          emptyFilterMessage="暂无搜索结果"
          [resetFilterOnHide]="true"
          [ngModelOptions]="{standalone: true}"
          optionLabel="name">
          </p-dropdown>
        </div>
      </div>

      <div class="ui-g-12 pd4px">
        <div class="ui-g-4">
          <label for="createUser">发布人</label>
        </div>
        <div class="ui-g-8">
          <input type="text" pInputText style="width: 100%" class="inp" [(ngModel)]="publishUserName" placeholder="请输入发布人用户名"
          [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="ui-g-12 pd4px">
        <div class="ui-g-4">
          <label>描述</label>
        </div>
        <div class="ui-g-8">
          <textarea [rows]="5" [cols]="30"
                     style="width: 100%;"
                     pInputTextarea autoResize="autoResize"
                     [(ngModel)]="pushDescription" ></textarea>
        </div>
      </div>
      <div *ngIf="this.searchParams['发布状态'] == '1'"  class="ui-g-12 pd4px">
        <div class="ui-g-4">
          <label>是否修改数据元</label>
        </div>
        <div class="ui-g-8">
          <p-inputSwitch [(ngModel)]="updateDataSource" checkedString = "是" unCheckedString = "否"></p-inputSwitch>
        </div>
      </div>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="displayPushTemplateDialog=false" label="取消"></button>
      <button type="button" pButton icon="fa-check"
              (click)="confirmDis()"
              label="确定"></button>
    </div>
  </p-footer>
</p-dialog>