.form-config {
    width: 98%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    .form-head {
        display: inline-block;
        width: 100%;
        height: 30px;
        padding: 0 0 0 20px;
        border-bottom: 2px solid #CBCFD0;
        font-size: 16px;
    }
    .form-main-container {
        position: relative;
        height: calc(100% - 30px);
        .left-tree-area {
            display: inline-block;
            width: 20%;
            height: 100%;
            background: white;
            .hospital-search-block {
                height: 28px;
            }
            .left-tree-list {
                height: calc(100% - 28px);
            }
        }
        .right-area {
            position: relative;
            display: inline-block;
            height: 100%;
            padding: 0 10px;
            vertical-align: top;
        }
    }
    /deep/ .ui-dialog.ui-widget .ui-dialog-content {
        padding: 1em 1.2em;
        line-height: 1.5;
    }
    /deep/ .ui-grid-responsive .ui-grid-row {
        padding-bottom: .5rem;
    }
    /deep/.ui-widget   {
        .ui-spinner-button.ui-button {
            border-radius: 0;
        }
        .ui-spinner-button.ui-button.ui-corner-tr {
            border-top-right-radius: 3px;
        }
        .ui-spinner-button.ui-button.ui-corner-br {
            border-bottom-right-radius: 3px;
        }
    }
}
.text-over{
    //text-align: center;
    text-overflow:ellipsis !important;
    overflow:hidden !important;
    white-space: nowrap !important;
    word-break: break-all;
    &:hover {
        text-overflow: inherit !important;
        overflow: visible !important;
        white-space: inherit !important;
        word-break: inherit !important;
    }
}
.padding{
  padding: 0.5rem;
}
:host ::ng-deep .ui-tree{
    width: 100%;
 }
 :host ::ng-deep.ui-menu   {
  background-color: #ffffff;
  padding: 0;
  &:hover{
      cursor: pointer;
      color: white;
      span{
          background-color: transparent;
      }
  }

}

 :host ::ng-deep .ui-dialog .ui-dialog-content{
     overflow: visible;
 }

:host ::ng-deep span.ui-spinner{
  width: 100%;
}

.row-label-text{
    box-sizing: border-box;
    width: 20%;
    label{
        //float: right;
    }
}
.row-input {
    box-sizing: border-box;
    width: 30%;
}

.ui-g-slef-12 {
    float: left;
    box-sizing: border-box;
    width: 100%;
}
:host ::ng-deep .ui-tree{
    width: 100%;
}

.tree{
    height:calc(100% - 2.5rem);
    overflow:scroll;
    margin-top: 0.5rem;
}
.width1{
    padding-left: 5px;
    width: 13%;
}
.width2{
    width: 24%;
}
.paddingL{
    padding-left: 1rem !important;
}
.showTable{
    display:block;
}
.hideTable{
    display:none;
}
.tableFather{
    height:calc(100% - 42.2px);
}

.table-tree{
    position: relative;
    display: block;
    width: 100%;
    height: calc(100% - 42.2px);
    overflow: hidden;
}
// :host ::ng-deep .yulan .ui-dialog.ui-widget .ui-dialog-content{
//     overflow-x: hidden;
//     overflow-y: scroll;
// }

:host ::ng-deep .measure .ui-dialog.ui-widget .ui-dialog-content{
    max-height: 457px;
    // min-height: 455px;
    padding: 0em 0.3em;
}

/********************以下为表单预览用到的样式*******************************************************/
$headerHeight:3rem;
$marginRight:0.5rem;
$titleHeight:80px;
.defaultNone{
    display:none;
}
.header,.templateDialogButtonGroup{
    display:flex;
    height:3rem;
    padding: 0.5rem;
    box-sizing: border-box;
    .buttonContent{
        width:auto;
        margin-right:$marginRight;
    }
    .headerDateContent{
        display:flex;
        .timeContent{
            width:auto;
            margin-right:$marginRight;
        }
        .textContent{
            display:flex;
            align-items: center;
            margin-right:$marginRight;
        }
    }
}
.content{
    height:100%;
    width:100%;
    background:#fff;
    overflow-y: auto;
    padding:1rem;
    box-sizing: border-box;
    .scrollContent{
        height:auto;
        width:100%;
        display: inline-block;
        vertical-align: top;
        margin: 0.3rem 0;
        box-sizing: border-box;
    }
}
/*һ������*/
.firstTitle{
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    //color: $nursingBgColor;
}
/*����*/
.dateContent{
    margin-right:2rem;
    width:100%;
    display:flex;
}
/*����*/
.skipContent{
    margin-right:2rem;
    width:100%;
    display:flex;
    .title{
        cursor: pointer;
        text-decoration: underline;
        color:#2266cc;
        &:hover{
            color:#3e82f7;
        }
    }
    .skipText{
        background: #fff;
        color: #404447;
        border: 1px solid #e1e3e4;
        display: flex;
        align-items: center;
        min-width: 8rem;
    }
}
/*.skipCtrl{
    cursor: pointer;
    //text-decoration: underline;
    color:$nursingBgColor;
    display:flex;
    align-items:center;
    margin: 0 1rem;
    line-height: 2rem;

}*/
/*������*/
.selectContent{
    margin-right:$marginRight;
    width:100%;
    display:flex;
    p-dropdown, p-multiselect{
        flex-grow:1;
    }

}
/*ֻ���ı�*/
.disabledContent{
    width:100%;
    flex-grow:0;
    margin-right: $marginRight;
    input{
        width:100%;
        box-sizing: border-box;
        min-height:1.6rem;
    }
}
/*һ��ֻ���ı�*/
.firstDisabledContent{
    display:flex;
    min-height:2rem;
    width:auto;
    margin-right:$marginRight;
    align-items: center;
    input{
        height:90%;
    }
}
/*����*/
.firstChildren{
    width:100%;
    flex-grow: 0;
    flex-shrink: 1;
    display:flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    box-sizing: border-box;
}
.title{
    //flex-grow: 1;
    flex-shrink: 0;
    //max-width: 8rem;
    margin-right:$marginRight;
    line-height: 1.8rem;
    font-size:1rem;
}
.children{
    width:calc(100% - 5rem);
    flex-grow: 0;
    flex-shrink: 1;
    display:flex;
    flex-wrap: wrap;
    border:1px solid #ddd;
    padding:0 0.5rem;
    box-sizing: border-box;
}
/*һ���ı����ѡ���ѡ��*/
label{
    &.inputLabel{
        display:flex;
        margin-right:$marginRight;
        width: 100%;
        .title{
            margin-right:$marginRight;
        }
        input{
            width:100%;
            box-sizing: border-box;
        }
    }
    &.checkboxLabel{
        //margin-right:$marginRight;
        .title{
            margin-right:$marginRight;
            vertical-align: middle;
            display:inline-block;
        }
    }
}
/*��ѡ���븴ѡ������*/
.childrenContent{
    width:auto;
    display:flex;
    margin: 0.3rem 0;
    //padding-right: 0.5rem;
    box-sizing: border-box;
    //flex-grow: 1;
    flex-shrink: 1;
    min-height:2rem;
}
/*:host ::ng-deep .ui-dialog-content.ui-widget-content{
    min-height: 40vh;
    height: calc(100% - 45px);
}*/
.tableContent{
    height: calc(100% - 3rem);
    overflow:auto;
    width:100%;
}
.editdialogContent{
    height:100%;
    display:flex;
    flex-wrap: wrap;
    //overflow:auto;
    align-content: flex-start;
    .children{
        width:100%;
    }
    .childrenContent{
        width:50%;
        flex-grow: 1;
        margin:0.5rem 0;
        padding-right:1rem;
    }
}
.templateDialogContent{
    height:100%;
    .templateContent{
        height: calc(100% - 4rem - 150px);
    }
    .editTemplateContent{
        height:calc(100% - 3rem);
    }
    .templateDialogButtonGroup{
        width:100%;
        padding-left:0;
    }
    .recordContent{
        width:100%;
        height: 120px;
        margin-bottom: 1rem;
        textarea{
            width:100%;
            height:calc(100% - 1.5rem);
            resize:none;
        }
    }
    .templateTitle{
        font-size:1rem;
        line-height: 1.5rem;
    }
    .selectContent{
        width:auto;
    }
}
.statisticsDialog{
    .statisticsTitle{
        width:auto;
        display:flex;
        align-items: center;
        margin-right:0.5rem;
    }
    .statisticsTopRow{
        height:3rem;
        display:flex;
        padding:0.5rem 0;
        .statisticsDateContent{
            display:flex;
            margin-right: 1rem;
            width:calc(50% - 5rem);
        }
    }
    .statisticsContent{
        height:calc(100% - 6rem);
        display:flex;
        .statisticsLeft{
            width:50%;
            &:first-of-type{
                padding-right:1rem;
            }
            &:last-of-type{
                padding-left:1rem;
            }
            .statisticsTableContent{
                height:220px;
                width:100%;
                background: #fff;
                border: 1px solid #ccc;
                margin:0.5rem 0;
            }
            .statisticsRowContent{
                display:flex;
                padding:0.5rem 0;
                height:3rem;
            }
        }
    }
    .statisticsAlert{
        height:3rem;
        display:flex;
        align-items: center;
    }
}
/*:host ::ng-deep .ui-cell-data{
    display:inline-block;
    width:100%;
    height:100%;
}*/
.redText{
    color:#f00;
}
.risk{
    height: 100%;
}
.assess_content{
    height: 100%;
    //height: 700px;
    overflow: auto;
    .scrollContent{
        height:auto;
        width:100%;
    }
    /*һ������*/
    .firstTitle{
        //padding-top: 2rem;
        font-size: 1.2rem;
        font-weight: 600;
        //color: $nursingBgColor;
        font-style:normal;
        width: auto;
        display: inline-block;
    }
    /*����*/
    .dateContent{
        margin-right:2rem;
        width:100%;
        display:flex;
    }
    /*����*/
    .skipCtrl{
        cursor: pointer;
        //text-decoration: underline;
        //color:$nursingBgColor;
        display:flex;
        align-items:center;
        &:hover{
            color:#3e82f7;
        }
    }
    /*������*/
    .selectContent{
        margin-right:$marginRight;
        width:auto;
        display:flex;
    }
    /*ֻ���ı�*/
    .disabledContent{
        width:100%;
        flex-grow:0;
        margin-right: $marginRight;
        input{
            width:100%;
            box-sizing: border-box;
            min-height:1.6rem;
        }
    }
    /*һ��ֻ���ı�*/
    .firstDisabledContent{
        display:flex;
        min-height:2rem;
        width:auto;
        margin-right:$marginRight;
        align-items: center;
        input{
            height:90%;
        }
    }
    /*����*/
    .firstChildren{
        display: flex;
        width:100%;
        flex-grow: 0;
        flex-shrink: 1;
        //display:flex;
        flex-wrap: wrap;
        //padding: 1.5rem;
        box-sizing: border-box;
        padding: 0;
        .title{
            //flex-grow: 1;
            flex-shrink: 0;
            //max-width: 8rem;
            margin-top: .5em;
            margin-right:$marginRight;
            line-height: 1.5rem;
            padding: 9px;
            width: auto;
        }
        .children{
            width:calc(100% - 5rem);
            flex-grow: 0;
            flex-shrink: 1;
            display:flex;
            flex-wrap: wrap;
            border:1px solid #ddd;
            padding:0 0.5rem;
            box-sizing: border-box;
        }
        /*һ���ı����ѡ���ѡ��*/
        label{
            &.inputLabel{
                display:flex;
                margin-right:$marginRight;
                margin-top: .5em;
                width: 70%;
                .title{
                    margin-right:$marginRight;
                }
                input{
                    width:100%;
                    box-sizing: border-box;
                }
            }
            &.checkboxLabel{
                margin-top: .5em;
                .check_box{
                    margin-right:0;
                }
                //margin-right:$marginRight;
                .title{
                    margin-right:$marginRight;
                    vertical-align: middle;
                    display:inline;
                }
            }
        }
        /*��ѡ���븴ѡ������*/
        .childrenContent{
            width:25%;
            display:flex;
            margin: 0.3rem 0;
            padding-right: 0.5rem;
            box-sizing: border-box;
            //flex-grow: 1;
            flex-shrink: 1;
            // min-height:2rem;
        }
    }
}
.add_titel{
    height: 80px;
    background-color: #F5F5F5;
    margin-top: 5px;
    .assess_font{
        font-weight: 600;
        font-size: 22px !important;
    }
    .level_score{
        //padding-left: 20px;
        font-weight: 500;
        /* font-weight: 600; */
        font-size: 22px !important;
    }
    .detail_h{
        height: 100%;
        //padding-left: 5px;
        font-size: 17px;
        text-align: center;
    }
    .div_center{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .save_assess{
        width: $titleHeight;
        //&:hover{
        //    background-color: darkgrey;
        //    cursor: pointer;
        //}
    }
}
:host ::ng-deep .ui-cell-data{
    word-break: break-all;
}
:host ::ng-deep .ui-confirmdialog{
    z-index: 10001 !important;
}
/*:host ::ng-deep .ui-dialog.ui-widget{
    z-index: 9999 !important;
}*/
:host ::ng-deep .ui-tooltip {
    position: absolute;
    display: none;
    padding: .25em .5em;
    max-width: 12.5em;
    z-index: 8888888 !important;
}
:host ::ng-deep .ui-tooltip .ui-tooltip-text {
    padding: .125em .5em;
    background-color: #ffffff;
    color: rgba(15, 9, 11, 0.64);
    white-space: pre-line;
}
:host ::ng-deep .ui-dialog .ui-dialog-titlebar{
    text-align: center;
}
// :host ::ng-deep .yulan .ui-dialog.ui-widget .ui-dialog-content{
//     height: 450px !important;
// }
:host ::ng-deep .tableContent {
    overflow: hidden;
}
// 上下两部分
.shangxia{
        //height:calc(100% - #{$headerHeight});
        width:100%;
        background:#fff;
        overflow-y: auto;
        padding:0.5rem;
        box-sizing: border-box;
        .scrollContent{
            height:auto;
            width:100%;
            display: inline-block;
            vertical-align: top;
            margin: 0.3rem 2rem;
            box-sizing: border-box;
        }

    .firstTitle{
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
}
    /*日期*/
    .dateContent{
        margin-right:2rem;
        width:100%;
        display:flex;
    }
    /*链接*/
    .skipContent{
        margin-right:2rem;
        width:100%;
        display:flex;
        .title{
            cursor: pointer;
            text-decoration: underline;
            color:#2266cc;
            &:hover{
                color:#3e82f7;
            }
        }
        .skipText{
            background: #fff;
            color: #404447;
            border: 1px solid #e1e3e4;
            display: flex;
            align-items: center;
            min-width: 8rem;
        }
    }
    /*下拉框*/
    .selectContent{
        margin-right:$marginRight;
        width:100%;
        display:flex;
        p-dropdown, p-multiselect{
            flex-grow:1;
        }

    }
    /*只读文本*/
    .disabledContent{
        width:100%;
        flex-grow:0;
        margin-right: $marginRight;
        input{
            width:100%;
            box-sizing: border-box;
            min-height:1.6rem;
        }
    }
    /*一级只读文本*/
    .firstDisabledContent{
        display:flex;
        min-height:2rem;
        width:auto;
        margin-right:$marginRight;
        align-items: center;
        input{
            height:90%;
        }
    }
    /*子类*/
    .firstChildren{
        width:100%;
        flex-grow: 0;
        flex-shrink: 1;
        display:flex;
        flex-wrap: wrap;
        padding: 1rem 0;
        box-sizing: border-box;
    }
    .title{
        //flex-grow: 1;
        flex-shrink: 0;
        //max-width: 8rem;
        margin-right:$marginRight;
        line-height: 1.8rem;
        font-size:1rem;
    }
    .children{
        width:calc(100% - 5rem);
        flex-grow: 0;
        flex-shrink: 1;
        display:flex;
        flex-wrap: wrap;
        border:1px solid #ddd;
        padding:0 0.5rem;
        box-sizing: border-box;
    }
    /*一个文本框或单选框或复选框*/
    label{
        &.inputLabel{
            display:flex;
            margin-right:$marginRight;
            width: 100%;
            .title{
                margin-right:$marginRight;
            }
            input{
                width:100%;
                box-sizing: border-box;
            }
        }
        &.checkboxLabel{
            //margin-right:$marginRight;
            .title{
                margin-right:$marginRight;
                vertical-align: middle;
                display:inline-block;
            }
        }
    }
    /*单选框与复选框子项*/
    .childrenContent{
        width:auto;
        display:flex;
        margin: 0.3rem 0;
        //padding-right: 0.5rem;
        box-sizing: border-box;
        //flex-grow: 1;
        flex-shrink: 1;
        min-height:2rem;
    }
    .editdialogContent{
        height:100%;
        display:flex;
        flex-wrap: wrap;
        //overflow:auto;
        align-content: flex-start;
        .children{
            width:100%;
        }
        .childrenContent{
            width:50%;
            flex-grow: 1;
            margin:0.5rem 0;
            padding-right:1rem;
        }
    }
    .templateDialogContent{
        height:100%;
        .templateContent{
            height: calc(100% - 4rem - 150px);
        }
        .editTemplateContent{
            height:calc(100% - 3rem);
        }
        .templateDialogButtonGroup{
            width:100%;
            padding-left:0;
        }
        .recordContent{
            width:100%;
            height: 120px;
            margin-bottom: 1rem;
            textarea{
                width:100%;
                height:calc(100% - 1.5rem);
                resize:none;
            }
        }
        .templateTitle{
            font-size:1rem;
            line-height: 1.5rem;
        }
        .selectContent{
            width:auto;
        }
    }
    .statisticsDialog{
        .statisticsTitle{
            width:auto;
            display:flex;
            align-items: center;
            margin-right:0.5rem;
        }
        .statisticsTopRow{
            height:3rem;
            display:flex;
            padding:0.5rem 0;
            .statisticsDateContent{
                display:flex;
                margin-right: 3rem;
                width:calc(50% - 7rem);
                p-calendar{
                    width: calc(100% - 4rem);
                    input{
                        width:100%;
                    }
                }
            }
        }
        .statisticsContent{
            height:calc(100% - 6rem);
            display:flex;
            .statisticsLeft{
                width:50%;
                &:first-of-type{
                    padding-right:1rem;
                }
                &:last-of-type{
                    padding-left:1rem;
                }
                .statisticsTableContent{
                    height:220px;
                    width:100%;
                    background: #fff;
                    border: 1px solid #ccc;
                    margin:0.5rem 0;
                }
                .statisticsRowContent{
                    display:flex;
                    padding:0.5rem 0;
                    height:3rem;
                }
            }
        }
        .statisticsAlert{
            height:3rem;
            display:flex;
            align-items: center;
        }
    }
    .redText{
        color:#f00;
    }
    /*:host ::ng-deep .ui-cell-data{
        display:inline-block;
        width:100%;
        height:100%;
    }*/
    :host ::ng-deep .ui-cell-data{
        word-break: break-all;
    }
    :host ::ng-deep .ui-confirmdialog{
        z-index: 10001 !important;
    }
    :host ::ng-deep .ui-dialog.ui-widget{
        z-index: 9999 !important;
    }
    :host ::ng-deep .ui-tooltip {
        position: absolute;
        display: none;
        padding: .25em .5em;
        max-width: 12.5em;
        z-index: 8888888 !important;
    }
    :host ::ng-deep .ui-tooltip .ui-tooltip-text {
        padding: .125em .5em;
        background-color: #ffffff;
        color: rgba(15, 9, 11, 0.64);
        white-space: pre-line;
    }
    :host ::ng-deep .ui-dialog .ui-dialog-titlebar{
        text-align: center;
    }




    .header,.templateDialogButtonGroup{
        display:flex;
        height:$headerHeight;
        padding: 0.5rem;
        box-sizing: border-box;
        .buttonContent{
            width:auto;
            margin-right:$marginRight;
        }
        .headerDateContent{
            display:flex;
            .timeContent{
                width:auto;
                margin-right:$marginRight;
            }
            .textContent{
                display:flex;
                align-items: center;
                margin-right:$marginRight;
            }
        }
    }

    /*下拉框*/
    .selectContent{
        margin-right:$marginRight;
        width:100%;
        display:flex;
        p-dropdown, p-multiselect{
            flex-grow:1;
        }

    }
    /*只读文本*/
    .disabledContent{
        width:100%;
        flex-grow:0;
        margin-right: $marginRight;
        input{
            width:100%;
            box-sizing: border-box;
            min-height:1.6rem;
        }
    }
    /*一级只读文本*/
    .firstDisabledContent{
        display:flex;
        min-height:2rem;
        width:auto;
        margin-right:$marginRight;
        align-items: center;
        input{
            height:90%;
        }
    }
    /*子类*/
    .firstChildren{
        width:100%;
        flex-grow: 0;
        flex-shrink: 1;
        display:flex;
        flex-wrap: wrap;
        padding: 1rem 0;
        box-sizing: border-box;
    }
    .title{
        //flex-grow: 1;
        flex-shrink: 0;
        //max-width: 8rem;
        margin-right:$marginRight;
        line-height: 1.8rem;
        font-size:1rem;
    }
    .children{
        width:calc(100% - 5rem);
        flex-grow: 0;
        flex-shrink: 1;
        display:flex;
        flex-wrap: wrap;
        border:1px solid #ddd;
        padding:0 0.5rem;
        box-sizing: border-box;
    }
    /*一个文本框或单选框或复选框*/
    label{
        &.inputLabel{
            display:flex;
            margin-right:$marginRight;
            width: 100%;
            .title{
                margin-right:$marginRight;
            }
            input{
                width:100%;
                box-sizing: border-box;
            }
        }
        &.checkboxLabel{
            //margin-right:$marginRight;
            .title{
                margin-right:$marginRight;
                vertical-align: middle;
                display:inline-block;
            }
        }
    }
    /*单选框与复选框子项*/
    .childrenContent{
        width:auto;
        display:flex;
        margin: 0.3rem 0;
        //padding-right: 0.5rem;
        box-sizing: border-box;
        //flex-grow: 1;
        flex-shrink: 1;
        min-height:2rem;
    }
    .assess_content{
        height: calc(100% - 85px);
        //height: 700px;
        overflow: auto;
        .scrollContent{
            height:auto;
            width:100%;
        }
        /*一级标题*/
        .firstTitle{
            //padding-top: 2rem;
            font-size: 1.2rem;
            font-weight: 600;
            font-style:normal;
            width: auto;
            display: inline-block;
        }
        /*日期*/
        .dateContent{
            margin-right:2rem;
            width:100%;
            display:flex;
        }
        /*链接*/
        .skipCtrl{
            cursor: pointer;
            //text-decoration: underline;
            display:flex;
            align-items:center;
            &:hover{
                color:#3e82f7;
            }
        }
        /*下拉框*/
        .selectContent{
            margin-right:$marginRight;
            width:auto;
            display:flex;
        }
        /*只读文本*/
        .disabledContent{
            width:100%;
            flex-grow:0;
            margin-right: $marginRight;
            input{
                width:100%;
                box-sizing: border-box;
                min-height:1.6rem;
            }
        }
        /*一级只读文本*/
        .firstDisabledContent{
            display:flex;
            min-height:2rem;
            width:auto;
            margin-right:$marginRight;
            align-items: center;
            input{
                height:90%;
            }
        }
        /*子类*/
        .firstChildren{
            width:100%;
            flex-grow: 0;
            flex-shrink: 1;
            //display:flex;
            flex-wrap: wrap;
            //padding: 1.5rem;
            box-sizing: border-box;
            display: block;
            padding: 0;
            .title{
                //flex-grow: 1;
                flex-shrink: 0;
                //max-width: 8rem;
                margin-right:$marginRight;
                line-height: 1.5rem;
                padding: 9px;
                width: auto;
                max-width:100%;
            }
            .children{
                width:calc(100% - 5rem);
                flex-grow: 0;
                flex-shrink: 1;
                display:flex;
                flex-wrap: wrap;
                border:1px solid #ddd;
                padding:0 0.5rem;
                box-sizing: border-box;
            }
            /*一个文本框或单选框或复选框*/
            label{
                &.inputLabel{
                    display:flex;
                    margin-right:$marginRight;
                    width: 70%;
                    .title{
                        margin-right:$marginRight;
                    }
                    input{
                        width:100%;
                        box-sizing: border-box;
                    }
                }
                &.checkboxLabel{
                    //margin-right:$marginRight;
                    .title{
                        margin-right:$marginRight;
                        vertical-align: middle;
                        display:inline-block;
                    }
                }
            }
            /*单选框与复选框子项*/
            .childrenContent{
                width:auto;
                display:flex;
                margin: 0.3rem 0;
                padding-right: 0.5rem;
                box-sizing: border-box;
                //flex-grow: 1;
                flex-shrink: 1;
                // min-height:2rem;
            }
        }
    }
    .add_titel{
        height: 80px;
        background-color: #F5F5F5;
        margin-top: 5px;
        .assess_font{
            font-weight: 600;
            font-size: 22px !important;
        }
        .level_score{
            //padding-left: 20px;
            font-weight: 500;
            /* font-weight: 600; */
            font-size: 22px !important;
        }
        .detail_h{
            height: 100%;
            //padding-left: 5px;
            font-size: 17px;
            text-align: center;
        }
        .div_center{
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .save_assess{
            width: $titleHeight;
            //&:hover{
            //    background-color: darkgrey;
            //    cursor: pointer;
            //}
        }
    }
    :host ::ng-deep .ui-cell-data{
        word-break: break-all;
    }
    :host ::ng-deep .ui-confirmdialog{
        z-index: 10001 !important;
    }
    :host ::ng-deep .ui-dialog.ui-widget{
        z-index: 9999 !important;
    }
    :host ::ng-deep .ui-tooltip {
        position: absolute;
        display: none;
        padding: .25em .5em;
        max-width: 12.5em;
        z-index: 8888888 !important;
    }
    :host ::ng-deep .ui-tooltip .ui-tooltip-text {
        padding: .125em .5em;
        background-color: #ffffff;
        color: rgba(15, 9, 11, 0.64);
        white-space: pre-line;
    }
    :host ::ng-deep .ui-dialog .ui-dialog-titlebar{
        text-align: center;
    }
    :host ::ng-deep .statisticsDateContent  p-calendar input{
        width:100%;
    }

}
/********************以上为表单预览用到的样式 ，代码合并之后可以删除*******************************************************/
